In [1]:
##### NEW CODE for laptop to remain 

import pandas as pd
import os
import csv



def nse_data(nse_file_names):
    nse_df = []
    temp_df = []
    dely_segment = ['EQ', 'BE', 'SM', 'ST']

    for file_name in nse_file_names:
        file_path = os.path.join(directory, file_name)
        date = file_name[13:19]

        with open(file_path, 'r') as file:
            reader = csv.reader(file)
            for _, line in enumerate(reader, start=1):
                if len(line) >= 6 and line[3] in dely_segment:
                    nse_code = line[2]
                    dely = line[5]
                    segment = line[3]
                    new_row = {'NSE_Code': nse_code, 'Date': date, 'NSE_Delivery': dely, 'Segment': segment}
                    temp_df.append(new_row)

    nse_df = pd.concat([pd.DataFrame(temp_df)], ignore_index=True)
    return nse_df,temp_df


def bse_data(bse_file_name):
    
    
    
    # Create an empty DataFrame to store the results
    bse_df = []
    dely_segment = ['EQ','BE','SM','ST']

    

    for file_name in bse_file_name:
        file_path = os.path.join(directory, file_name)
        date = file_name[22:28] 
    
        with open(file_path, 'r') as file:
            reader = csv.reader(file)
            for i, line in enumerate(reader, start=1):
                if i >= 2:  # Start reading from line 5
                    line_str = ','.join(line)
                    data = line_str.split('|')
                    dely = data[2]
                    bse_code = data[1]
                    new_row = {'BSE_Code':bse_code, 'Date':date,'BSE_Delivery':dely}
                    bse_df.append(new_row)
    bse_df = pd.concat([pd.DataFrame(bse_df)], ignore_index=True)
                        
    return bse_df


def nse_price(nse_price_file):
    nse_df = pd.DataFrame(columns=['NSE_Code', 'Date', 'Price', 'PrevClose', 'Segment', 'Traded'])
    dely_segment = ['EQ', 'BE', 'SM', 'ST']

    for file_name in nse_price_file:
        file_path = os.path.join(directory, file_name)
        date = file_name[7:13]

        with open(file_path, 'r') as file:
            reader = csv.reader(file)
            
            for row in reader:
                if row[1] in dely_segment:
                    nse_code = row[0]
                    price = row[5]
                    prev_close = row[7]
                    segment = row[1]
                    traded = row[8]
                    nse_df = nse_df.append({'NSE_Code': nse_code, 'Date': date, 'Price': price, 'PrevClose': prev_close,
                                            'Segment': segment, 'Traded': traded}, ignore_index=True)

    return nse_df

def bse_price(bse_price_file):
    bse_df = pd.DataFrame(columns=['BSE_Code', 'Date', 'Price', 'PrevClose', 'Segment'])
    dely_segment = ['EQ', 'BE', 'SM', 'ST']

    for file_name in bse_price_file:
        file_path = os.path.join(directory, file_name)
        date = file_name[8:14]

        with open(file_path, 'r') as file:
            reader = csv.reader(file)
            next(reader)  # Skip the header row
            
            for row in reader:
                bse_code = row[0]
                price = row[7]
                prev_close = row[9]
                bse_group = row[2]
                bse_df = bse_df.append({'BSE_Code': bse_code, 'Date': date, 'Price': price, 'PrevClose': prev_close,
                                        'Segment': bse_group}, ignore_index=True)

    return bse_df

In [2]:
from platform import python_version
python_version()

'3.9.12'

In [3]:
### this program gives top 50 deliveries by value and volume for fno and non-fno. 
#### it also creates fno_csv and non_fno_csv which is used by multiple scrips program

### caution - if data file is already read, then it skips reading it. So if data is updated, close the program and restart it
#### to enable data file to be read again

In [4]:
### lenovo desktop file path
master_file_path = "C:\\Users\\User\\Dropbox\\SQL Stock Market Data\\Python Code from ChatGPT\\Master File\\CompanyMaster.csv"
directory = "C:\\Users\\User\\Dropbox\\SQL Stock Market Data\\Data Files\\"  # Replace with the path to your directory
output_path = "C:\\Users\\User\\Dropbox\\SQL Stock Market Data\\Python Code from ChatGPT\\Output File\\"

column_order = ['NSE_Code','BSE_Code','Date','NSE_Delivery','BSE_Delivery']

In [5]:
#### Lenovo laptop file path

master_file_path = "C:\\Users\\sarda\\Dropbox\\SQL Stock Market Data\\Python Code from ChatGPT\\Master File\\CompanyMaster.csv"
directory = "C:\\Users\\sarda\\Dropbox\\SQL Stock Market Data\\Data Files\\"  # Replace with the path to your directory
output_path = "C:\\Users\\sarda\\Dropbox\\SQL Stock Market Data\\Python Code from ChatGPT\\Output File\\"

column_order = ['NSE_Code','BSE_Code','Date','NSE_Delivery','BSE_Delivery']

In [6]:
import os
import csv
import pandas as pd


nse_dely_file = sorted([file for file in os.listdir(directory) if file.endswith('.csv') and file.startswith('NSE Delivery')], reverse=True)[:1]
bse_dely_file = sorted([file for file in os.listdir(directory) if file.endswith('.txt') and file.startswith('BSE Gross Deliverable ')], reverse=True)[:1]

nse_price_file = sorted([file for file in os.listdir(directory) if file.lower().endswith(('CSV','.csv')) and file.startswith('NSE EQ')], reverse=True)[:1]
bse_price_file = sorted([file for file in os.listdir(directory) if file.lower().endswith(('CSV','csv')) and file.startswith('EQ ISIN')], reverse=True)[:1]

nse_fno_file = sorted([file for file in os.listdir(directory) if file.startswith('NSE FNO')],reverse=True)[:1]

def extract_date(file_name,start):
    
    for i in file_name:
        end = start + 6
        dely_date = i[start:end]
        
    return dely_date

###result_str = str(int(number_str) + 6)

nse_dely_date = extract_date(nse_dely_file,13)
bse_dely_date = extract_date(bse_dely_file,22)

nse_price_date = extract_date(nse_price_file,7)
bse_price_date = extract_date(bse_price_file,8)


if nse_dely_date != bse_dely_date != nse_price_date != bse_price_date:
    print("dates dont match")
    print(nse_dely_date, ' ' , bse_dely_date , ' ' , nse_price_date , ' ' , bse_price_date)
else:
    print("processing for :", nse_dely_date)

processing for : 231103

In [7]:
print(nse_dely_file,nse_price_file,bse_dely_file,bse_price_file)

['NSE Delivery 231103.csv'] ['NSE EQ 231103.csv'] ['BSE Gross Deliverable 231103.txt'] ['EQ ISIN 231103.csv']

In [8]:
def nse_data(nse_file_name):
    
    
    
    nse_df = pd.DataFrame(columns=['NSE_Code','Date','NSE_Delivery','Segment'])
    dely_segment = ['EQ','BE','SM','ST']
    
    for file_name in nse_file_name:
        file_path = os.path.join(directory, file_name)
        date = file_name[13:19]
        
        with open(file_path,'r') as file:
            reader = csv.reader(file)
            for i, line in enumerate(reader, start=1):
                if i >= 5:
                    line_str = ','.join(line)
                    data = line_str.split(',')
                    if data[3] in dely_segment:
                        nse_code = data[2]
                        dely = data[5]
                        segment = data[3]
                        df_to_append = pd.DataFrame({'NSE_Code': [nse_code], 'Date': [date], 'NSE_Delivery': [dely], 
                                                     'Segment': [segment]})
                        nse_df = pd.concat([nse_df, df_to_append], ignore_index=True)
                        #nse_df = nse_df.append({'NSE_Code': nse_code, 'Date': date, 'NSE_Delivery':dely, 'Segment':segment}, ignore_index=True)
    
    return nse_df
                
 
def bse_data(bse_file_name):
    
    
    
    # Create an empty DataFrame to store the results
    bse_df = pd.DataFrame(columns=['BSE_Code', 'Date','BSE_Delivery'])
    dely_segment = ['EQ','BE','SM','ST']

    

    for file_name in bse_file_name:
        file_path = os.path.join(directory, file_name)
        date = file_name[22:28] 
    
        with open(file_path, 'r') as file:
            reader = csv.reader(file)
            for i, line in enumerate(reader, start=1):
                if i >= 2:  # Start reading from line 5
                    line_str = ','.join(line)
                    data = line_str.split('|')
                    dely = data[2]
                    bse_code = data[1]
                    df_to_append = pd.DataFrame({'BSE_Code': [bse_code], 'Date': [date], 'BSE_Delivery':[dely]}) 
                    bse_df = pd.concat([bse_df,df_to_append], ignore_index=True)
                        
    return bse_df

In [9]:
import os
import pandas as pd
import csv

def nse_price(nse_price_file):
    nse_df = pd.DataFrame(columns=['NSE_Code', 'Date', 'Price', 'PrevClose', 'Segment', 'Traded'])
    dely_segment = ['EQ', 'BE', 'SM', 'ST']

    for file_name in nse_price_file:
        file_path = os.path.join(directory, file_name)
        date = file_name[7:13]

        with open(file_path, 'r') as file:
            reader = csv.reader(file)
            for row in reader:
                if row and row[1] in dely_segment:  # Check if the row is not empty and segment matches
                    nse_code = row[0]
                    price = row[5]
                    prev_close = row[7]
                    segment = row[1]
                    traded = row[8]
                    df_to_append = pd.DataFrame({'NSE_Code': [nse_code], 'Date': [date], 'Price': [price], 'PrevClose': [prev_close],
                                                'Segment': [segment], 'Traded': [traded]})
                    nse_df = pd.concat([nse_df, df_to_append], ignore_index=True)

    return nse_df

def bse_price(bse_price_file):
    bse_df = pd.DataFrame(columns=['BSE_Code', 'Date', 'Price', 'PrevClose', 'Segment'])
    dely_segment = ['EQ', 'BE', 'SM', 'ST']

    for file_name in bse_price_file:
        file_path = os.path.join(directory, file_name)
        date = file_name[8:14]

        with open(file_path, 'r') as file:
            reader = csv.reader(file)
            for row in reader:
                #if row and row[1] in dely_segment:  # Check if the row is not empty and segment matches
                    bse_code = row[0]
                    price = row[7]
                    prev_close = row[9]
                    bse_group = row[2]
                    df_to_append = pd.DataFrame({'BSE_Code': [bse_code], 'Date': [date], 'Price': [price], 'PrevClose': [prev_close],
                                                'Segment': [bse_group]})
                    bse_df = pd.concat([bse_df, df_to_append], ignore_index=True)

    # Drop the first row, which is a header row, and reset the index
    bse_df = bse_df.iloc[1:].reset_index(drop=True)

    return bse_df

In [10]:
### getting unique symbols from fno

for file_name in nse_fno_file:
    file_path = os.path.join(directory, file_name)
    fno_df = pd.read_csv(file_path)
    fno_df = fno_df.drop_duplicates(subset ='SYMBOL')
    fno_symbols = fno_df['SYMBOL']
    fno_symbols = fno_symbols.reset_index(drop=True)

In [11]:
#### nse delivery structure
##### Record Type,Sr No,Name of Security,Segment, Quantity Traded,Deliverable Quantity(gross across client level),% of Deliverable Quantity to Traded Quantity
##### nse delivery does not include BE or ST records
#####
##### BSE gross deliverable structure 
##### DATE|SCRIP CODE|DELIVERY QTY|DELIVERY VAL|DAY'S VOLUME|DAY'S TURNOVER|DELV. PER.
####
##### NSE EQ ISIN has price 
##### SYMBOL	SERIES	OPEN	HIGH	LOW	CLOSE	LAST	PREVCLOSE	TOTTRDQTY	TOTTRDVAL	TIMESTAMP	TOTALTRADES	ISIN
#####
#####  EQ ISIN has bse price data
##### SC_CODE	SC_NAME	SC_GROUP	SC_TYPE	OPEN	HIGH	LOW	CLOSE	LAST	PREVCLOSE	NO_TRADES	
##### NO_OF_SHRS	NET_TURNOV	TDCLOINDI	ISIN_CODE	TRADING_DATE


if 'nse_dely_data' not in locals(): 
    print('nse_dely does not exist, processing')
    nse_dely_data = nse_data(nse_dely_file)
elif nse_dely_data.empty:
    print('nse_dely empty, processing')
    nse_dely_data = nse_data(nse_dely_file)
else:
    print('nse_dely exists')
 

 
if 'bse_dely_data' not in locals():
    print('bse_dely does not exist, processing')
    bse_dely_data = bse_data(bse_dely_file)
elif bse_dely_data.empty:
    print('bse_dely empty, processing')
    bse_dely_data = bse_data(bse_dely_file)
else:
    print('bse_dely exists')


if 'nse_price_data' not in locals(): 
    print('nse_price does not exist, processing')
    nse_price_data = nse_price(nse_price_file)
elif nse_dely_data.empty:
    print('nse_price empty, processing')
    nse_price_data = nse_price(nse_price_file)
else:
    print('nse_price exists')
 

 
if 'bse_price_data' not in locals():
    print('bse_price does not exist, processing')
    bse_price_data = bse_price(bse_price_file)
elif bse_price_data.empty:
    print('bse_price empty, processing')
    bse_price_data = bse_price(bse_price_file)
else:
    print('bse_price exists')
    
    
print('all done, proceed')

nse_dely does not exist, processing
bse_dely does not exist, processing
nse_price does not exist, processing
bse_price does not exist, processing
all done, proceed

In [12]:
bse_price_data

     BSE_Code    Date      Price  PrevClose Segment
0      500002  231103       4166     4077.5      A
1      500003  231103     282.95      288.8      A
2      500008  231103        621     618.15      A
3      500009  231103      37.23      37.98      XT
4      500012  231103      80.51      80.53      X
...       ...     ...        ...        ...     ...
4156   974998  231103  100366.66  100016.67      F
4157   975012  231103      95000          0      F
4158   975027  231103   99937.74   99859.74      F
4159   975057  231103     104000     101450      F
4160   975137  231103     100833     100980      F

[4161 rows x 5 columns]

In [13]:
nse_dely_data['NSE_Delivery'] = nse_dely_data['NSE_Delivery'].astype(int)
nse_price_data['Price'] = nse_price_data['Price'].astype(float)
nse_price_data['PrevClose'] = nse_price_data['PrevClose'].astype(float)
nse_price_data['Traded'] = nse_price_data['Traded'].astype(int)

bse_dely_data['BSE_Delivery'] = bse_dely_data['BSE_Delivery'].astype(int)
bse_price_data['Price'] = bse_price_data['Price'].astype(float)
bse_price_data['PrevClose'] = bse_price_data['PrevClose'].astype(float)

In [14]:
### nse_dely_data has NSE_Code, Date, NSE_Delivery, Segment
### bse_dely_data has BSE_Code, Date, BSE_Delivery

### nse_price_data has NSE_Code	Date	Price	PrevClose	Segment	Traded
### bse_price_data has BSE_Code	Date	Price	PrevClose	Segment

In [15]:
## this section processes nse delivery and price file. Makes sure that stocks which are in BE segment and 
## therefore dont appear in nse delivery are taken from price file and new nse merged df is generated

### merging nse price and delivery files
nse_merged_df_out = pd.merge(nse_dely_data,nse_price_data, on = 'NSE_Code', how = 'outer')

### processing merged file
# Replace 'NSE_Delivery' with 'Traded' where 'NSE_Delivery' is NaN
nse_merged_df_out['NSE_Delivery'] = nse_merged_df_out['NSE_Delivery'].fillna(nse_merged_df_out['Traded'])

# Replace 'Date_x' with 'Date_y' where 'Date_x' is NaN
nse_merged_df_out['Date_x'] = nse_merged_df_out['Date_x'].fillna(nse_merged_df_out['Date_y'])

# Replace 'Segment_x' with 'Segment_y' where 'Segment_x' is NaN
nse_merged_df_out['Segment_x'] = nse_merged_df_out['Segment_x'].fillna(nse_merged_df_out['Segment_y'])

# Rename 'Segment_x' to 'Segment'
nse_merged_df_out.rename(columns={'Segment_x': 'Segment'}, inplace=True)

# Rename 'Date_x' to 'Date'
nse_merged_df_out.rename(columns={'Date_x': 'Date'}, inplace=True)

# Drop the 'Date_y' column
nse_merged_df_out.drop(columns=['Date_y'], inplace=True)

# Drop the 'Segment_y' column
nse_merged_df_out.drop(columns=['Segment_y'], inplace=True)

# Delete the 'Traded' column after replacement
nse_merged_df_out.drop(columns=['Traded'], inplace=True)

# Reset the index
nse_merged_df_out.reset_index(drop=True, inplace=True)

# add traded_value column

nse_merged_df_out['Traded_Value_lacs'] = (nse_merged_df_out['NSE_Delivery'] * nse_merged_df_out['Price'] / 100000).round(2)

#print(nse_merged_df_out)


#### nse_merged_df_out is NSE_Code	Date	NSE_Delivery	Segment	Price	PrevClose	Traded_Value_lacs

In [16]:
###merging bse price and delivery files

bse_merged_df_out = pd.merge(bse_dely_data,bse_price_data, on = 'BSE_Code', how = 'outer')



### processing bse merged file

bse_merged_df_out['Traded_Value_lacs'] = (bse_merged_df_out['BSE_Delivery'] * bse_merged_df_out['Price'] / 100000).round(2)

# Rename 'Date_x' to 'Date'
bse_merged_df_out.rename(columns={'Date_x': 'Date'}, inplace=True)

# Drop the 'Date_y' column
bse_merged_df_out.drop(columns=['Date_y'], inplace=True)
bse_merged_df_out = bse_merged_df_out[bse_merged_df_out['BSE_Code'] <= '599999']

bse_merged_df_out.reset_index(drop=True, inplace = True)

#print(bse_merged_df_out)


#### bse_merged_df_out is BSE_Code	Date	BSE_Delivery	Price	PrevClose	Segment	Traded_Value_lacs

In [17]:
## reading master file
### master file (csv) is Company Name	CD_NSE Symbol	CD_BSE Code	CD_Is Subsidiary	CD_Sector	CD_Industry1

#### TO FIX - MASTER FILE DOES NOT HAVE SM SEGMENT CODES

master_file = pd.read_csv(master_file_path, dtype={'CD_BSE Code': str})


###df.rename(columns={'old_column_name': 'new_column_name'}, inplace=True)
##df.rename(columns={'old_column_name': 'new_column_name'}, inplace=True)
### Inplace method (modifies the original DataFrame)
###df.drop(columns=['column1', 'column2'], inplace=True)

master_file.drop(columns=['CD_Is Subsidiary','CD_Sector','CD_Industry1'], inplace = True )
master_file.rename(columns={'CD_NSE Symbol': 'NSE_Code', 'CD_BSE Code': 'BSE_Code'}, inplace= True )


#### master_file df is Company Name	NSE_Code	BSE_Code

#print(master_file)

In [18]:
## Merge NSE df with master file 

master_file = pd.merge(master_file,nse_merged_df_out, on= "NSE_Code", how = 'outer')
#master_file.dropna(subset=['Company Name'], inplace=True)


## merge bse df  with master file 
master_file = pd.merge(master_file,bse_merged_df_out, on ="BSE_Code", how = "outer")
#master_file.dropna(subset=['Company Name'], inplace=True)

# Drop records where both 'NSE_Code' and 'BSE_Code' are NaN or blank
master_file.dropna(subset=['NSE_Code', 'BSE_Code'], how='all', inplace=True)

# Reset the index after dropping rows
master_file.reset_index(drop=True, inplace=True)

# Drop records where both 'NSE_Delivery' and 'BSE_Delivery' are 0 or blank or NaN
master_file = master_file[~((master_file['NSE_Delivery'] == 0) & (master_file['BSE_Delivery'] == 0))]

# Reset the index after dropping rows
master_file.reset_index(drop=True, inplace=True)


# Trim "Company Name" column to a maximum length of 20 characters
master_file['Company Name'] = master_file['Company Name'].str.slice(0, 30)


# Reset the index after dropping rows
master_file.reset_index(drop=True, inplace=True)

#print(master_file)

In [19]:

# Identify the data types of each column
column_data_types = master_file.dtypes

# Replace NaN values in object columns with empty strings ("")
object_columns = master_file.select_dtypes(include='object').columns
master_file[object_columns] = master_file[object_columns].fillna("")

# Replace NaN values in float/integer columns with 0
numeric_columns = master_file.select_dtypes(include=['float64', 'int64']).columns
master_file[numeric_columns] = master_file[numeric_columns].fillna(0)

# Print the resulting DataFrame
#print(master_file)

#master_file.info()

In [20]:
# Define a custom function to replace Price_x with Price_y if Price_x is 0
def replace_price_x(row):
    if row['Price_x'] == 0:
        return row['Price_y']
    else:
        return row['Price_x']

    
def replace_prevclose_x(row):
    if row['PrevClose_x'] == 0:
        return row['PrevClose_y']
    else:
        return row['PrevClose_x']
    
    
def replace_segment(row):
    if row['Segment_x'] == "":
        return row['Segment_y']
    else:
        return row['Segment_x']

# Apply the custom function to the DataFrame
master_file['Price_x'] = master_file.apply(replace_price_x, axis=1)
master_file['PrevClose_x'] = master_file.apply(replace_prevclose_x, axis=1)

# Rename 'Price_x' column to 'Price'
master_file.rename(columns={'Price_x': 'Price'}, inplace=True)
master_file.rename(columns={'PrevClose_x':'PrevClose'}, inplace=True)

### segment

master_file['Segment_x'] = master_file.apply(replace_segment, axis = 1)
master_file.rename(columns={'Segment_x' :'Segment'}, inplace = True)

### add total delivery column
master_file['Total_Delivery'] = master_file['NSE_Delivery'] + master_file['BSE_Delivery']
master_file['Total_Delivery'] = master_file['Total_Delivery'].astype(int)

## add total traded value colum

master_file['Total_Traded_Value'] = ( master_file['Total_Delivery'] * master_file['Price'] ) / 100000



### reorder columns

columns_to_copy = ['Company Name','Total_Delivery', 'Price','PrevClose','Total_Traded_Value' ,'NSE_Code','BSE_Code','Segment']

# Create a new DataFrame 'final_master_file' with the desired columns
final_master_file = master_file[columns_to_copy].copy()

#### create sme file
sme_segment = ['SM','ST','M ']
sme_delivery = final_master_file[final_master_file['Segment'].isin(sme_segment)]
sme_delivery.loc[sme_delivery['NSE_Code'] == '', 'NSE_Code'] = sme_delivery['BSE_Code']
sme_delivery.reset_index(drop=True, inplace=True)

# Drop records where Total_Traded_Value is below 1000
final_master_file = final_master_file[final_master_file['Total_Traded_Value'] >= 1000]

In [21]:
###creating separate file for fno delivery and non fno delivery

# Filter final_master_file to get fno_delivery by checking if NSE_Code is in fno_symbols
fno_delivery = final_master_file[final_master_file['NSE_Code'].isin(fno_symbols)]
fno_delivery_final = fno_delivery[['NSE_Code', 'Total_Delivery', 'Price','PrevClose', 'Total_Traded_Value']].copy()


# Create non_fno_delivery by dropping rows where NSE_Code is in fno_symbols
non_fno_delivery = final_master_file[~final_master_file['NSE_Code'].isin(fno_symbols)]

# Reset index inplace for fno_delivery and non_fno_delivery
fno_delivery_final.reset_index(drop=True, inplace=True)
non_fno_delivery.reset_index(drop=True, inplace=True)

# Replace empty strings in NSE_Code with BSE_Code
non_fno_delivery.loc[non_fno_delivery['NSE_Code'] == '', 'NSE_Code'] = non_fno_delivery['BSE_Code']

In [22]:
# Replace empty strings in NSE_Code with BSE_Code
#non_fno_delivery['NSE_Code'] = non_fno_delivery.apply(lambda row: row['BSE_Code'] if row['NSE_Code'] == "" else row['NSE_Code'], axis=1)

#non_fno_delivery.loc[non_fno_delivery['NSE_Code'] == '', 'NSE_Code'] = non_fno_delivery['BSE_Code']


sme_delivery
#non_fno_delivery

,Company Name,Total_Delivery,Price,PrevClose,Total_Traded_Value,NSE_Code,BSE_Code,Segment
0,Ahasolar Technologies Ltd.,13200,261.90,269.00,34.5708,543941,543941,M
1,Kaka Industries Ltd.,31000,175.40,171.45,54.3740,543939,543939,M
2,Acceleratebs India Ltd.,1600,241.90,242.00,3.8704,543938,543938,M
3,Alphalogic Industries Ltd.,4200,293.10,290.50,12.3102,543937,543937,M
4,Veefin Solutions Ltd.,26400,210.45,212.75,55.5588,543931,543931,M
...,...,...,...,...,...,...,...,...
336,Rajgor Castor Derivatives Ltd,294000,56.45,59.15,165.9630,RCDL,,ST
337,On Door Concepts Limited,64200,183.70,193.35,117.9354,ONDOOR,,ST
338,Shanthala FMCG Products Limite,426000,103.55,91.00,441.1230,SHANTHALA,,ST
339,Paragon Fine and Speciality Ch,1606800,213.75,100.00,3434.5350,PARAGON,,ST
340,,30400,156.65,149.20,47.6216,WOMANCART,,ST

In [23]:
segment_var = ['SM','ST','M ']
final_master_file.info()
 ##Count the records in each segment
segment_counts = master_file['Segment_y'].value_counts()

print(segment_counts)

<class 'pandas.core.frame.DataFrame'>
Int64Index: 449 entries, 6 to 4975
Data columns (total 8 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Company Name        449 non-null    object
 1   Total_Delivery      449 non-null    int32
 2   Price               449 non-null    float64
 3   PrevClose           449 non-null    float64
 4   Total_Traded_Value  449 non-null    float64
 5   NSE_Code            449 non-null    object
 6   BSE_Code            449 non-null    object
 7   Segment             449 non-null    object
dtypes: float64(3), int32(1), object(4)
memory usage: 29.8+ KB
      1139
B     1035
X      811
XT     726
A      709
T      288
M      143
Z       68
F       22
E       20
P       12
MT       7
IF       7
MS       3
TS       2
Name: Segment_y, dtype: int64

In [24]:
### creating top 50 by value and by volume for fno and non-fno

def top_n(df,n, column_name, trade_amt):
    
    df_filtered = df[df['Total_Traded_Value'] > trade_amt]
    top_n = df_filtered.nlargest(n,column_name).sort_values(column_name, ascending = False)
    return top_n

df_value_50 = top_n(non_fno_delivery,50,'Total_Traded_Value', 250)
df_volume_50 = top_n(non_fno_delivery,50,'Total_Delivery', 250)

fno_value_50 = top_n(fno_delivery,50,'Total_Traded_Value', 1000)
fno_volume_50 = top_n(fno_delivery,50,'Total_Delivery', 1000)

fno_columns = ['NSE_Code', 'Total_Delivery','Price','PrevClose','Total_Traded_Value']

fno_value_50 = fno_value_50[fno_columns]
fno_volume_50 = fno_volume_50[fno_columns]

sme_value_50 = top_n(sme_delivery,50,'Total_Traded_Value', 50)

###########################

###########################

## write to excel -- non_fno value and volume is merged by concat and saved for multiple scrips report (7-day history)
#### sme_csv is similarly saved for 7-day history report

df_non_fno = pd.concat([df_value_50, df_volume_50])
df_non_fno_wl = df_non_fno[['NSE_Code']]

df_fno = pd.concat([fno_value_50, fno_volume_50])


# Reset the index of the series
df_non_fno_wl.reset_index(drop=True, inplace=True)


### define csv files
output_non_fno = output_path + "0_non_fno.csv"
output_non_fno_date = output_path + "0_non_fno "+nse_dely_date+".csv"
output_non_fno_wl = output_path + "0_non_fno_wl "+nse_dely_date+".csv"


output_fno = output_path + "fno.csv"

output_sme_nodate = output_path + 'sme_csv.csv'
output_sme = output_path + 'sme ' + nse_dely_date +'.csv'

### write to csv
df_non_fno.to_csv(output_non_fno, index = False)
df_non_fno.to_csv(output_non_fno_date, index = False)
df_non_fno_wl.to_csv(output_non_fno_wl, index = False)

df_fno.to_csv(output_fno, index = False)

sme_delivery.to_csv(output_sme, index=False)
sme_value_50.to_csv(output_sme_nodate)

In [25]:





def print_formatted_rows(df, columns_to_select):
    # Iterate over the DataFrame and print each row
    for i, (_, row) in enumerate(df.iterrows(), 1):
        p_coname = row[columns_to_select[0]].ljust(40)
        p_dely = f"{row[columns_to_select[1]]:,.0f}".rjust(15)
        p_price = f"{row[columns_to_select[2]]:,.2f}".rjust(12)
        p_prevclose = f"{row[columns_to_select[3]]:,.2f}".rjust(12)
        p_trade_value = f"{row[columns_to_select[4]]:,.2f}".rjust(18)
        p_nse_code = row[columns_to_select[5]].ljust(10)
        
        print(f"{p_coname}{p_dely}{p_price}{p_prevclose}{p_trade_value}    {p_nse_code}")

        # Check if the current row index is a multiple of 5, and insert a blank line
        if i % 5 == 0:
            print()

def fno_formatted_rows(df, columns_to_select):
    
    # Iterate over the DataFrame and print each row
    for i, (_, row) in enumerate(df.iterrows(),1):
        p_nse_code = row[columns_to_select[0]].ljust(10)
        p_dely = f"{row[columns_to_select[1]]:,.0f}".rjust(15)
        p_price = f"{row[columns_to_select[2]]:,.2f}".rjust(12)
        p_prevclose = f"{row[columns_to_select[3]]:,.2f}".rjust(12)
        p_trade_value = f"{row[columns_to_select[4]]:,.2f}".rjust(12)
        
        print(f"{p_nse_code}{p_dely}{p_price}{p_prevclose}{p_trade_value}")
        
        # Check if the current row index is a multiple of 5, and insert a blank line
        if i % 5 == 0:
            print()

In [26]:
columns_to_select = ['Company Name', 'Total_Delivery', 'Price', 'PrevClose','Total_Traded_Value', 'NSE_Code']
col_length = [40,15,12,12,18,10]
formatted_columns = [col + ' ' * (length - len(col)) for col, length in zip(columns_to_select, col_length)]
print(formatted_columns)

['Company Name                            ', 'Total_Delivery ', 'Price       ', 'PrevClose   ', 'Total_Traded_Value', 'NSE_Code  ']

In [27]:
##columns selection for printing
columns_to_select = ['Company Name', 'Total_Delivery', 'Price','PrevClose', 'Total_Traded_Value', 'NSE_Code']
col_length = [40,15,12,18,10]
fno_columns_to_select = ['NSE_Code', 'Total_Delivery', 'Price','PrevClose', 'Total_Traded_Value']



print("Top 50 deliveries by value/volume non-FnO FnO and SME ", nse_dely_date)
print("")
print("")
#print(nse_dely_date)
#print()
print("                          Top 50 delivery by value NON FNO ", nse_dely_date)
print("")
print("Company Name                                ", '  Dely_Qty','      Price','   PrevClose','           Value','   NSECode')
print("")
print_formatted_rows(df_value_50,columns_to_select)
print("")
print("")
print("")


print("                        Top 50 delivery by volume NON FNO ", nse_dely_date)
print("")
print("Company Name                                ", '  Dely_Qty','      Price','   PrevClose','           Value','   NSECode')
print("")

print_formatted_rows(df_volume_50,columns_to_select)
print("")
print("")
print("")


#### printing for fno
print("          Top 50 FNO Delivery by value ", nse_dely_date)
print("")
print("NSECode       ",'  Dely_Qty','      Price','   PrevClose','    Value' )
print("")
fno_formatted_rows(fno_value_50,fno_columns_to_select)
print("")
print("")
print("")

print("             Top 50 FNO Delivery by volume ", nse_dely_date)
print("")
print("NSECode       ",'  Dely_Qty','      Price','   PrevClose','   Value' )
print("")

fno_formatted_rows(fno_volume_50,fno_columns_to_select)
print("")
print("")
print("")


print("                          Top 50 delivery by value SME ", nse_dely_date)
print("")
print("Company Name                                ", '  Dely_Qty','      Price','   PrevClose','           Value','   NSECode')
print("")
print_formatted_rows(sme_value_50,columns_to_select)
print("")
print("")
print("")

Top 50 deliveries by value/volume non-FnO FnO and SME  231103


                          Top 50 delivery by value NON FNO  231103

Company Name                                   Dely_Qty       Price    PrevClose            Value    NSECode

Zomato Ltd.                                  86,468,208      116.50      107.55        100,735.46    ZOMATO
Suzlon Energy Ltd.                          103,428,114       34.25       32.65         35,424.13    SUZLON
Jaiprakash Power Ventures Ltd.              199,347,561       11.45       10.40         22,825.30    JPPOWER
                                              1,971,425    1,000.00      999.99         19,714.25    LIQUIDBEES
Adani Power Ltd.                              4,858,796      384.65      372.95         18,689.36    ADANIPOWER

One97 Communications Ltd.                     1,639,570      904.05      921.25         14,822.53    PAYTM
Central Depository Services (I                  879,661    1,560.50    1,521.20         13,727.11    CDSL
Tata Motors Ltd. - DVR Ordinar                2,889,263      441.50      432.10         12,756.10    TATAMTRDVR
JIO Financial Services                        5,420,484      219.05      217.35         11,873.57    JIOFIN
Angel One Ltd.                                  360,818    2,804.50    2,640.70         10,119.14    ANGELONE

Radico Khaitan Ltd.                             747,822    1,320.20    1,279.25          9,872.75    RADICO
Poonawalla Fincorp Ltd.                       2,734,891      347.70      349.65          9,509.22    POONAWALLA
Indian Railway Finance Corpora               12,429,234       72.15       73.05          8,967.69    IRFC
Avenue Supermarts Ltd.                          244,930    3,649.70    3,647.45          8,939.21    DMART
Yes Bank Ltd.                                54,268,870       16.45       16.05          8,927.23    YESBANK

Computer Age Management Servic                  368,597    2,390.65    2,263.45          8,811.86    CAMS
Varun Beverages Ltd.                            925,537      951.85      926.15          8,809.72    VBL
Bajaj Hindusthan Sugar Ltd.                  29,677,209       29.25       28.85          8,680.58    BAJAJHIND
Max Healthcare Institute Ltd.                 1,447,240      578.15      581.40          8,367.22    MAXHEALTH
Jaiprakash Associates Ltd.                   43,069,640       18.30       18.30          7,881.74    JPASSOCIAT

Prestige Estates Projects Ltd.                1,002,543      780.15      747.10          7,821.34    PRESTIGE
Bayer CropScience Ltd.                          145,000    5,192.80    4,905.20          7,529.56    BAYERCROP
JM Financial Ltd.                             8,252,888       88.70       82.80          7,320.31    JMFINANCIL
Syrma SGS Technology Ltd.                     1,395,202      510.00      524.50          7,115.53    SYRMA
JK Lakshmi Cement Ltd.                          943,635      744.85      674.20          7,028.67    JKLAKSHMI

Macrotech Developers Ltd.                       823,874      849.45      850.25          6,998.40    LODHA
BLS International Services Ltd                2,380,116      277.55      263.95          6,606.01    BLS
Tilaknagar Industries Ltd.                    2,707,612      242.90      213.95          6,576.79    TI
Electrosteel Castings Ltd.                    7,202,006       90.00       89.20          6,481.81    ELECTCAST
Kalyan Jewellers India Ltd.                   2,029,847      304.65      298.15          6,183.93    KALYANKJIL

Senco Gold Ltd.                                 827,741      746.95      679.05          6,182.81    SENCO
RateGain Travel Technologies L                  865,755      697.20      659.30          6,036.04    RATEGAIN
JSW Energy Ltd.                               1,510,851      393.80      394.10          5,949.73    JSWENERGY
SEPC Ltd.                                    24,277,099       24.20       22.00          5,875.06    SEPC
JK Tyre & Industries Ltd.                     1,677,231      348.30      337.25          5,841.80    JKTYRE

BSE Ltd.                                        311,884    1,799.60    1,771.05          5,612.66    BSE
Jindal Saw Ltd.                               1,211,709      460.55      441.45          5,580.53    JINDALSAW
360 One Wam Ltd.                              1,037,421      531.10      551.55          5,509.74    360ONE
Union Bank Of India                           5,271,060      104.50      105.85          5,508.26    UNIONBANK
Bharat Dynamics Ltd.                            525,712    1,038.35    1,001.35          5,458.73    BDL

Shriram Properties Ltd.                       5,280,386      101.85       93.05          5,378.07    SHRIRAMPPS
KPIT Technologies Ltd.                          426,809    1,241.50    1,221.10          5,298.83    KPITTECH
APL Apollo Tubes Ltd.                           342,678    1,543.30    1,559.90          5,288.55    APLAPOLLO
Indiabulls Real Estate Ltd.                   6,464,285       77.50       73.95          5,009.82    IBREALEST
Star Health and Allied Insuran                  897,776      546.05      548.90          4,902.31    STARHEALTH

PB Fintech Ltd.                                 691,897      702.05      699.65          4,857.46    POLICYBZR
Ircon International Ltd.                      3,375,022      142.35      138.70          4,804.34    IRCON
Mangalore Refinery And Petroch                4,367,477      109.90      104.25          4,799.86    MRPL
Easy Trip Planners Ltd.                      11,096,865       42.50       42.10          4,716.17    EASEMYTRIP
Kirloskar Oil Engines Ltd.                      875,952      533.45      561.60          4,672.77    KIRLOSENG




                        Top 50 delivery by volume NON FNO  231103

Company Name                                   Dely_Qty       Price    PrevClose            Value    NSECode

Jaiprakash Power Ventures Ltd.              199,347,561       11.45       10.40         22,825.30    JPPOWER
Suzlon Energy Ltd.                          103,428,114       34.25       32.65         35,424.13    SUZLON
Zomato Ltd.                                  86,468,208      116.50      107.55        100,735.46    ZOMATO
Yes Bank Ltd.                                54,268,870       16.45       16.05          8,927.23    YESBANK
Jaiprakash Associates Ltd.                   43,069,640       18.30       18.30          7,881.74    JPASSOCIAT

RattanIndia Power Ltd.                       31,464,182        7.10        6.95          2,233.96    RTNPOWER
Bajaj Hindusthan Sugar Ltd.                  29,677,209       29.25       28.85          8,680.58    BAJAJHIND
Orient Green Power Company Ltd               28,040,510       15.15       14.45          4,248.14    GREENPOWER
SEPC Ltd.                                    24,277,099       24.20       22.00          5,875.06    SEPC
Reliance Power Ltd.                          18,776,048       18.25       18.25          3,426.63    RPOWER

Hindustan Construction Company               15,716,471       27.75       26.70          4,361.32    HCC
Mishtann Foods Ltd.                          13,452,926       13.08       12.92          1,759.64    539594
Indian Railway Finance Corpora               12,429,234       72.15       73.05          8,967.69    IRFC
IRB Infrastructure Developers                11,913,428       34.50       33.95          4,110.13    IRB
Zee Media Corporation Ltd.                   11,559,723       15.10       14.45          1,745.52    ZEEMEDIA

Infibeam Avenues Ltd.                        11,531,979       19.60       19.65          2,260.27    INFIBEAM
Easy Trip Planners Ltd.                      11,096,865       42.50       42.10          4,716.17    EASEMYTRIP
IFCI Ltd.                                     9,690,789       23.60       22.55          2,287.03    IFCI
Dish TV India Ltd.                            9,212,503       17.10       16.75          1,575.34    DISHTV
The South Indian Bank Ltd.                    9,156,538       25.05       24.50          2,293.71    SOUTHBANK

JM Financial Ltd.                             8,252,888       88.70       82.80          7,320.31    JMFINANCIL
Vakrangee Ltd.                                8,042,329       18.70       17.60          1,503.92    VAKRANGEE
NHPC Ltd.                                     7,331,414       50.15       50.50          3,676.70    NHPC
Electrosteel Castings Ltd.                    7,202,006       90.00       89.20          6,481.81    ELECTCAST
                                              6,616,123       69.82       70.68          4,619.38    SILVERBEES

Indiabulls Real Estate Ltd.                   6,464,285       77.50       73.95          5,009.82    IBREALEST
NBCC (India) Ltd.                             6,349,358       67.00       67.35          4,254.07    NBCC
Bank Of Maharashtra                           6,320,395       42.70       42.70          2,698.81    MAHABANK
Motherson Sumi Wiring India Lt                6,131,227       58.30       58.65          3,574.51    MSUMI
SJVN Ltd.                                     6,009,419       73.85       74.90          4,437.96    SJVN

Cressanda Solutions Ltd.                      5,748,982       23.18       23.58          1,332.61    512379
JIO Financial Services                        5,420,484      219.05      217.35         11,873.57    JIOFIN
Shriram Properties Ltd.                       5,280,386      101.85       93.05          5,378.07    SHRIRAMPPS
Union Bank Of India                           5,271,060      104.50      105.85          5,508.26    UNIONBANK
PTC India Financial Services L                5,234,756       32.45       31.95          1,698.68    PFS

Patel Engineering Ltd.                        4,888,676       48.80       48.95          2,385.67    PATELENG
Adani Power Ltd.                              4,858,796      384.65      372.95         18,689.36    ADANIPOWER
UCO Bank                                      4,499,715       37.50       37.85          1,687.39    UCOBANK
Mangalore Refinery And Petroch                4,367,477      109.90      104.25          4,799.86    MRPL
Indian Overseas Bank                          4,302,954       39.85       39.80          1,714.73    IOB

Bank Of India                                 4,214,202       99.00      100.10          4,172.06    BANKINDIA
Ujjivan Small Finance Bank Ltd                4,016,989       53.85       53.05          2,163.15    UJJIVANSFB
Peninsula Land Ltd.                           3,965,293       47.75       49.80          1,893.43    PENINLAND
TV18 Broadcast Ltd.                           3,451,450       42.40       41.75          1,463.41    TV18BRDCST
Wardwizard Innovations & Mobil                3,411,212       49.84       47.61          1,700.15    538970

Ircon International Ltd.                      3,375,022      142.35      138.70          4,804.34    IRCON
Piramal Pharma Ltd.                           3,102,943      104.65      106.55          3,247.23    PPLPHARMA
Den Networks Ltd.                             3,037,674       50.35       45.60          1,529.47    DEN
Network 18 Media & Investments                2,955,481       70.90       67.60          2,095.44    NETWORK18
IDBI Bank Ltd.                                2,938,414       62.05       62.50          1,823.29    IDBI




          Top 50 FNO Delivery by value  231103

NSECode          Dely_Qty       Price    PrevClose     Value

HDFCBANK        6,191,380    1,483.75    1,476.75   91,864.60
RELIANCE        2,956,425    2,319.70    2,320.20   68,580.19
TATAMOTORS      9,007,744      647.50      636.45   58,325.14
ITC            10,916,656      433.25      431.15   47,296.41
SBIN            7,479,908      578.15      572.10   43,245.09

ICICIBANK       4,389,827      933.80      919.95   40,992.20
BAJFINANCE        551,102    7,411.50    7,449.10   40,844.92
MARUTI            353,673   10,276.30   10,303.60   36,344.50
TCS               968,237    3,350.90    3,360.10   32,444.65
INDUSINDBK      2,018,659    1,450.25    1,461.20   29,275.60

AXISBANK        2,812,803      988.85      982.95   27,814.40
DLF             4,419,512      595.85      577.90   26,333.66
INFY            1,855,855    1,389.05    1,370.15   25,778.75
BHARTIARTL      2,704,177      930.75      923.85   25,169.13
IDEA          180,320,240       13.75       13.75   24,794.03

BAJAJFINSV      1,603,354    1,536.15    1,575.60   24,629.92
CHOLAFIN        2,158,708    1,134.30    1,177.45   24,486.22
BANKBARODA     11,079,731      203.80      199.90   22,580.49
M&M             1,491,980    1,469.00    1,469.70   21,917.19
IOC            22,505,305       95.90       95.05   21,582.59

DRREDDY           406,204    5,263.05    5,338.50   21,378.72
HINDUNILVR        829,144    2,509.25    2,486.80   20,805.30
PERSISTENT        314,744    6,286.15    6,225.45   19,785.28
SHRIRAMFIN        981,362    2,013.55    1,954.85   19,760.21
LT                651,413    2,911.25    2,918.10   18,964.26

APOLLOHOSP        362,713    5,153.20    4,887.00   18,691.33
PETRONET        9,127,554      196.05      195.00   17,894.57
TATASTEEL      15,166,223      117.30      118.10   17,789.98
BAJAJ-AUTO        329,121    5,368.95    5,318.40   17,670.34
ADANIPORTS      2,043,386      795.40      774.30   16,253.09

RECLTD          5,334,672      303.85      302.40   16,209.40
CONCOR          2,268,972      713.75      682.50   16,194.79
SUNPHARMA       1,408,113    1,141.10    1,132.85   16,067.98
PFC             6,026,592      261.70      257.65   15,771.59
L&TFH          11,071,335      140.85      134.30   15,593.98

GODREJPROP        862,064    1,784.40    1,716.00   15,382.67
TITAN             456,172    3,274.50    3,201.50   14,937.35
KOTAKBANK         857,057    1,733.25    1,737.70   14,854.94
HCLTECH         1,139,118    1,266.25    1,273.40   14,424.08
ULTRACEMCO        165,969    8,522.60    8,459.00   14,144.87

ASIANPAINT        450,163    2,977.85    2,955.40   13,405.18
POWERGRID       6,087,868      204.40      203.10   12,443.60
RBLBANK         5,434,032      228.75      221.95   12,430.35
LICHSGFIN       2,596,064      462.40      448.70   12,004.20
MCX               459,338    2,545.55    2,425.60   11,692.68

HAL               608,107    1,901.75    1,855.45   11,564.67
BHEL            8,516,677      128.60      128.05   10,952.45
BRITANNIA         231,209    4,539.55    4,527.25   10,495.85
VEDL            4,373,025      232.75      229.15   10,178.22
CANBK           2,487,998      387.50      388.15    9,640.99




             Top 50 FNO Delivery by volume  231103

NSECode          Dely_Qty       Price    PrevClose    Value

IDEA          180,320,240       13.75       13.75   24,794.03
IOC            22,505,305       95.90       95.05   21,582.59
TATASTEEL      15,166,223      117.30      118.10   17,789.98
BANKBARODA     11,079,731      203.80      199.90   22,580.49
L&TFH          11,071,335      140.85      134.30   15,593.98

ITC            10,916,656      433.25      431.15   47,296.41
IDFCFIRSTB     10,723,992       82.80       82.30    8,879.47
PNB             9,170,982       74.75       74.25    6,855.31
PETRONET        9,127,554      196.05      195.00   17,894.57
TATAMOTORS      9,007,744      647.50      636.45   58,325.14

BHEL            8,516,677      128.60      128.05   10,952.45
SBIN            7,479,908      578.15      572.10   43,245.09
GAIL            6,848,033      123.75      122.05    8,474.44
BEL             6,306,436      135.95      134.75    8,573.60
HDFCBANK        6,191,380    1,483.75    1,476.75   91,864.60

POWERGRID       6,087,868      204.40      203.10   12,443.60
PFC             6,026,592      261.70      257.65   15,771.59
RBLBANK         5,434,032      228.75      221.95   12,430.35
FEDERALBNK      5,410,949      143.50      141.45    7,764.71
RECLTD          5,334,672      303.85      302.40   16,209.40

DLF             4,419,512      595.85      577.90   26,333.66
ICICIBANK       4,389,827      933.80      919.95   40,992.20
VEDL            4,373,025      232.75      229.15   10,178.22
IDFC            4,241,581      113.95      113.20    4,833.28

ONGC            4,227,187      190.00      186.20    8,031.66

NTPC            4,085,363      234.35      235.25    9,574.05
MOTHERSON       3,982,163       90.60       92.00    3,607.84
INDUSTOWER      3,684,651      188.35      190.15    6,940.04
SAIL            3,498,178       84.90       85.05    2,969.95
ZEEL            3,484,095      275.30      269.35    9,591.71

DELTACORP       3,159,762      140.75      134.70    4,447.37
NMDC            3,154,828      159.45      159.90    5,030.37
ASHOKLEY        2,957,766      168.30      168.50    4,977.92
RELIANCE        2,956,425    2,319.70    2,320.20   68,580.19
AXISBANK        2,812,803      988.85      982.95   27,814.40

BHARTIARTL      2,704,177      930.75      923.85   25,169.13
LICHSGFIN       2,596,064      462.40      448.70   12,004.20
CANBK           2,487,998      387.50      388.15    9,640.99
IEX             2,411,122      127.60      126.65    3,076.59
CONCOR          2,268,972      713.75      682.50   16,194.79

M&MFIN          2,180,503      258.25      250.95    5,631.15
CHOLAFIN        2,158,708    1,134.30    1,177.45   24,486.22
TATAPOWER       2,156,817      244.60      244.80    5,275.57
BANDHANBNK      2,097,050      217.40      214.95    4,558.99
COALINDIA       2,081,933      312.00      308.85    6,495.63

ADANIPORTS      2,043,386      795.40      774.30   16,253.09
INDUSINDBK      2,018,659    1,450.25    1,461.20   29,275.60
IBULHSGFIN      2,017,268      165.15      165.80    3,331.52
INDHOTEL        1,979,768      392.90      390.25    7,778.51
GMRINFRA        1,935,521       56.05       56.00    1,084.86




                          Top 50 delivery by value SME  231103

Company Name                                   Dely_Qty       Price    PrevClose            Value    NSECode

Paragon Fine and Speciality Ch                1,606,800      213.75      100.00          3,434.53    PARAGON
Bondada Engineering Limited                     409,600      366.40      333.10          1,500.77    543971
Drone Destination Ltd.                          594,000      143.15      139.25            850.31    DRONE
NewJaisa Tech                                   378,000      134.50      128.30            508.41    NEWJAISA
Varanium Cloud Ltd.                             340,000      141.95      141.40            482.63    CLOUD

Technowgreen                                    212,800      218.80      188.30            465.61    543991
Shanthala FMCG Products Limite                  426,000      103.55       91.00            441.12    SHANTHALA
Krishca Strapping Solutions Lt                  168,000      234.15      240.40            393.37    KRISHCA
Essen Speciality Films Ltd.                     226,800      173.30      182.45            393.04    ESFL
Basilic Fly Studio                              127,200      282.90      289.60            359.85    BASILIC

VishnuSurya Infra                               216,000      160.25      155.85            346.14    VISHNUINFR
CFF Fluid Control Ltd.                           74,400      439.70      420.10            327.14    543920
Insolation Energy Ltd.                           54,000      592.20      585.05            319.79    543620
Systango Technologies Ltd.                      112,000      282.85      272.95            316.79    SYSTANGO
Cellcor Gadgets                                 133,200      220.00      219.60            293.04    CELLECOR

Virtuoso Optoelectronics Ltd.                   103,000      274.60      243.35            282.84    543597
Vinyas Innovative Technologies                   66,400      423.60      516.85            281.27    VINYAS
All E Technologies Ltd.                         111,200      221.60      198.50            246.42    ALLETEC
HiGreen Carbon                                  156,800      155.15      151.40            243.28    HIGREEN
PE Analytics Ltd.                                94,800      253.90      231.20            240.70    PROPEQUITY

Quicktouch Technologies Ltd.                    100,000      209.70      220.70            209.70    QUICKTOUCH
E Factor Experiences                            115,200      177.15      163.35            204.08    EFACTOR
Khazanchi Jewellers Ltd                          68,000      283.10      290.50            192.51    543953
Sunita Tools                                    107,000      179.50      172.55            192.06    544001
Holmarc Opto Mechatronics                       129,000      139.15      131.05            179.50    HOLMARC

Kotyark Industries Ltd.                          21,400      808.85      805.15            173.09    KOTYARK
Rajgor Castor Derivatives Ltd                   294,000       56.45       59.15            165.96    RCDL
Tara Chand Infralogistic Solut                  101,000      159.40      173.65            160.99    TARACHAND
Meson Valves Limited                             44,400      358.10      351.15            159.00    543982
Macfos Ltd.                                      48,000      324.75      300.30            155.88    543787

Chavda Infra                                    162,000       94.25       90.20            152.69    CHAVDA
Phantom Digital Effects Ltd.                     33,600      439.75      441.45            147.76    PHANTOMFX
Kody Techno                                      39,200      360.75      340.75            141.41    KODYTECH
Exhicon Events Media Solutions                   47,000      279.90      279.00            131.55    543895
On Door Concepts Limited                         64,200      183.70      193.35            117.94    ONDOOR

Knowledge Marine & Engineering                    9,125    1,285.55    1,315.20            117.31    543273
RMC Switchgears Ltd.                             19,125      599.10      602.55            114.58    540358
MOS Utility Ltd.                                121,600       94.20       93.30            114.55    MOS
Annapurna Swadisht Ltd.                          38,500      296.05      295.50            113.98    ANNAPURNA
Bhatia Colour Chem Ltd.                         214,400       52.69       54.33            112.97    543497

Digikore Studios                                 39,200      272.40      289.25            106.78    DIGIKORE
Arvind and Company Shipping Ag                  156,000       68.35       65.10            106.63    ACSAL
Karnika Industries Limited                      110,400       84.75       81.30             93.56    KARNIKA
Saakshi Medtech                                  37,200      248.05      247.45             92.27    SAAKSHI
Northern Spirits Ltd.                            26,000      338.45      344.35             88.00    542628

Droneacharya Aerial Innovation                   46,000      184.90      184.85             85.05    543713
Growington Ventures India Ltd.                   41,850      200.05      204.60             83.72    539222
Remus Pharmaceuticals Ltd.                        1,450    5,707.00    5,700.00             82.75    REMUS
RBM Infracon Ltd.                                31,000      265.65      253.05             82.35    RBMINFRA
Kore Digital Ltd.                                24,800      327.60      323.40             81.24    KDL

In [28]:
sorted_df = bse_dely_data.sort_values(by='BSE_Delivery', ascending = False)
sorted_df

     BSE_Code    Date  BSE_Delivery
2196   532627  231103      45846444
2318   532822  231103      34078419
2220   532667  231103      26804861
2287   532775  231103      16856111
2913   539594  231103      13452926
...       ...     ...           ...
1834   531406  231103             1
2815   539189  231103             1
597    509152  231103             1
1902   531644  231103             1
4061   938256  231103             1

[4161 rows x 3 columns]

In [29]:
######### fromatting text
text = "Hello"
width = 10

left_justified_text = text.ljust(width)
print(left_justified_text)  # Output: "Hello     "

########### formatting numbers

# Example decimal value
value = 1234567.89

# Format the decimal value with 2 decimal points and commas
formatted_value = f'{value:,.2f}'

# Specify the desired width for right-justification
width = 15

# Right-justify the formatted value to the specified width
right_justified_value = formatted_value.rjust(width)

# Print the result
print(right_justified_value)

################# adding both

# Example string and number
text = "Total Traded Value:"
value = 1234567.89

# Format the number with 2 decimal points and commas
formatted_value = f'{value:,.2f}'

# Concatenate the string and the formatted number
result_string = f'{text} {formatted_value}'

# Print the result
print(result_string)


##### adding spaces
# Calculate the number of spaces needed to make the total length 50 characters
num_spaces = 30 - len(text)

# Concatenate the text with the required number of spaces and the formatted value
result_string = text + ' ' * num_spaces + formatted_value

# Print the result
print(result_string)

Hello
   1,234,567.89
Total Traded Value: 1,234,567.89
Total Traded Value:           1,234,567.89

In [30]:
# Value to match against
#target_name = 'Charlie'

# Locate the record(s) matching the value in the 'Name' column
#matching_records = df[df['Name'] == target_name]

#volume = 3551452
#find_nse_symbol = nse_merged_df_out[nse_merged_df_out['NSE_Delivery']== volume]
#find_nse_symbol

In [31]:
import pandas as pd

# Example DataFrame (replace with your actual DataFrame)
data = {
    'Name': ['John', 'Alice', 'Bob'],
    'Age': [30, 25, 22],
    'City': ['New York', 'London', 'Paris']
}

df = pd.DataFrame(data)

# Add the 'Salary' column with the given values
df['Salary'] = [30000, 49304.35, 2938]

# Format the 'Salary' column with 2 decimal points and commas
df['Formatted Salary'] = df['Salary'].apply(lambda x: f'{x:,.2f}')

# Remove headers and iterate through rows using iterrows()
for _, row in df.iterrows():
    name = row['Name'].ljust(20)
    age = str(row['Age']).rjust(9)
    city = row['City'].ljust(30)
    salary = f"{row['Salary']:,.2f}".rjust(15)
    print(f"{name}{age}  {city}{salary}")

John                       30  New York                            30,000.00
Alice                      25  London                              49,304.35
Bob                        22  Paris                                2,938.00

In [32]:
m_segment = final_master_file[final_master_file['Segment'] == "SM"]
m_segment

Empty DataFrame
Columns: [Company Name, Total_Delivery, Price, PrevClose, Total_Traded_Value, NSE_Code, BSE_Code, Segment]
Index: []

In [33]:
sme_value_50

,Company Name,Total_Delivery,Price,PrevClose,Total_Traded_Value,NSE_Code,BSE_Code,Segment
339,Paragon Fine and Speciality Ch,1606800,213.75,100.00,3434.535000,PARAGON,,ST
135,Bondada Engineering Limited,409600,366.40,333.10,1500.774400,543971,543971,M
179,Drone Destination Ltd.,594000,143.15,139.25,850.311000,DRONE,,SM
321,NewJaisa Tech,378000,134.50,128.30,508.410000,NEWJAISA,,SM
280,Varanium Cloud Ltd.,340000,141.95,141.40,482.630000,CLOUD,,SM
138,Technowgreen,212800,218.80,188.30,465.606400,543991,543991,M
338,Shanthala FMCG Products Limite,426000,103.55,91.00,441.123000,SHANTHALA,,ST
213,Krishca Strapping Solutions Lt,168000,234.15,240.40,393.372000,KRISHCA,,SM
184,Essen Speciality Films Ltd.,226800,173.30,182.45,393.044400,ESFL,,SM
304,Basilic Fly Studio,127200,282.90,289.60,359.848800,BASILIC,,SM
327,VishnuSurya Infra,216000,160.25,155.85,346.140000,VISHNUINFR,,SM
8,CFF Fluid Control Ltd.,74400,439.70,420.10,327.136800,543920,543920,M
38,Insolation Energy Ltd.,54000,592.20,585.05,319.788000,543620,543620,M
269,Systango Technologies Ltd.,112000,282.85,272.95,316.792000,SYSTANGO,,SM
314,Cellcor Gadgets,133200,220.00,219.60,293.040000,CELLECOR,,SM
44,Virtuoso Optoelectronics Ltd.,103000,274.60,243.35,282.838000,543597,543597,M
323,Vinyas Innovative Technologies,66400,423.60,516.85,281.270400,VINYAS,,SM
150,All E Technologies Ltd.,111200,221.60,198.50,246.419200,ALLETEC,,SM
316,HiGreen Carbon,156800,155.15,151.40,243.275200,HIGREEN,,SM
235,PE Analytics Ltd.,94800,253.90,231.20,240.697200,PROPEQUITY,,SM
247,Quicktouch Technologies Ltd.,100000,209.70,220.70,209.700000,QUICKTOUCH,,SM
325,E Factor Experiences,115200,177.15,163.35,204.076800,EFACTOR,,SM
133,Khazanchi Jewellers Ltd,68000,283.10,290.50,192.508000,543953,543953,M
141,Sunita Tools,107000,179.50,172.55,192.065000,544001,544001,M
309,Holmarc Opto Mechatronics,129000,139.15,131.05,179.503500,HOLMARC,,SM
212,Kotyark Industries Ltd.,21400,808.85,805.15,173.093900,KOTYARK,,SM
336,Rajgor Castor Derivatives Ltd,294000,56.45,59.15,165.963000,RCDL,,ST
270,Tara Chand Infralogistic Solut,101000,159.40,173.65,160.994000,TARACHAND,,SM
136,Meson Valves Limited,44400,358.10,351.15,158.996400,543982,543982,M
24,Macfos Ltd.,48000,324.75,300.30,155.880000,543787,543787,M
310,Chavda Infra,162000,94.25,90.20,152.685000,CHAVDA,,SM
238,Phantom Digital Effects Ltd.,33600,439.75,441.45,147.756000,PHANTOMFX,,SM
313,Kody Techno,39200,360.75,340.75,141.414000,KODYTECH,,SM
13,Exhicon Events Media Solutions,47000,279.90,279.00,131.553000,543895,543895,M
337,On Door Concepts Limited,64200,183.70,193.35,117.935400,ONDOOR,,ST
84,Knowledge Marine & Engineering,9125,1285.55,1315.20,117.306438,543273,543273,M
115,RMC Switchgears Ltd.,19125,599.10,602.55,114.577875,540358,540358,M
228,MOS Utility Ltd.,121600,94.20,93.30,114.547200,MOS,,SM
156,Annapurna Swadisht Ltd.,38500,296.05,295.50,113.979250,ANNAPURNA,,SM
64,Bhatia Colour Chem Ltd.,214400,52.69,54.33,112.967360,543497,543497,M
319,Digikore Studios,39200,272.40,289.25,106.780800,DIGIKORE,,SM
335,Arvind and Company Shipping Ag,156000,68.35,65.10,106.626000,ACSAL,,ST
332,Karnika Industries Limited,110400,84.75,81.30,93.564000,KARNIKA,,SM
318,Saakshi Medtech,37200,248.05,247.45,92.274600,SAAKSHI,,SM
97,Northern Spirits Ltd.,26000,338.45,344.35,87.997000,542628,542628,M
30,Droneacharya Aerial Innovation,46000,184.90,184.85,85.054000,543713,543713,M
122,Growington Ventures India Ltd.,41850,200.05,204.60,83.720925,539222,539222,M
250,Remus Pharmaceuticals Ltd.,1450,5707.00,5700.00,82.751500,REMUS,,SM
249,RBM Infracon Ltd.,31000,265.65,253.05,82.351500,RBMINFRA,,SM
211,Kore Digital Ltd.,24800,327.60,323.40,81.244800,KDL,,SM