In [9]:
######### for this program to give accurate results, combined_df has to be run again if any code/name changes are there or
########## including any additions
########## companymaster has to be uptodate
######### shortlisted stocks - averages for nse/bse has to be updated
######## market cap from screener has to be updated

In [10]:
from platform import python_version
python_version()

'3.9.12'

In [11]:
### this program gives top 50 deliveries by value and volume for fno and non-fno. 
#### it also creates fno_csv and non_fno_csv which is used by multiple scrips program

### caution - if data file is already read, then it skips reading it. So if data is updated, close the program and restart it
#### to enable data file to be read again

In [12]:
### lenovo desktop file path
master_file_path = "C:\\Users\\User\\Dropbox\\SQL Stock Market Data\\Python Code from ChatGPT\\Master File\\CompanyMaster.csv"
directory = "C:\\Users\\User\\Dropbox\\SQL Stock Market Data\\Data Files\\"  # Replace with the path to your directory
output_path = "C:\\Users\\User\\Dropbox\\SQL Stock Market Data\\Python Code from ChatGPT\\Output File\\"
combined_file_path = "C:\\Users\\User\\Dropbox\\SQL Stock Market Data\\Delivery Price Combined Files\\"

column_order = ['NSE_Code','BSE_Code','Date','NSE_Delivery','BSE_Delivery']

In [13]:
#### Lenovo laptop file path

master_file_path = "C:\\Users\\sarda\\Dropbox\\SQL Stock Market Data\\Python Code from ChatGPT\\Master File\\CompanyMaster.csv"
directory = "C:\\Users\\sarda\\Dropbox\\SQL Stock Market Data\\Data Files\\"  # Replace with the path to your directory
output_path = "C:\\Users\\sarda\\Dropbox\\SQL Stock Market Data\\Python Code from ChatGPT\\Output File\\"

combined_file_path = "C:\\Users\\sarda\\Dropbox\\SQL Stock Market Data\\Delivery Price Combined Files\\"

column_order = ['NSE_Code','BSE_Code','Date','NSE_Delivery','BSE_Delivery']

In [14]:
import os
import csv
import pandas as pd

In [15]:


file_names = ['BSE Gross Deliverable.txt', 'NSE Delivery.csv', 'NSE EQ.csv', 'EQ ISIN.csv']

while True:
    user_input = input("Enter a date in the 'yymmdd' format (or press Enter to exit): ")

    # Check if the user pressed Enter with an empty input
    if not user_input:
        print("Exiting the program.")
        break

    # Check if the input has 6 characters and consists of digits
    if len(user_input) == 6 and user_input.isdigit():
        all_files_exist = True
        updated_file_names = []

        for file_name in file_names:
            full_file_name = os.path.join(directory, f"{file_name.split('.')[0]} {user_input}.{file_name.split('.')[-1]}")
            file_name_date = f"{file_name.split('.')[0]} {user_input}.{file_name.split('.')[-1]}"
            if not os.path.exists(full_file_name):
                all_files_exist = False
                break
            updated_file_names.append(file_name_date)

        if all_files_exist:
            print(f"All required files for the date '{user_input}' exist.")
            # You can use the updated_file_names list for further processing
            print("Updated file names:", updated_file_names)
            break  # Exit the loop if all files exist
        else:
            print("Not all required files exist. Please check the files.")
    else:
        print("Invalid input. Please enter a date in the 'yymmdd' format (e.g., 220101).")

Enter a date in the 'yymmdd' format (or press Enter to exit): 231226
All required files for the date '231226' exist.
Updated file names: ['BSE Gross Deliverable 231226.txt', 'NSE Delivery 231226.csv', 'NSE EQ 231226.csv', 'EQ ISIN 231226.csv']

In [16]:
nse_dely_file = [updated_file_names[1]]
nse_price_file = [updated_file_names[2]]
bse_dely_file = [updated_file_names[0]]
bse_price_file = [updated_file_names[3]]
print(nse_dely_file,nse_price_file,bse_dely_file,bse_price_file)

['NSE Delivery 231226.csv'] ['NSE EQ 231226.csv'] ['BSE Gross Deliverable 231226.txt'] ['EQ ISIN 231226.csv']

In [17]:
def nse_data(nse_file_name):
    
    
    
    nse_df = pd.DataFrame(columns=['NSE_Code','Date','NSE_Volume','NSE_Delivery','Segment'])
    dely_segment = ['EQ','BE','SM','ST']
    
    for file_name in nse_file_name:
        file_path = os.path.join(directory, file_name)
        date = file_name[13:19]
        
        with open(file_path,'r') as file:
            reader = csv.reader(file)
            for i, line in enumerate(reader, start=1):
                if i >= 5:
                    line_str = ','.join(line)
                    data = line_str.split(',')
                    if data[3] in dely_segment:
                        nse_code = data[2]
                        dely = data[5]
                        segment = data[3]
                        volume = data[4]
                        df_to_append = pd.DataFrame({'NSE_Code': [nse_code], 'Date': [date], 'NSE_Volume':volume,
                                                     'NSE_Delivery': [dely], 'Segment': [segment]})
                        nse_df = pd.concat([nse_df, df_to_append], ignore_index=True)
                        #nse_df = nse_df.append({'NSE_Code': nse_code, 'Date': date, 'NSE_Delivery':dely, 'Segment':segment}, ignore_index=True)
    
    return nse_df
                
 
def bse_data(bse_file_name):
    
    
    
    # Create an empty DataFrame to store the results
    bse_df = pd.DataFrame(columns=['BSE_Code', 'Date','BSE_Delivery'])
    dely_segment = ['EQ','BE','SM','ST']

    

    for file_name in bse_file_name:
        file_path = os.path.join(directory, file_name)
        date = file_name[22:28] 
    
        with open(file_path, 'r') as file:
            reader = csv.reader(file)
            for i, line in enumerate(reader, start=1):
                if i >= 2:  # Start reading from line 5
                    line_str = ','.join(line)
                    data = line_str.split('|')
                    dely = data[2]
                    bse_code = data[1]
                    df_to_append = pd.DataFrame({'BSE_Code': [bse_code], 'Date': [date], 'BSE_Delivery':[dely]}) 
                    bse_df = pd.concat([bse_df,df_to_append], ignore_index=True)
                        
    return bse_df

In [18]:

def nse_price(nse_price_file):
    nse_df = pd.DataFrame(columns=['NSE_Code', 'Date', 'Price', 'PrevClose', 'Segment', 'Traded'])
    dely_segment = ['EQ', 'BE', 'SM', 'ST']

    for file_name in nse_price_file:
        file_path = os.path.join(directory, file_name)
        date = file_name[7:13]

        with open(file_path, 'r') as file:
            reader = csv.reader(file)
            for row in reader:
                if row and row[1] in dely_segment:  # Check if the row is not empty and segment matches
                    nse_code = row[0]
                    price = row[5]
                    prev_close = row[7]
                    segment = row[1]
                    traded = row[8]
                    df_to_append = pd.DataFrame({'NSE_Code': [nse_code], 'Date': [date], 'Price': [price], 
                                                 'PrevClose': [prev_close],'Segment': [segment], 'Traded': [traded]})
                    nse_df = pd.concat([nse_df, df_to_append], ignore_index=True)

    return nse_df

def bse_price(bse_price_file):
    bse_df = pd.DataFrame(columns=['BSE_Code', 'Date', 'Price', 'PrevClose', 'BSE_Volume','Segment'])
    dely_segment = ['EQ', 'BE', 'SM', 'ST']

    for file_name in bse_price_file:
        file_path = os.path.join(directory, file_name)
        date = file_name[8:14]

        with open(file_path, 'r') as file:
            reader = csv.reader(file)
            for row in reader:
                #if row and row[1] in dely_segment:  # Check if the row is not empty and segment matches
                    bse_code = row[0]
                    price = row[7]
                    prev_close = row[9]
                    bse_group = row[2]
                    volume = row[11]
                    df_to_append = pd.DataFrame({'BSE_Code': [bse_code], 'Date': [date], 'Price': [price], 
                                                 'PrevClose': [prev_close],'BSE_Volume':volume ,'Segment': [bse_group]})
                    bse_df = pd.concat([bse_df, df_to_append], ignore_index=True)

    # Drop the first row, which is a header row, and reset the index
    bse_df = bse_df.iloc[1:].reset_index(drop=True)

    return bse_df

In [19]:
def add_nse_prefix(df, column_name):
    # Create a copy of the DataFrame to avoid SettingWithCopyWarning
    df = df.copy()

    # Add "NSE:" prefix to the specified column
    df.loc[:, column_name] = "NSE:" + df[column_name].astype(str)

    return df

In [20]:
### getting unique symbols from fno
nse_fno_file = sorted([file for file in os.listdir(directory) if file.startswith('NSE FNO')],reverse=True)[:1]

for file_name in nse_fno_file:
    file_path = os.path.join(directory, file_name)
    fno_df = pd.read_csv(file_path)
    fno_df = fno_df.drop_duplicates(subset ='SYMBOL')
    fno_symbols = fno_df['SYMBOL']
    fno_symbols = fno_symbols.reset_index(drop=True)

In [21]:
print('processing nse_dely')
nse_dely_data = nse_data(nse_dely_file)

print('processing bse_dely')
bse_dely_data = bse_data(bse_dely_file)

print('processing nse_price')
nse_price_data = nse_price(nse_price_file)

print('processing bse_price')
bse_price_data = bse_price(bse_price_file)

print('all done, proceed')

processing nse_dely
processing bse_dely
processing nse_price
processing bse_price
all done, proceed

In [22]:
nse_dely_data['NSE_Delivery'] = nse_dely_data['NSE_Delivery'].astype(int)
nse_dely_data['NSE_Volume'] = nse_dely_data['NSE_Volume'].astype(int)
nse_price_data['Price'] = nse_price_data['Price'].astype(float)
nse_price_data['PrevClose'] = nse_price_data['PrevClose'].astype(float)
nse_price_data['Traded'] = nse_price_data['Traded'].astype(int)

bse_dely_data['BSE_Delivery'] = bse_dely_data['BSE_Delivery'].astype(int)
bse_price_data['Price'] = bse_price_data['Price'].astype(float)
bse_price_data['PrevClose'] = bse_price_data['PrevClose'].astype(float)
bse_price_data['BSE_Volume'] = bse_price_data['BSE_Volume'].astype(int)

In [23]:
#nse_dely_data.info()
#bse_dely_data.info()
#nse_price_data.info()
#bse_price_data.info()

In [24]:
### nse_dely_data has NSE_Code, Date, NSE_Delivery, Segment
### bse_dely_data has BSE_Code, Date, BSE_Delivery

### nse_price_data has NSE_Code	Date	Price	PrevClose	Segment	Traded
### bse_price_data has BSE_Code	Date	Price	PrevClose	Segment

In [25]:
## this section processes nse delivery and price file. Makes sure that stocks which are in BE segment and 
## therefore dont appear in nse delivery are taken from price file and new nse merged df is generated

### merging nse price and delivery files
nse_merged_df_out = pd.merge(nse_dely_data,nse_price_data, on = 'NSE_Code', how = 'outer')

### processing merged file
# Replace 'NSE_Delivery' with 'Traded' where 'NSE_Delivery' is NaN
nse_merged_df_out['NSE_Delivery'] = nse_merged_df_out['NSE_Delivery'].fillna(nse_merged_df_out['Traded'])

# Replace nse volume with nse delivery where nse volume is NaN
nse_merged_df_out['NSE_Volume'] = nse_merged_df_out['NSE_Volume'].fillna(nse_merged_df_out['NSE_Delivery'])

# Replace 'Date_x' with 'Date_y' where 'Date_x' is NaN
nse_merged_df_out['Date_x'] = nse_merged_df_out['Date_x'].fillna(nse_merged_df_out['Date_y'])

# Replace 'Segment_x' with 'Segment_y' where 'Segment_x' is NaN
nse_merged_df_out['Segment_x'] = nse_merged_df_out['Segment_x'].fillna(nse_merged_df_out['Segment_y'])

# Rename 'Segment_x' to 'Segment'
nse_merged_df_out.rename(columns={'Segment_x': 'Segment'}, inplace=True)

# Rename 'Date_x' to 'Date'
nse_merged_df_out.rename(columns={'Date_x': 'Date'}, inplace=True)

# Drop the 'Date_y' column
nse_merged_df_out.drop(columns=['Date_y'], inplace=True)

# Drop the 'Segment_y' column
nse_merged_df_out.drop(columns=['Segment_y'], inplace=True)

# Delete the 'Traded' column after replacement
nse_merged_df_out.drop(columns=['Traded'], inplace=True)

# Reset the index
nse_merged_df_out.reset_index(drop=True, inplace=True)

# add traded_value column

nse_merged_df_out['Traded_Value_lacs'] = (nse_merged_df_out['NSE_Delivery'] * nse_merged_df_out['Price'] / 100000).round(2)

#print(nse_merged_df_out)

nse_col_order = ['Date','NSE_Code','NSE_Volume','NSE_Delivery','Price','PrevClose','Traded_Value_lacs','Segment']
nse_merged_df_out = nse_merged_df_out[nse_col_order]

#### nse_merged_df_out is NSE_Code	Date	NSE_Delivery	Segment	Price	PrevClose	Traded_Value_lacs

In [26]:
###merging bse price and delivery files

bse_merged_df_out = pd.merge(bse_dely_data,bse_price_data, on = 'BSE_Code', how = 'outer')



### processing bse merged file

bse_merged_df_out['Traded_Value_lacs'] = (bse_merged_df_out['BSE_Delivery'] * bse_merged_df_out['Price'] / 100000).round(2)

# Rename 'Date_x' to 'Date'
bse_merged_df_out.rename(columns={'Date_x': 'Date'}, inplace=True)

# Drop the 'Date_y' column
bse_merged_df_out.drop(columns=['Date_y'], inplace=True)
bse_merged_df_out = bse_merged_df_out[bse_merged_df_out['BSE_Code'] <= '599999']

bse_merged_df_out.reset_index(drop=True, inplace = True)

#print(bse_merged_df_out)

bse_col_order = ['Date','BSE_Code','BSE_Volume','BSE_Delivery','Price','PrevClose','Traded_Value_lacs','Segment']
bse_merged_df_out = bse_merged_df_out[bse_col_order]

#### bse_merged_df_out is BSE_Code	Date	BSE_Delivery	Price	PrevClose	Segment	Traded_Value_lacs

In [27]:
### saving nse and bse files separately

nse_file = combined_file_path + 'nse_' + user_input + '.csv'
bse_file = combined_file_path + 'bse_' + user_input + '.csv'

#df.to_csv('sample.csv', index=False)

nse_merged_df_out.to_csv(nse_file, index = False)
bse_merged_df_out.to_csv(bse_file, index = False)

In [28]:
#nse_merged_df_out.info()
#nse_merged_df_out

In [29]:
#bse_merged_df_out.info()
#bse_merged_df_out

In [30]:
## reading master file
### master file (csv) is Company Name	CD_NSE Symbol	CD_BSE Code	CD_Is Subsidiary	CD_Sector	CD_Industry1

#### TO FIX - MASTER FILE DOES NOT HAVE SM SEGMENT CODES

master_file = pd.read_csv(master_file_path, dtype={'CD_BSE Code': str})


###df.rename(columns={'old_column_name': 'new_column_name'}, inplace=True)
##df.rename(columns={'old_column_name': 'new_column_name'}, inplace=True)
### Inplace method (modifies the original DataFrame)
###df.drop(columns=['column1', 'column2'], inplace=True)

master_file.drop(columns=['CD_Is Subsidiary','CD_Sector','CD_Industry1'], inplace = True )
master_file.rename(columns={'CD_NSE Symbol': 'NSE_Code', 'CD_BSE Code': 'BSE_Code'}, inplace= True )


#### master_file df is Company Name	NSE_Code	BSE_Code

#print(master_file)

In [31]:
## Merge NSE df with master file 

master_file = pd.merge(master_file,nse_merged_df_out, on= "NSE_Code", how = 'outer')
#master_file.dropna(subset=['Company Name'], inplace=True)


## merge bse df  with master file 
master_file = pd.merge(master_file,bse_merged_df_out, on ="BSE_Code", how = "outer")
#master_file.dropna(subset=['Company Name'], inplace=True)

# Drop records where both 'NSE_Code' and 'BSE_Code' are NaN or blank
master_file.dropna(subset=['NSE_Code', 'BSE_Code'], how='all', inplace=True)

# Reset the index after dropping rows
master_file.reset_index(drop=True, inplace=True)

# Drop records where both 'NSE_Delivery' and 'BSE_Delivery' are 0 or blank or NaN
master_file = master_file[~((master_file['NSE_Delivery'] == 0) & (master_file['BSE_Delivery'] == 0))]

# Reset the index after dropping rows
master_file.reset_index(drop=True, inplace=True)


# Trim "Company Name" column to a maximum length of 20 characters
master_file['Company Name'] = master_file['Company Name'].str.slice(0, 30)


# Reset the index after dropping rows
master_file.reset_index(drop=True, inplace=True)

#print(master_file)

In [32]:

# Identify the data types of each column
column_data_types = master_file.dtypes

# Replace NaN values in object columns with empty strings ("")
object_columns = master_file.select_dtypes(include='object').columns
master_file[object_columns] = master_file[object_columns].fillna("")

# Replace NaN values in float/integer columns with 0
numeric_columns = master_file.select_dtypes(include=['float64', 'int64']).columns
master_file[numeric_columns] = master_file[numeric_columns].fillna(0)

# Print the resulting DataFrame
#print(master_file)

#master_file.info()

In [33]:
# Define a custom function to replace Price_x with Price_y if Price_x is 0
def replace_price_x(row):
    if row['Price_x'] == 0:
        return row['Price_y']
    else:
        return row['Price_x']

    
def replace_prevclose_x(row):
    if row['PrevClose_x'] == 0:
        return row['PrevClose_y']
    else:
        return row['PrevClose_x']
    
    
def replace_segment(row):
    if row['Segment_x'] == "":
        return row['Segment_y']
    else:
        return row['Segment_x']
    
def replace_date(row):
    if row['Date_x'] == "":
        return row['Date_y']
    else:
        return row['Date_x']

# Apply the custom function to the DataFrame
master_file['Price_x'] = master_file.apply(replace_price_x, axis=1)
master_file['PrevClose_x'] = master_file.apply(replace_prevclose_x, axis=1)

# Rename 'Price_x' column to 'Price'
master_file.rename(columns={'Price_x': 'Price'}, inplace=True)
master_file.rename(columns={'PrevClose_x':'PrevClose'}, inplace=True)

### segment

master_file['Segment_x'] = master_file.apply(replace_segment, axis = 1)
master_file.rename(columns={'Segment_x' :'Segment'}, inplace = True)

#Date
master_file['Date_x'] = master_file.apply(replace_date, axis = 1)
master_file.rename(columns={'Date_x' :'Date'}, inplace = True)

### add total delivery column
master_file['Total_Delivery'] = master_file['NSE_Delivery'] + master_file['BSE_Delivery']
master_file['Total_Delivery'] = master_file['Total_Delivery'].astype(int)
master_file = master_file[master_file['Total_Delivery'] >= 1]

### add total volume column
master_file['Total_Volume'] = master_file['NSE_Volume'] + master_file['BSE_Volume']
master_file['Total_Volume'] = master_file['Total_Volume'].astype(int)


## add total traded value colum

master_file['Total_Traded_Value'] = ( master_file['Total_Delivery'] * master_file['Price'] ) / 100000



### reorder columns

columns_to_copy = ['Date','Company Name','Total_Volume','Total_Delivery', 'Price','PrevClose','Total_Traded_Value' ,'NSE_Code','BSE_Code','Segment']

# Create a new DataFrame 'final_master_file' with the desired columns
#final_master_file = master_file[columns_to_copy].copy()

In [34]:
#master_file

In [35]:

master_file_columns = ['Date','Company Name','NSE_Code','BSE_Code','Total_Volume','Total_Delivery', 'Price','PrevClose',
                       'Total_Traded_Value' , 'NSE_Volume','NSE_Delivery','BSE_Volume','BSE_Delivery','Segment']
final_master_file = master_file[master_file_columns]
master_file_csv = combined_file_path + 'combined_' + user_input + '.csv'

#df.to_csv('sample.csv', index=False)

final_master_file.to_csv(master_file_csv, index = False)

In [36]:

#### create sme file
sme_segment = ['SM','ST','M ','MT']
sme_delivery = final_master_file[final_master_file['Segment'].isin(sme_segment)]
sme_delivery.loc[sme_delivery['NSE_Code'] == '', 'NSE_Code'] = sme_delivery['BSE_Code']
sme_delivery.reset_index(drop=True, inplace=True)

# Drop records where Total_Traded_Value is below 1000
final_master_file = final_master_file[final_master_file['Total_Traded_Value'] >= 1000]

In [37]:
###creating separate file for fno delivery and non fno delivery

# Filter final_master_file to get fno_delivery by checking if NSE_Code is in fno_symbols
fno_delivery = final_master_file[final_master_file['NSE_Code'].isin(fno_symbols)]
fno_delivery_final = fno_delivery[['NSE_Code', 'NSE_Volume','Total_Delivery', 'Price','PrevClose', 
                                   'Total_Traded_Value']].copy()


# Create non_fno_delivery by dropping rows where NSE_Code is in fno_symbols
non_fno_delivery = final_master_file[~final_master_file['NSE_Code'].isin(fno_symbols)]

# Reset index inplace for fno_delivery and non_fno_delivery
fno_delivery_final.reset_index(drop=True, inplace=True)
non_fno_delivery.reset_index(drop=True, inplace=True)

# Replace empty strings in NSE_Code with BSE_Code
#non_fno_delivery.loc[non_fno_delivery['NSE_Code'] == '', 'NSE_Code'] = non_fno_delivery['BSE_Code']


# Replace empty strings in NSE_Code with BSE_Code using a copy
non_fno_delivery_copy = non_fno_delivery.copy()
non_fno_delivery_copy.loc[non_fno_delivery_copy['NSE_Code'] == '', 'NSE_Code'] = non_fno_delivery_copy['BSE_Code']

In [38]:
# Replace empty strings in NSE_Code with BSE_Code
#non_fno_delivery['NSE_Code'] = non_fno_delivery.apply(lambda row: row['BSE_Code'] if row['NSE_Code'] == "" else row['NSE_Code'], axis=1)

#non_fno_delivery.loc[non_fno_delivery['NSE_Code'] == '', 'NSE_Code'] = non_fno_delivery['BSE_Code']


#sme_delivery
#non_fno_delivery

In [39]:
segment_var = ['SM','ST','M ']
#final_master_file.info()
 ##Count the records in each segment
segment_counts = master_file['Segment'].value_counts()

#print(segment_counts)

In [40]:
nse_dely_date = user_input
### creating top 50 by value and by volume for fno and non-fno

def top_n(df,n, column_name, trade_amt):
    
    df_filtered = df[df['Total_Traded_Value'] > trade_amt]
    top_n = df_filtered.nlargest(n,column_name).sort_values(column_name, ascending = False)
    return top_n

df_value_50 = top_n(non_fno_delivery,50,'Total_Traded_Value', 250)
df_volume_50 = top_n(non_fno_delivery,50,'Total_Delivery', 250)

fno_value_50 = top_n(fno_delivery,50,'Total_Traded_Value', 1000)
fno_volume_50 = top_n(fno_delivery,50,'Total_Delivery', 1000)

fno_columns = ['NSE_Code', 'Total_Delivery','Price','PrevClose','Total_Traded_Value']

fno_value_50 = fno_value_50[fno_columns]
fno_volume_50 = fno_volume_50[fno_columns]

sme_value_50 = top_n(sme_delivery,50,'Total_Traded_Value', 50)

###########################

###########################

## write to excel -- non_fno value and volume is merged by concat and saved for multiple scrips report (7-day history)
#### sme_csv is similarly saved for 7-day history report

df_non_fno = pd.concat([df_value_50, df_volume_50])
df_non_fno_wl = df_non_fno[['NSE_Code']]

df_fno = pd.concat([fno_value_50, fno_volume_50])




# Reset the index of the series
df_non_fno_wl.reset_index(drop=True, inplace=True)

#add NSE: prefix to NSE_Code
df_non_fno_wl_nse = add_nse_prefix(df_non_fno_wl,'NSE_Code')


### define csv files
output_non_fno = output_path + "0_non_fno.csv"
output_non_fno_date = output_path + nse_dely_date + "_0_non_fno_" + ".csv"
output_non_fno_wl = output_path + '_' + nse_dely_date +"_0_non_fno_wl" + ".csv"


output_fno = output_path + "fno.csv"

output_sme_nodate = output_path + 'sme_csv.csv'
output_sme = output_path + nse_dely_date + '_0_sme_' + '.csv'

### write to csv
df_non_fno.to_csv(output_non_fno, index = False)
df_non_fno.to_csv(output_non_fno_date, index = False)
df_non_fno_wl_nse.to_csv(output_non_fno_wl, index = False)

df_fno.to_csv(output_fno, index = False)

sme_delivery.to_csv(output_sme, index=False)
sme_value_50.to_csv(output_sme_nodate)

In [41]:





def print_formatted_rows(df, columns_to_select):
    # Iterate over the DataFrame and print each row
    for i, (_, row) in enumerate(df.iterrows(), 1):
        p_coname = row[columns_to_select[0]].ljust(40)
        p_dely = f"{row[columns_to_select[1]]:,.0f}".rjust(15)
        p_price = f"{row[columns_to_select[2]]:,.2f}".rjust(12)
        p_prevclose = f"{row[columns_to_select[3]]:,.2f}".rjust(12)
        p_trade_value = f"{row[columns_to_select[4]]:,.2f}".rjust(18)
        p_nse_code = row[columns_to_select[5]].ljust(10)
        
        print(f"{p_coname}{p_dely}{p_price}{p_prevclose}{p_trade_value}    {p_nse_code}")

        # Check if the current row index is a multiple of 5, and insert a blank line
        if i % 5 == 0:
            print()

def fno_formatted_rows(df, columns_to_select):
    
    # Iterate over the DataFrame and print each row
    for i, (_, row) in enumerate(df.iterrows(),1):
        p_nse_code = row[columns_to_select[0]].ljust(10)
        p_dely = f"{row[columns_to_select[1]]:,.0f}".rjust(15)
        p_price = f"{row[columns_to_select[2]]:,.2f}".rjust(12)
        p_prevclose = f"{row[columns_to_select[3]]:,.2f}".rjust(12)
        p_trade_value = f"{row[columns_to_select[4]]:,.2f}".rjust(12)
        
        print(f"{p_nse_code}{p_dely}{p_price}{p_prevclose}{p_trade_value}")
        
        # Check if the current row index is a multiple of 5, and insert a blank line
        if i % 5 == 0:
            print()

In [42]:
columns_to_select = ['Company Name', 'Total_Delivery', 'Price', 'PrevClose','Total_Traded_Value', 'NSE_Code']
col_length = [40,15,12,12,18,10]
formatted_columns = [col + ' ' * (length - len(col)) for col, length in zip(columns_to_select, col_length)]
print(formatted_columns)

['Company Name                            ', 'Total_Delivery ', 'Price       ', 'PrevClose   ', 'Total_Traded_Value', 'NSE_Code  ']

In [43]:
##columns selection for printing
columns_to_select = ['Company Name', 'Total_Delivery', 'Price','PrevClose', 'Total_Traded_Value', 'NSE_Code']
col_length = [40,15,12,18,10]
fno_columns_to_select = ['NSE_Code', 'Total_Delivery', 'Price','PrevClose', 'Total_Traded_Value']



print("Top 50 deliveries by value/volume non-FnO FnO and SME ", nse_dely_date)
print("")
print("")
#print(nse_dely_date)
#print()
print("                          Top 50 delivery by value NON FNO ", nse_dely_date)
print("")
print("Company Name                                ", '  Dely_Qty','      Price','   PrevClose','           Value','   NSECode')
print("")
print_formatted_rows(df_value_50,columns_to_select)
print("")
print("")
print("")


print("                        Top 50 delivery by volume NON FNO ", nse_dely_date)
print("")
print("Company Name                                ", '  Dely_Qty','      Price','   PrevClose','           Value','   NSECode')
print("")

print_formatted_rows(df_volume_50,columns_to_select)
print("")
print("")
print("")


#### printing for fno
print("          Top 50 FNO Delivery by value ", nse_dely_date)
print("")
print("NSECode       ",'  Dely_Qty','      Price','   PrevClose','    Value' )
print("")
fno_formatted_rows(fno_value_50,fno_columns_to_select)
print("")
print("")
print("")

print("             Top 50 FNO Delivery by volume ", nse_dely_date)
print("")
print("NSECode       ",'  Dely_Qty','      Price','   PrevClose','   Value' )
print("")

fno_formatted_rows(fno_volume_50,fno_columns_to_select)
print("")
print("")
print("")


print("                          Top 50 delivery by value SME ", nse_dely_date)
print("")
print("Company Name                                ", '  Dely_Qty','      Price','   PrevClose','           Value','   NSECode')
print("")
print_formatted_rows(sme_value_50,columns_to_select)
print("")
print("")
print("")

Top 50 deliveries by value/volume non-FnO FnO and SME  231226


                          Top 50 delivery by value NON FNO  231226

Company Name                                   Dely_Qty       Price    PrevClose            Value    NSECode

Indian Renewable Energy Dev Ag               53,666,608      101.95      109.85         54,713.11    IREDA
Mazagon Dock Shipbuilders Ltd.                1,639,853    2,287.85    2,121.40         37,517.38    MAZDOCK
Castrol India Ltd.                           13,838,962      182.55      162.55         25,263.03    CASTROLIND
Adani Green Energy Ltd.                       1,527,898    1,600.20    1,533.10         24,449.42    ADANIGREEN
Indian Railway Finance Corpora               22,863,500       97.40       97.75         22,269.05    IRFC

Cochin Shipyard Ltd.                          1,608,987    1,374.50    1,301.40         22,115.53    COCHINSHIP
JIO Financial Services                        9,281,284      234.70      236.75         21,783.17    JIOFIN
Mahindra Lifespace Developers                 3,856,295      540.40      532.35         20,839.42    MAHLIFE
HFCL Ltd.                                    22,705,487       85.80       82.00         19,481.31    HFCL
                                              1,714,642      999.99    1,000.00         17,146.25    LIQUIDBEES

Zomato Ltd.                                  13,336,147      125.00      128.50         16,670.18    ZOMATO
Adani Energy Solutions                        1,377,278    1,041.60    1,027.90         14,345.73    ADANIENSOL
IIFL Finance Ltd.                             2,361,380      592.40      572.60         13,988.82    IIFL
Muthoot Microfin Limited                      5,052,794      266.15      291.00         13,448.01    MUTHOOTMF
Motisons Jewellers Limited                   12,711,551      103.55       55.00         13,162.81    MOTISONS

Varun Beverages Ltd.                            969,593    1,250.05    1,238.60         12,120.40    VBL
Inox India Limited                            1,254,278      928.85      910.65         11,650.36    INOXINDIA
Bharat Dynamics Ltd.                            670,117    1,694.80    1,571.25         11,357.14    BDL
Ircon International Ltd.                      6,600,712      171.20      166.60         11,300.42    IRCON
Arman Financial Services Ltd.                   447,677    2,508.85    2,609.70         11,231.54    ARMANFIN

One97 Communications Ltd.                     1,688,379      631.80      642.20         10,667.18    PAYTM
Oil India Ltd.                                2,678,653      381.70      373.25         10,224.42    OIL
Star Health and Allied Insuran                1,906,704      533.80      522.40         10,177.99    STARHEALTH
Yes Bank Ltd.                                48,412,753       20.95       21.05         10,142.47    YESBANK
NLC India Ltd.                                4,025,069      250.20      223.90         10,070.72    NLCINDIA

Suzlon Energy Ltd.                           26,980,243       36.90       37.25          9,955.71    SUZLON
Jupiter Wagons Ltd.                           3,053,353      320.30      323.70          9,779.89    JWL
Garden Reach Shipbuilders & En                1,105,285      872.20      819.65          9,640.30    GRSE
                                              4,310,021      223.54      222.74          9,634.62    SETFNIF50
Solara Active Pharma Sciences                 2,557,650      375.95      329.05          9,615.49    SOLARA

Himadri Speciality Chemical Lt                3,060,751      307.35      286.55          9,407.22    HSCL
Avenue Supermarts Ltd.                          233,309    4,023.45    4,007.95          9,387.07    DMART
Bank Of India                                 7,974,521      109.50      111.80          8,732.10    BANKINDIA
BSE Ltd.                                        374,042    2,310.60    2,319.90          8,642.61    BSE
MSTC Ltd.                                     1,303,807      643.45      568.00          8,389.35    MSTCLTD

Shyam Metalics And Energy Ltd.                1,335,196      619.10      608.40          8,266.20    SHYAMMETL
Suraj Estate Developers Limite                2,432,857      334.50      360.00          8,137.91    SURAJEST
MTAR Technologies Ltd.                          372,652    2,174.60    2,236.65          8,103.69    MTARTECH
J Kumar Infraprojects Ltd.                    1,328,702      593.50      494.60          7,885.85    JKIL
Balaji Amines Ltd.                              281,496    2,614.60    2,365.20          7,359.99    BALAMINES

Jaiprakash Power Ventures Ltd.               51,081,377       13.95       13.25          7,125.85    JPPOWER
Indian Bank                                   1,710,346      409.70      412.20          7,007.29    INDIANB
Adani Total Gas Ltd.                            681,143      995.05      996.30          6,777.71    ATGL
India Pesticides Ltd.                         1,796,531      369.60      354.55          6,639.98    IPL
Life Insurance Corporation of                   839,483      781.30      792.80          6,558.88    LICI

JSW Energy Ltd.                               1,569,183      415.15      409.30          6,514.46    JSWENERGY
Balmer Lawrie & Company Ltd.                  2,794,113      230.25      224.90          6,433.45    BALMLAWRIE
Swan Energy Ltd.                              1,261,422      503.35      506.40          6,349.37    SWANENERGY
Alkyl Amines Chemicals Ltd.                     242,666    2,570.90    2,304.85          6,238.70    ALKYLAMINE
Rail Vikas Nigam Ltd.                         3,469,448      178.65      176.90          6,198.17    RVNL




                        Top 50 delivery by volume NON FNO  231226

Company Name                                   Dely_Qty       Price    PrevClose            Value    NSECode

Indian Renewable Energy Dev Ag               53,666,608      101.95      109.85         54,713.11    IREDA
Jaiprakash Power Ventures Ltd.               51,081,377       13.95       13.25          7,125.85    JPPOWER
Yes Bank Ltd.                                48,412,753       20.95       21.05         10,142.47    YESBANK
Suzlon Energy Ltd.                           26,980,243       36.90       37.25          9,955.71    SUZLON
Syncom Formulations (India) Lt               22,908,492       14.15       11.80          3,241.55    SYNCOMF

Indian Railway Finance Corpora               22,863,500       97.40       97.75         22,269.05    IRFC
HFCL Ltd.                                    22,705,487       85.80       82.00         19,481.31    HFCL
Akshar Spintex Ltd.                          20,325,861        5.10        5.65          1,036.62    AKSHAR
RattanIndia Power Ltd.                       18,217,899        9.25        9.15          1,685.16    RTNPOWER
Reliance Power Ltd.                          15,359,773       22.60       22.40          3,471.31    RPOWER

Urja Global Ltd.                             15,321,549       15.25       14.00          2,336.54    URJA
Castrol India Ltd.                           13,838,962      182.55      162.55         25,263.03    CASTROLIND
The South Indian Bank Ltd.                   13,723,694       26.10       26.65          3,581.88    SOUTHBANK
Zomato Ltd.                                  13,336,147      125.00      128.50         16,670.18    ZOMATO
Motisons Jewellers Limited                   12,711,551      103.55       55.00         13,162.81    MOTISONS

Jaiprakash Associates Ltd.                   11,413,201       20.85       21.10          2,379.65    JPASSOCIAT
Rajnandini Metal Ltd.                        10,347,731       10.55        9.65          1,091.69    RAJMET
PC Jeweller Ltd.                              9,305,789       46.50       51.65          4,327.19    PCJEWELLER
JIO Financial Services                        9,281,284      234.70      236.75         21,783.17    JIOFIN
Infibeam Avenues Ltd.                         8,789,381       21.95       21.70          1,929.27    INFIBEAM

Subex Ltd.                                    8,723,996       36.70       35.50          3,201.71    SUBEXLTD
Hindustan Construction Company                8,303,796       28.60       29.05          2,374.89    HCC
Bank Of India                                 7,974,521      109.50      111.80          8,732.10    BANKINDIA
TV18 Broadcast Ltd.                           7,669,373       52.15       51.00          3,999.58    TV18BRDCST
Morepen Laboratories Ltd.                     6,976,367       51.85       49.25          3,617.25    MOREPENLAB

Dish TV India Ltd.                            6,784,378       19.35       19.75          1,312.78    DISHTV
Ircon International Ltd.                      6,600,712      171.20      166.60         11,300.42    IRCON
Mishtann Foods Ltd.                           6,559,698       17.14       16.44          1,124.33
Easy Trip Planners Ltd.                       6,478,707       39.05       38.50          2,529.94    EASEMYTRIP
NHPC Ltd.                                     6,390,644       64.60       64.70          4,128.36    NHPC

Brightcom Group Ltd.                          6,235,302       19.35       19.85          1,206.53    BCG
Hathway Cable & Datacom Ltd.                  6,141,346       22.10       22.05          1,357.24    HATHWAY
DCW Ltd.                                      6,074,136       57.80       54.85          3,510.85    DCW
SJVN Ltd.                                     6,051,530       91.55       89.70          5,540.18    SJVN
Network 18 Media & Investments                6,008,254       88.85       86.10          5,338.33    NETWORK18

IRB Infrastructure Developers                 5,937,881       41.85       41.65          2,485.00    IRB
Orient Green Power Company Ltd                5,079,933       21.95       22.35          1,115.05    GREENPOWER
Muthoot Microfin Limited                      5,052,794      266.15      291.00         13,448.01    MUTHOOTMF
National Fertilizers Ltd.                     5,018,779       85.90       84.25          4,311.13    NFL
Ultracab (India) Ltd.                         4,961,180       27.83       24.30          1,380.70

IFCI Ltd.                                     4,774,709       28.15       28.40          1,344.08    IFCI
CESC Ltd.                                     4,694,029      123.40      119.15          5,792.43    CESC
Trident Ltd.                                  4,509,433       36.05       36.15          1,625.65    TRIDENT
                                              4,310,021      223.54      222.74          9,634.62    SETFNIF50
VL E-Governance & IT Solutions                4,113,338       41.60       34.70          1,711.15    VLEGOV

Bajaj Hindusthan Sugar Ltd.                   4,103,531       27.75       27.90          1,138.73    BAJAJHIND
Union Bank Of India                           4,050,387      117.15      118.25          4,745.03    UNIONBANK
Himachal Fibres Ltd.                          4,026,974       29.67       30.27          1,194.80
NLC India Ltd.                                4,025,069      250.20      223.90         10,070.72    NLCINDIA
Bank Of Maharashtra                           3,888,133       45.25       45.60          1,759.38    MAHABANK




          Top 50 FNO Delivery by value  231226

NSECode          Dely_Qty       Price    PrevClose     Value

ICICIBANK       9,246,581      995.10      994.30   92,012.73
HDFCBANK        5,063,891    1,682.45    1,670.85   85,197.43
RELIANCE        2,397,896    2,578.05    2,565.05   61,818.96
KOTAKBANK       2,948,650    1,886.85    1,860.50   55,636.60
BAJFINANCE        631,305    7,162.30    7,295.30   45,215.96

WIPRO           9,495,146      470.10      462.65   44,636.68
INFY            2,790,188    1,543.95    1,562.90   43,079.11
AXISBANK        3,144,988    1,094.25    1,088.30   34,414.03
BHEL           17,901,886      182.20      178.30   32,617.24
BEL            17,601,568      181.95      174.80   32,026.05

TCS               784,460    3,795.55    3,824.00   29,774.57
TATAMOTORS      3,943,265      719.55      724.70   28,373.76
SBIN            4,109,484      638.05      636.75   26,220.56
TATACHEM        2,278,161    1,094.25    1,022.05   24,928.78
GAIL           16,122,845      154.00      151.50   24,829.18

LT                710,068    3,490.05    3,477.95   24,781.73
RBLBANK         9,443,248      260.55      272.45   24,604.38
NMDC           11,929,119      201.85      195.40   24,078.93
BPCL            4,940,625      451.60      446.65   22,311.86
COALINDIA       6,051,016      366.05      363.25   22,149.74

HAL               769,977    2,820.65    2,703.70   21,718.36
MARUTI            201,916   10,270.65   10,217.15   20,738.09
IBULHSGFIN      9,215,132      213.45      210.20   19,669.70
HINDPETRO       4,980,152      384.15      369.30   19,131.25
VEDL            7,271,314      261.70      259.75   19,029.03

SAIL           16,283,858      113.55      112.75   18,490.32
BRITANNIA         343,929    5,235.95    5,161.10   18,007.95
PFC             4,480,410      392.25      386.90   17,574.41
TATAPOWER       5,355,745      325.40      326.65   17,427.59
HINDUNILVR        655,083    2,584.75    2,575.60   16,932.26

ITC             3,597,211      456.45      455.20   16,419.47
TATASTEEL      12,028,065      135.20      133.55   16,261.94
SUNPHARMA       1,286,655    1,247.50    1,243.65   16,051.02
HEROMOTOCO        392,694    4,067.45    3,935.70   15,972.63
IEX            10,207,418      156.40      152.55   15,964.40

BHARTIARTL      1,591,136      999.85      989.55   15,908.97
HINDCOPPER      6,806,094      233.25      226.60   15,875.21
ULTRACEMCO        158,010   10,018.65    9,969.00   15,830.47
ONGC            7,620,393      207.35      203.95   15,800.88
IOC            12,040,106      128.05      123.70   15,417.36

RECLTD          3,523,211      419.00      406.60   14,762.25
PNB            15,445,804       88.50       89.25   13,669.54
DRREDDY           229,269    5,632.15    5,627.70   12,912.77
NTPC            3,989,217      309.60      302.80   12,350.62
HINDALCO        2,116,647      579.85      570.45   12,273.38

IRCTC           1,406,624      869.80      860.90   12,234.82
INDIGO            414,118    2,921.10    2,871.40   12,096.80
ASIANPAINT        343,391    3,383.35    3,341.30   11,618.12
ASHOKLEY        6,603,510      173.90      172.00   11,483.50
SHRIRAMFIN        560,377    2,035.75    2,055.45   11,407.87




             Top 50 FNO Delivery by volume  231226

NSECode          Dely_Qty       Price    PrevClose    Value

IDEA           61,364,463       13.35       13.60    8,192.16
BHEL           17,901,886      182.20      178.30   32,617.24
BEL            17,601,568      181.95      174.80   32,026.05
SAIL           16,283,858      113.55      112.75   18,490.32
GAIL           16,122,845      154.00      151.50   24,829.18

PNB            15,445,804       88.50       89.25   13,669.54
IOC            12,040,106      128.05      123.70   15,417.36
TATASTEEL      12,028,065      135.20      133.55   16,261.94
NMDC           11,929,119      201.85      195.40   24,078.93
IEX            10,207,418      156.40      152.55   15,964.40

WIPRO           9,495,146      470.10      462.65   44,636.68
RBLBANK         9,443,248      260.55      272.45   24,604.38
ICICIBANK       9,246,581      995.10      994.30   92,012.73
IBULHSGFIN      9,215,132      213.45      210.20   19,669.70
NATIONALUM      8,167,864      115.35      115.10    9,421.63

MOTHERSON       8,146,736       96.10       94.80    7,829.01
ONGC            7,620,393      207.35      203.95   15,800.88
VEDL            7,271,314      261.70      259.75   19,029.03
IDFCFIRSTB      7,033,180       88.50       88.45    6,224.36
HINDCOPPER      6,806,094      233.25      226.60   15,875.21

ASHOKLEY        6,603,510      173.90      172.00   11,483.50
MANAPPURAM      6,504,419      171.85      176.65   11,177.84
COALINDIA       6,051,016      366.05      363.25   22,149.74
TATAPOWER       5,355,745      325.40      326.65   17,427.59
HDFCBANK        5,063,891    1,682.45    1,670.85   85,197.43

GMRINFRA        5,013,094       73.95       74.65    3,707.18
HINDPETRO       4,980,152      384.15      369.30   19,131.25
BPCL            4,940,625      451.60      446.65   22,311.86
PFC             4,480,410      392.25      386.90   17,574.41
SBIN            4,109,484      638.05      636.75   26,220.56

BANKBARODA      4,094,088      225.35      223.60    9,226.03
NTPC            3,989,217      309.60      302.80   12,350.62
TATAMOTORS      3,943,265      719.55      724.70   28,373.76
POWERGRID       3,653,189      233.35      231.75    8,524.72
ITC             3,597,211      456.45      455.20   16,419.47

RECLTD          3,523,211      419.00      406.60   14,762.25
ZEEL            3,365,551      264.40      267.55    8,898.52
AXISBANK        3,144,988    1,094.25    1,088.30   34,414.03
BANDHANBNK      2,987,811      234.95      234.80    7,019.86
KOTAKBANK       2,948,650    1,886.85    1,860.50   55,636.60

INFY            2,790,188    1,543.95    1,562.90   43,079.11
FEDERALBNK      2,577,538      153.95      154.00    3,968.12
RELIANCE        2,397,896    2,578.05    2,565.05   61,818.96
TATACHEM        2,278,161    1,094.25    1,022.05   24,928.78
INDUSTOWER      2,204,846      185.40      185.80    4,087.78

HINDALCO        2,116,647      579.85      570.45   12,273.38
LAURUSLABS      2,064,982      435.45      414.55    8,991.96
IDFC            2,053,767      124.35      124.20    2,553.86
M&MFIN          1,830,922      270.60      267.40    4,954.47
ABCAPITAL       1,827,528      159.90      159.70    2,922.22




                          Top 50 delivery by value SME  231226

Company Name                                   Dely_Qty       Price    PrevClose            Value    NSECode

Droneacharya Aerial Innovation                  564,000      175.20      185.75            988.13    543713
Kalyani Cast Tech Limited                       151,000      446.75      406.15            674.59    544023
VishnuSurya Infra                               148,000      445.50      428.40            659.34    VISHNUINFR
Amic Forging Limited                            154,000      395.90      353.05            609.69    544037
Insolation Energy Ltd.                           80,500      685.00      696.20            551.42    543620

Basilic Fly Studio                              174,000      302.05      301.95            525.57    BASILIC
All E Technologies Ltd.                         221,600      235.50      256.75            521.87    ALLETEC
Varanium Cloud Ltd.                             462,000      100.90      101.95            466.16    CLOUD
Gretex Corporate Services Ltd.                  134,865      328.95      303.50            443.64    543324
Presstonic Engineering Limited                  308,800      137.20      131.65            423.67    PRESSTONIC

Waaree Technologies Ltd.                         51,100      730.30      695.60            373.18    539337
S J Logistics                                   217,000      168.40      174.10            365.43    SJLOGISTIC
Phantom Digital Effects Ltd.                     74,100      491.80      520.30            364.42    PHANTOMFX
Cellcor Gadgets                                 118,800      289.20      264.20            343.57    CELLECOR
Indo US Bio-Tech Ltd.                           129,500      243.10      239.00            314.81    541304

Sheetal Universal Limited                       344,000       86.10       75.20            296.18    SHEETAL
HiGreen Carbon                                  163,200      180.15      180.80            294.00    HIGREEN
Kody Techno                                      53,600      513.60      428.45            275.29    KODYTECH
Network People Services Techno                   10,600    2,316.45    2,206.15            245.54    NPST

In [44]:
sorted_df = bse_dely_data.sort_values(by='BSE_Delivery', ascending = False)
sorted_df

     BSE_Code    Date  BSE_Delivery
373    504351  231226      30947759
2406   532775  231226      26511640
4071   750815  231226      21700325
3039   539470  231226      18675627
2437   532822  231226      15436809
...       ...     ...           ...
1653   530207  231226             1
4101   800439  231226             1
3171   540132  231226             1
4273   938434  231226             1
1502   526490  231226             1

[4389 rows x 3 columns]

In [45]:
######### fromatting text
text = "Hello"
width = 10

left_justified_text = text.ljust(width)
print(left_justified_text)  # Output: "Hello     "

########### formatting numbers

# Example decimal value
value = 1234567.89

# Format the decimal value with 2 decimal points and commas
formatted_value = f'{value:,.2f}'

# Specify the desired width for right-justification
width = 15

# Right-justify the formatted value to the specified width
right_justified_value = formatted_value.rjust(width)

# Print the result
print(right_justified_value)

################# adding both

# Example string and number
text = "Total Traded Value:"
value = 1234567.89

# Format the number with 2 decimal points and commas
formatted_value = f'{value:,.2f}'

# Concatenate the string and the formatted number
result_string = f'{text} {formatted_value}'

# Print the result
print(result_string)


##### adding spaces
# Calculate the number of spaces needed to make the total length 50 characters
num_spaces = 30 - len(text)

# Concatenate the text with the required number of spaces and the formatted value
result_string = text + ' ' * num_spaces + formatted_value

# Print the result
print(result_string)

Hello
   1,234,567.89
Total Traded Value: 1,234,567.89
Total Traded Value:           1,234,567.89

In [46]:
# Value to match against
#target_name = 'Charlie'

# Locate the record(s) matching the value in the 'Name' column
#matching_records = df[df['Name'] == target_name]

#volume = 3551452
#find_nse_symbol = nse_merged_df_out[nse_merged_df_out['NSE_Delivery']== volume]
#find_nse_symbol

In [47]:
import pandas as pd

# Example DataFrame (replace with your actual DataFrame)
data = {
    'Name': ['John', 'Alice', 'Bob'],
    'Age': [30, 25, 22],
    'City': ['New York', 'London', 'Paris']
}

df = pd.DataFrame(data)

# Add the 'Salary' column with the given values
df['Salary'] = [30000, 49304.35, 2938]

# Format the 'Salary' column with 2 decimal points and commas
df['Formatted Salary'] = df['Salary'].apply(lambda x: f'{x:,.2f}')

# Remove headers and iterate through rows using iterrows()
for _, row in df.iterrows():
    name = row['Name'].ljust(20)
    age = str(row['Age']).rjust(9)
    city = row['City'].ljust(30)
    salary = f"{row['Salary']:,.2f}".rjust(15)
    print(f"{name}{age}  {city}{salary}")

John                       30  New York                            30,000.00
Alice                      25  London                              49,304.35
Bob                        22  Paris                                2,938.00

In [48]:
m_segment = final_master_file[final_master_file['Segment'] == "SM"]
m_segment

Empty DataFrame
Columns: [Date, Company Name, NSE_Code, BSE_Code, Total_Volume, Total_Delivery, Price, PrevClose, Total_Traded_Value, NSE_Volume, NSE_Delivery, BSE_Volume, BSE_Delivery, Segment]
Index: []

In [49]:
sme_value_50

,Date,Company Name,NSE_Code,BSE_Code,Total_Volume,Total_Delivery,Price,PrevClose,Total_Traded_Value,NSE_Volume,NSE_Delivery,BSE_Volume,BSE_Delivery,Segment
315,231226,Droneacharya Aerial Innovation,543713,543713,932000,564000,175.20,185.75,988.128000,0.0,0.0,932000.0,564000.0,M
365,231226,Kalyani Cast Tech Limited,544023,544023,216000,151000,446.75,406.15,674.592500,0.0,0.0,216000.0,151000.0,M
183,231226,VishnuSurya Infra,VISHNUINFR,,276000,148000,445.50,428.40,659.340000,276000.0,148000.0,0.0,0.0,SM
369,231226,Amic Forging Limited,544037,544037,202000,154000,395.90,353.05,609.686000,0.0,0.0,202000.0,154000.0,M
305,231226,Insolation Energy Ltd.,543620,543620,80500,80500,685.00,696.20,551.425000,0.0,0.0,80500.0,80500.0,MT
22,231226,Basilic Fly Studio,BASILIC,,241200,174000,302.05,301.95,525.567000,241200.0,174000.0,0.0,0.0,SM
8,231226,All E Technologies Ltd.,ALLETEC,,344000,221600,235.50,256.75,521.868000,344000.0,221600.0,0.0,0.0,SM
32,231226,Varanium Cloud Ltd.,CLOUD,,773000,462000,100.90,101.95,466.158000,773000.0,462000.0,0.0,0.0,SM
261,231226,Gretex Corporate Services Ltd.,543324,543324,322380,134865,328.95,303.50,443.638418,0.0,0.0,322380.0,134865.0,M
199,231226,Presstonic Engineering Limited,PRESSTONIC,,320000,308800,137.20,131.65,423.673600,320000.0,308800.0,0.0,0.0,ST
215,231226,Waaree Technologies Ltd.,539337,539337,51100,51100,730.30,695.60,373.183300,0.0,0.0,51100.0,51100.0,MT
201,231226,S J Logistics,SJLOGISTIC,,240000,217000,168.40,174.10,365.428000,240000.0,217000.0,0.0,0.0,ST
122,231226,Phantom Digital Effects Ltd.,PHANTOMFX,,114300,74100,491.80,520.30,364.423800,114300.0,74100.0,0.0,0.0,SM
29,231226,Cellcor Gadgets,CELLECOR,,202800,118800,289.20,264.20,343.569600,202800.0,118800.0,0.0,0.0,SM
234,231226,Indo US Bio-Tech Ltd.,541304,541304,145500,129500,243.10,239.00,314.814500,0.0,0.0,145500.0,129500.0,M
196,231226,Sheetal Universal Limited,SHEETAL,,662000,344000,86.10,75.20,296.184000,662000.0,344000.0,0.0,0.0,SM
64,231226,HiGreen Carbon,HIGREEN,,195200,163200,180.15,180.80,294.004800,195200.0,163200.0,0.0,0.0,SM
82,231226,Kody Techno,KODYTECH,,76800,53600,513.60,428.45,275.289600,76800.0,53600.0,0.0,0.0,SM
112,231226,Network People Services Techno,NPST,,10800,10600,2316.45,2206.15,245.543700,10800.0,10600.0,0.0,0.0,ST
304,231226,Concord Control Systems Ltd.,543619,543619,42500,30250,796.80,664.00,241.032000,0.0,0.0,42500.0,30250.0,M
136,231226,Remus Pharmaceuticals Ltd.,REMUS,,3925,3150,7587.25,7060.00,238.998375,3925.0,3150.0,0.0,0.0,SM
193,231226,Rocking Deals Circular Economy,ROCKINGDCE,,95000,71000,312.65,331.90,221.981500,95000.0,71000.0,0.0,0.0,SM
370,231226,Benchmark Computer Solutions L,544052,544052,288000,288000,76.93,73.27,221.558400,0.0,0.0,288000.0,288000.0,MT
219,231226,RMC Switchgears Ltd.,540358,540358,36750,36750,587.75,578.75,215.998125,0.0,0.0,36750.0,36750.0,MT
140,231226,ROX Hitech Limited,ROXHITECH,,171200,124800,165.70,159.15,206.793600,171200.0,124800.0,0.0,0.0,SM
197,231226,Graphisads Limited,GRAPHISAD,,384000,264000,76.80,80.80,202.752000,384000.0,264000.0,0.0,0.0,ST
31,231226,Chavda Infra,CHAVDA,,322000,230000,86.55,80.10,199.065000,322000.0,230000.0,0.0,0.0,SM
239,231226,Supershakti Metaliks Ltd.,541701,541701,43200,43200,460.00,460.00,198.720000,0.0,0.0,43200.0,43200.0,M
198,231226,Accent Microcell Limited,ACCENTMIC,,67000,65000,279.45,288.55,181.642500,67000.0,65000.0,0.0,0.0,ST
372,231226,Sahara Maritime Limited,544056,544056,219200,219200,81.16,0.00,177.902720,0.0,0.0,219200.0,219200.0,MT
232,231226,Taylormade Renewables Ltd.,541228,541228,30400,23200,766.35,729.90,177.793200,0.0,0.0,30400.0,23200.0,M
182,231226,Vinyas Innovative Technologies,VINYAS,,33600,23200,751.65,735.55,174.382800,33600.0,23200.0,0.0,0.0,SM
354,231226,Bondada Engineering Limited,543971,543971,45600,41600,379.75,391.75,157.976000,0.0,0.0,45600.0,41600.0,M
116,231226,Oriana Power Limited,ORIANA,,47400,31200,496.60,501.80,154.939200,47400.0,31200.0,0.0,0.0,SM
344,231226,Cosmic CRF Ltd.,543928,543928,57600,32800,446.85,413.70,146.566800,0.0,0.0,57600.0,32800.0,M
146,231226,SAR Televenture Ltd,SARTELE,,114000,86000,164.85,171.35,141.771000,114000.0,86000.0,0.0,0.0,SM
52,231226,Essen Speciality Films Ltd.,ESFL,,76800,66000,210.60,214.10,138.996000,76800.0,66000.0,0.0,0.0,SM
290,231226,Jayant Infratech Ltd.,543544,543544,98250,69750,197.30,190.10,137.616750,0.0,0.0,98250.0,69750.0,M
117,231226,Paragon Fine and Speciality Ch,PARAGON,,116400,92400,137.10,145.00,126.680400,116400.0,92400.0,0.0,0.0,SM
33,231226,Crop Life Science Limited,CLSL,,354000,262000,47.55,42.40,124.581000,354000.0,262000.0,0.0,0.0,SM
143,231226,Sahana System Ltd.,SAHANA,,23000,16500,647.95,617.10,106.911750,23000.0,16500.0,0.0,0.0,SM
15,231226,Arihant Academy Ltd.,ARIHANTACA,,83200,60800,171.70,173.55,104.393600,83200.0,60800.0,0.0,0.0,SM
20,231226,Baba Food Processing Private L,BABAFP,,198400,147200,69.45,65.30,102.230400,198400.0,147200.0,0.0,0.0,SM
333,231226,Dev Labtech Venture Ltd.,543848,543848,120000,120000,84.75,88.47,101.700000,0.0,0.0,120000.0,120000.0,MT
172,231226,Transteel Seating Technologies,TRANSTEEL,,142000,124000,80.95,83.80,100.378000,142000.0,124000.0,0.0,0.0,SM
180,231226,Viaz Tyres Ltd.,VIAZ,,180000,148000,66.80,58.05,98.864000,180000.0,148000.0,0.0,0.0,SM
137,231226,Rachana Infrastructure Ltd.,RILINFRA,,131300,110600,86.20,88.00,95.337200,131300.0,110600.0,0.0,0.0,SM
78,231226,Kundan Edifice,KEL,,46800,38400,239.70,252.30,92.044800,46800.0,38400.0,0.0,0.0,SM
85,231226,Kotyark Industries Ltd.,KOTYARK,,14800,9600,947.80,954.90,90.988800,14800.0,9600.0,0.0,0.0,SM
166,231226,Synoptics Technologies Ltd.,SYNOPTICS,,127800,67800,134.10,128.00,90.919800,127800.0,67800.0,0.0,0.0,SM