In [31]:
from platform import python_version
python_version()

'3.7.6'

In [32]:
### this program gives top 50 deliveries by value and volume for fno and non-fno. 
#### it also creates fno_csv and non_fno_csv which is used by multiple scrips program

### caution - if data file is already read, then it skips reading it. So if data is updated, close the program and restart it
#### to enable data file to be read again

In [33]:
#### Lenovo laptop file path

master_file_path = "C:\\Users\\sarda\\Dropbox\\SQL Stock Market Data\\Python Code from ChatGPT\\Master File\\CompanyMaster.csv"
directory = "C:\\Users\\sarda\\Dropbox\\SQL Stock Market Data\\Data Files\\"  # Replace with the path to your directory
output_path = "C:\\Users\\sarda\\Dropbox\\SQL Stock Market Data\\Python Code from ChatGPT\\Output File\\"

column_order = ['NSE_Code','BSE_Code','Date','NSE_Delivery','BSE_Delivery']

In [34]:
### lenovo desktop file path
master_file_path = "C:\\Users\\User\\Dropbox\\SQL Stock Market Data\\Python Code from ChatGPT\\Master File\\CompanyMaster.csv"
directory = "C:\\Users\\User\\Dropbox\\SQL Stock Market Data\\Data Files\\"  # Replace with the path to your directory
output_path = "C:\\Users\\User\\Dropbox\\SQL Stock Market Data\\Python Code from ChatGPT\\Output File\\"

column_order = ['NSE_Code','BSE_Code','Date','NSE_Delivery','BSE_Delivery']

In [35]:
import os
import csv
import pandas as pd


nse_dely_file = sorted([file for file in os.listdir(directory) if file.endswith('.csv') and file.startswith('NSE Delivery')], reverse=True)[:1]
bse_dely_file = sorted([file for file in os.listdir(directory) if file.endswith('.txt') and file.startswith('BSE Gross Deliverable ')], reverse=True)[:1]

nse_price_file = sorted([file for file in os.listdir(directory) if file.lower().endswith(('CSV','.csv')) and file.startswith('NSE EQ')], reverse=True)[:1]
bse_price_file = sorted([file for file in os.listdir(directory) if file.lower().endswith(('CSV','csv')) and file.startswith('EQ ISIN')], reverse=True)[:1]

nse_fno_file = sorted([file for file in os.listdir(directory) if file.startswith('NSE FNO')],reverse=True)[:1]

def extract_date(file_name,start):
    
    for i in file_name:
        end = start + 6
        dely_date = i[start:end]
        
    return dely_date

###result_str = str(int(number_str) + 6)

nse_dely_date = extract_date(nse_dely_file,13)
bse_dely_date = extract_date(bse_dely_file,22)

nse_price_date = extract_date(nse_price_file,7)
bse_price_date = extract_date(bse_price_file,8)


if nse_dely_date != bse_dely_date != nse_price_date != bse_price_date:
    print("dates dont match")
    print(nse_dely_date, ' ' , bse_dely_date , ' ' , nse_price_date , ' ' , bse_price_date)
else:
    print("processing for :", nse_dely_date)

processing for : 231026

In [36]:
##### NEW CODE for laptop to remain 

import pandas as pd
import os
import csv



def nse_data(nse_file_names):
    nse_df = []
    dely_segment = ['EQ', 'BE', 'SM', 'ST']

    for file_name in nse_file_names:
        file_path = os.path.join(directory, file_name)
        date = file_name[13:19]

        with open(file_path, 'r') as file:
            reader = csv.reader(file)
            for _, line in enumerate(reader, start=1):
                if len(line) >= 6 and line[3] in dely_segment:
                    nse_code = line[2]
                    dely = line[5]
                    segment = line[3]
                    new_row = {'NSE_Code': nse_code, 'Date': date, 'NSE_Delivery': dely, 'Segment': segment}
                    nse_df.append(new_row)

    nse_df = pd.concat([pd.DataFrame(nse_df)], ignore_index=True)
    return nse_df


def bse_price(bse_price_file):
    bse_data = []
    dely_segment = ['EQ', 'BE', 'SM', 'ST']

    for file_name in bse_price_file:
        file_path = os.path.join(directory, file_name)
        date = file_name[8:14]
            
        with open(file_path, 'r') as file:
            reader = csv.reader(file)
            for row in reader:
                bse_code = row[0]
                price = row[7]
                prev_close = row[9]
                bse_group = row[2]
                bse_data.append({'BSE_Code': bse_code, 'Date': date, 'Price': price, "PrevClose": prev_close, "Segment": bse_group})

    bse_df = pd.DataFrame(bse_data)[1:]

    return bse_df


import os
import pandas as pd
import csv

def nse_price(nse_price_file):
    nse_df = pd.DataFrame(columns=['NSE_Code', 'Date', 'Price', 'PrevClose', 'Segment', 'Traded'])
    dely_segment = ['EQ', 'BE', 'SM', 'ST']

    for file_name in nse_price_file:
        file_path = os.path.join(directory, file_name)
        date = file_name[7:13]

        with open(file_path, 'r') as file:
            reader = csv.reader(file)
            
            for row in reader:
                if row[1] in dely_segment:
                    nse_code = row[0]
                    price = row[5]
                    prev_close = row[7]
                    segment = row[1]
                    traded = row[8]
                    nse_df = nse_df.append({'NSE_Code': nse_code, 'Date': date, 'Price': price, 'PrevClose': prev_close,
                                            'Segment': segment, 'Traded': traded}, ignore_index=True)

    return nse_df

def bse_price(bse_price_file):
    bse_df = pd.DataFrame(columns=['BSE_Code', 'Date', 'Price', 'PrevClose', 'Segment'])
    dely_segment = ['EQ', 'BE', 'SM', 'ST']

    for file_name in bse_price_file:
        file_path = os.path.join(directory, file_name)
        date = file_name[8:14]

        with open(file_path, 'r') as file:
            reader = csv.reader(file)
            next(reader)  # Skip the header row
            
            for row in reader:
                bse_code = row[0]
                price = row[7]
                prev_close = row[9]
                bse_group = row[2]
                bse_df = bse_df.append({'BSE_Code': bse_code, 'Date': date, 'Price': price, 'PrevClose': prev_close,
                                        'Segment': bse_group}, ignore_index=True)

    return bse_df

In [37]:
def nse_data(nse_file_name):
    
    
    
    nse_df = pd.DataFrame(columns=['NSE_Code','Date','NSE_Delivery','Segment'])
    dely_segment = ['EQ','BE','SM','ST']
    
    for file_name in nse_file_name:
        file_path = os.path.join(directory, file_name)
        date = file_name[13:19]
        
        with open(file_path,'r') as file:
            reader = csv.reader(file)
            for i, line in enumerate(reader, start=1):
                if i >= 5:
                    line_str = ','.join(line)
                    data = line_str.split(',')
                    if data[3] in dely_segment:
                        nse_code = data[2]
                        dely = data[5]
                        segment = data[3]
                        nse_df = nse_df.append({'NSE_Code': nse_code, 'Date': date, 'NSE_Delivery':dely, 'Segment':segment}, ignore_index=True)
    
    return nse_df
                
 
def bse_data(bse_file_name):
    
    
    
    # Create an empty DataFrame to store the results
    bse_df = pd.DataFrame(columns=['BSE_Code', 'Date','BSE_Delivery'])
    dely_segment = ['EQ','BE','SM','ST']

    

    for file_name in bse_file_name:
        file_path = os.path.join(directory, file_name)
        date = file_name[22:28] 
    
        with open(file_path, 'r') as file:
            reader = csv.reader(file)
            for i, line in enumerate(reader, start=1):
                if i >= 2:  # Start reading from line 5
                    line_str = ','.join(line)
                    data = line_str.split('|')
                    dely = data[2]
                    bse_code = data[1]
                    bse_df = bse_df.append({'BSE_Code': bse_code, 'Date': date, 'BSE_Delivery':dely}, ignore_index=True)
                        
    return bse_df

In [38]:
def nse_price(nse_price_file):
# Create an empty DataFrame to store the results
    
    
    nse_df = pd.DataFrame(columns=['NSE_Code', 'Date','Price','PrevClose','Segment','Traded'])
    dely_segment = ['EQ','BE','SM','ST']

    

    for file_name in nse_price_file:
        file_path = os.path.join(directory, file_name)
        date = file_name[7:13]
            
        with open(file_path, 'r') as file:
            reader = csv.reader(file)
            
            for row in reader:
                data_list = []
                data_list.append(row)
                
                if data_list[0][1] in dely_segment:
                    nse_code = data_list[0][0]
                    price = data_list[0][5]
                    prev_close = data_list[0][7]
                    segment = data_list[0][1]
                    traded = data_list[0][8]
                    nse_df = nse_df.append({'NSE_Code': nse_code, 'Date': date, 'Price':price,'PrevClose':prev_close,
                                            'Segment':segment,'Traded':traded}, ignore_index=True)
                

    return nse_df

def bse_price(bse_price_file):
# Create an empty DataFrame to store the results
    
    
    bse_df = pd.DataFrame(columns=['BSE_Code', 'Date','Price','PrevClose','Segment'])
    dely_segment = ['EQ','BE','SM','ST']

    

    for file_name in bse_price_file:
        file_path = os.path.join(directory, file_name)
        date = file_name[8:14]
            
        with open(file_path, 'r') as file:
            reader = csv.reader(file)
            for row in reader:
                data_list = []
                data_list.append(row)
                    
                bse_code = data_list[0][0]
                price = data_list[0][7]
                prev_close = data_list[0][9]
                bse_group = data_list[0][2]
                bse_df = bse_df.append({'BSE_Code': bse_code, 'Date': date, 'Price':price,"PrevClose":prev_close,
                                        "Segment":bse_group}, ignore_index=True)
                
    bse_df = bse_df.drop(0).reset_index(drop=True)

    return bse_df

In [39]:
### getting unique symbols from fno

for file_name in nse_fno_file:
    file_path = os.path.join(directory, file_name)
    fno_df = pd.read_csv(file_path)
    fno_df = fno_df.drop_duplicates(subset ='SYMBOL')
    fno_symbols = fno_df['SYMBOL']
    fno_symbols = fno_symbols.reset_index(drop=True)

In [40]:
#### nse delivery structure
##### Record Type,Sr No,Name of Security,Segment, Quantity Traded,Deliverable Quantity(gross across client level),% of Deliverable Quantity to Traded Quantity
##### nse delivery does not include BE or ST records
#####
##### BSE gross deliverable structure 
##### DATE|SCRIP CODE|DELIVERY QTY|DELIVERY VAL|DAY'S VOLUME|DAY'S TURNOVER|DELV. PER.
####
##### NSE EQ ISIN has price 
##### SYMBOL	SERIES	OPEN	HIGH	LOW	CLOSE	LAST	PREVCLOSE	TOTTRDQTY	TOTTRDVAL	TIMESTAMP	TOTALTRADES	ISIN
#####
#####  EQ ISIN has bse price data
##### SC_CODE	SC_NAME	SC_GROUP	SC_TYPE	OPEN	HIGH	LOW	CLOSE	LAST	PREVCLOSE	NO_TRADES	
##### NO_OF_SHRS	NET_TURNOV	TDCLOINDI	ISIN_CODE	TRADING_DATE


if 'nse_dely_data' not in locals(): 
    print('nse_dely does not exist, processing')
    nse_dely_data = nse_data(nse_dely_file)
elif nse_dely_data.empty:
    print('nse_dely empty, processing')
    nse_dely_data = nse_data(nse_dely_file)
else:
    print('nse_dely exists')
 

 
if 'bse_dely_data' not in locals():
    print('bse_dely does not exist, processing')
    bse_dely_data = bse_data(bse_dely_file)
elif bse_dely_data.empty:
    print('bse_dely empty, processing')
    bse_dely_data = bse_data(bse_dely_file)
else:
    print('bse_dely exists')


if 'nse_price_data' not in locals(): 
    print('nse_price does not exist, processing')
    nse_price_data = nse_price(nse_price_file)
elif nse_dely_data.empty:
    print('nse_price empty, processing')
    nse_price_data = nse_price(nse_price_file)
else:
    print('nse_price exists')
 

 
if 'bse_price_data' not in locals():
    print('bse_price does not exist, processing')
    bse_price_data = bse_price(bse_price_file)
elif bse_price_data.empty:
    print('bse_price empty, processing')
    bse_price_data = bse_price(bse_price_file)
else:
    print('bse_price exists')
    
    
print('all done, proceed')

nse_dely exists
bse_dely exists
nse_price exists
bse_price exists
all done, proceed

In [41]:
nse_dely_data

        NSE_Code    Date  NSE_Delivery Segment
0     21STCENMGM  231026          6331      EQ
1         360ONE  231026         52811      EQ
2      3IINFOLTD  231026        284350      EQ
3        3MINDIA  231026          1994      EQ
4         3PLAND  231026         11515      EQ
...          ...     ...           ...     ...
1936        ZOTA  231026         16297      EQ
1937       ZUARI  231026         22659      EQ
1938    ZUARIIND  231026         23855      EQ
1939   ZYDUSLIFE  231026        222384      EQ
1940   ZYDUSWELL  231026        125692      EQ

[1941 rows x 4 columns]

In [42]:
nse_dely_data['NSE_Delivery'] = nse_dely_data['NSE_Delivery'].astype(int)
nse_price_data['Price'] = nse_price_data['Price'].astype(float)
nse_price_data['PrevClose'] = nse_price_data['PrevClose'].astype(float)
nse_price_data['Traded'] = nse_price_data['Traded'].astype(int)

bse_dely_data['BSE_Delivery'] = bse_dely_data['BSE_Delivery'].astype(int)
bse_price_data['Price'] = bse_price_data['Price'].astype(float)
bse_price_data['PrevClose'] = bse_price_data['PrevClose'].astype(float)

In [43]:
### nse_dely_data has NSE_Code, Date, NSE_Delivery, Segment
### bse_dely_data has BSE_Code, Date, BSE_Delivery

### nse_price_data has NSE_Code	Date	Price	PrevClose	Segment	Traded
### bse_price_data has BSE_Code	Date	Price	PrevClose	Segment

In [44]:
## this section processes nse delivery and price file. Makes sure that stocks which are in BE segment and 
## therefore dont appear in nse delivery are taken from price file and new nse merged df is generated

### merging nse price and delivery files
nse_merged_df_out = pd.merge(nse_dely_data,nse_price_data, on = 'NSE_Code', how = 'outer')

### processing merged file
# Replace 'NSE_Delivery' with 'Traded' where 'NSE_Delivery' is NaN
nse_merged_df_out['NSE_Delivery'] = nse_merged_df_out['NSE_Delivery'].fillna(nse_merged_df_out['Traded'])

# Replace 'Date_x' with 'Date_y' where 'Date_x' is NaN
nse_merged_df_out['Date_x'] = nse_merged_df_out['Date_x'].fillna(nse_merged_df_out['Date_y'])

# Replace 'Segment_x' with 'Segment_y' where 'Segment_x' is NaN
nse_merged_df_out['Segment_x'] = nse_merged_df_out['Segment_x'].fillna(nse_merged_df_out['Segment_y'])

# Rename 'Segment_x' to 'Segment'
nse_merged_df_out.rename(columns={'Segment_x': 'Segment'}, inplace=True)

# Rename 'Date_x' to 'Date'
nse_merged_df_out.rename(columns={'Date_x': 'Date'}, inplace=True)

# Drop the 'Date_y' column
nse_merged_df_out.drop(columns=['Date_y'], inplace=True)

# Drop the 'Segment_y' column
nse_merged_df_out.drop(columns=['Segment_y'], inplace=True)

# Delete the 'Traded' column after replacement
nse_merged_df_out.drop(columns=['Traded'], inplace=True)

#### delete segment = st

##nse_merged_df_out = nse_merged_df_out[nse_merged_df_out['Segment'] != 'ST']

# Reset the index
nse_merged_df_out.reset_index(drop=True, inplace=True)

# add traded_value column

nse_merged_df_out['Traded_Value_lacs'] = (nse_merged_df_out['NSE_Delivery'] * nse_merged_df_out['Price'] / 100000).round(2)

#print(nse_merged_df_out)


#### nse_merged_df_out is NSE_Code	Date	NSE_Delivery	Segment	Price	PrevClose	Traded_Value_lacs

In [45]:
nse_merged_df_out.info()
filtered_records = nse_merged_df_out[nse_merged_df_out['Segment'] == 'ST']
filtered_records

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2255 entries, 0 to 2254
Data columns (total 7 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   NSE_Code           2255 non-null   object
 1   Date               2255 non-null   object
 2   NSE_Delivery       2255 non-null   float64
 3   Segment            2255 non-null   object
 4   Price              2255 non-null   float64
 5   PrevClose          2255 non-null   float64
 6   Traded_Value_lacs  2255 non-null   float64
dtypes: float64(4), object(3)
memory usage: 123.4+ KB

,NSE_Code,Date,NSE_Delivery,Segment,Price,PrevClose,Traded_Value_lacs
35,ACSAL,231026,45000.0,ST,76.05,80.05,34.22
345,COMMITTED,231026,38400.0,ST,71.10,74.80,27.30
410,DESTINY,231026,24000.0,ST,33.25,35.00,7.98
618,GRCL,231026,4000.0,ST,124.70,124.70,4.99
916,KARNIKA,231026,28800.0,ST,76.05,79.40,21.90
1331,PLADAINFO,231026,78000.0,ST,47.35,47.85,36.93
1525,SCML,231026,168000.0,ST,72.95,70.45,122.56

In [46]:
###merging bse price and delivery files

bse_merged_df_out = pd.merge(bse_dely_data,bse_price_data, on = 'BSE_Code', how = 'outer')



### processing bse merged file

bse_merged_df_out['Traded_Value_lacs'] = (bse_merged_df_out['BSE_Delivery'] * bse_merged_df_out['Price'] / 100000).round(2)

# Rename 'Date_x' to 'Date'
bse_merged_df_out.rename(columns={'Date_x': 'Date'}, inplace=True)

# Drop the 'Date_y' column
bse_merged_df_out.drop(columns=['Date_y'], inplace=True)
bse_merged_df_out = bse_merged_df_out[bse_merged_df_out['BSE_Code'] <= '599999']

bse_merged_df_out.reset_index(drop=True, inplace = True)

#print(bse_merged_df_out)


#### bse_merged_df_out is BSE_Code	Date	BSE_Delivery	Price	PrevClose	Segment	Traded_Value_lacs

In [47]:
## reading master file
### master file (csv) is Company Name	CD_NSE Symbol	CD_BSE Code	CD_Is Subsidiary	CD_Sector	CD_Industry1

#### TO FIX - MASTER FILE DOES NOT HAVE SM SEGMENT CODES

master_file = pd.read_csv(master_file_path, dtype={'CD_BSE Code': str})



##df.rename(columns={'old_column_name': 'new_column_name'}, inplace=True)
### Inplace method (modifies the original DataFrame)
###df.drop(columns=['column1', 'column2'], inplace=True)

master_file.drop(columns=['CD_Is Subsidiary','CD_Sector','CD_Industry1'], inplace = True )
master_file.rename(columns={'CD_NSE Symbol': 'NSE_Code', 'CD_BSE Code': 'BSE_Code'}, inplace= True )


#### master_file df is Company Name	NSE_Code	BSE_Code

#print(master_file)

In [48]:
## Merge NSE df with master file 

master_file = pd.merge(master_file,nse_merged_df_out, on= "NSE_Code", how = 'outer')
#master_file.dropna(subset=['Company Name'], inplace=True)


## merge bse df  with master file 
master_file = pd.merge(master_file,bse_merged_df_out, on ="BSE_Code", how = "outer")
#master_file.dropna(subset=['Company Name'], inplace=True)

# Drop records where both 'NSE_Code' and 'BSE_Code' are NaN or blank
master_file.dropna(subset=['NSE_Code', 'BSE_Code'], how='all', inplace=True)

# Reset the index after dropping rows
master_file.reset_index(drop=True, inplace=True)

# Drop records where both 'NSE_Delivery' and 'BSE_Delivery' are 0 or blank or NaN
master_file = master_file[~((master_file['NSE_Delivery'] == 0) & (master_file['BSE_Delivery'] == 0))]

# Reset the index after dropping rows
master_file.reset_index(drop=True, inplace=True)


# Trim "Company Name" column to a maximum length of 20 characters
master_file['Company Name'] = master_file['Company Name'].str.slice(0, 30)


# Reset the index after dropping rows
master_file.reset_index(drop=True, inplace=True)

#print(master_file)

In [49]:

# Identify the data types of each column
column_data_types = master_file.dtypes

# Replace NaN values in object columns with empty strings ("")
object_columns = master_file.select_dtypes(include='object').columns
master_file[object_columns] = master_file[object_columns].fillna("")

# Replace NaN values in float/integer columns with 0
numeric_columns = master_file.select_dtypes(include=['float64', 'int64']).columns
master_file[numeric_columns] = master_file[numeric_columns].fillna(0)

# Print the resulting DataFrame
#print(master_file)

#master_file.info()

In [50]:
# Define a custom function to replace Price_x with Price_y if Price_x is 0
def replace_price_x(row):
    if row['Price_x'] == 0:
        return row['Price_y']
    else:
        return row['Price_x']

    
def replace_prevclose_x(row):
    if row['PrevClose_x'] == 0:
        return row['PrevClose_y']
    else:
        return row['PrevClose_x']
    
    
def replace_segment(row):
    if row['Segment_x'] == "":
        return row['Segment_y']
    else:
        return row['Segment_x']

# Apply the custom function to the DataFrame
master_file['Price_x'] = master_file.apply(replace_price_x, axis=1)
master_file['PrevClose_x'] = master_file.apply(replace_prevclose_x, axis=1)

# Rename 'Price_x' column to 'Price'
master_file.rename(columns={'Price_x': 'Price'}, inplace=True)
master_file.rename(columns={'PrevClose_x':'PrevClose'}, inplace=True)

### segment

master_file['Segment_x'] = master_file.apply(replace_segment, axis = 1)
master_file.rename(columns={'Segment_x' :'Segment'}, inplace = True)

### add total delivery column
master_file['Total_Delivery'] = master_file['NSE_Delivery'] + master_file['BSE_Delivery']
master_file['Total_Delivery'] = master_file['Total_Delivery'].astype(int)

## add total traded value colum

master_file['Total_Traded_Value'] = ( master_file['Total_Delivery'] * master_file['Price'] ) / 100000



### reorder columns

columns_to_copy = ['Company Name','Total_Delivery', 'Price','PrevClose','Total_Traded_Value' ,'NSE_Code','BSE_Code','Segment']

# Create a new DataFrame 'final_master_file' with the desired columns
final_master_file = master_file[columns_to_copy].copy()

#### create sme file
sme_segment = ['SM','ST','M ']
sme_delivery = final_master_file[final_master_file['Segment'].isin(sme_segment)]
sme_delivery.reset_index(drop=True, inplace=True)

# Drop records where Total_Traded_Value is below 1000
final_master_file = final_master_file[final_master_file['Total_Traded_Value'] >= 1000]

In [51]:
###creating separate file for fno delivery and non fno delivery

# Filter final_master_file to get fno_delivery by checking if NSE_Code is in fno_symbols
fno_delivery = final_master_file[final_master_file['NSE_Code'].isin(fno_symbols)]
fno_delivery_final = fno_delivery[['NSE_Code', 'Total_Delivery', 'Price','PrevClose', 'Total_Traded_Value']].copy()


# Create non_fno_delivery by dropping rows where NSE_Code is in fno_symbols
non_fno_delivery = final_master_file[~final_master_file['NSE_Code'].isin(fno_symbols)]

# Reset index inplace for fno_delivery and non_fno_delivery
fno_delivery_final.reset_index(drop=True, inplace=True)
non_fno_delivery.reset_index(drop=True, inplace=True)

In [52]:
segment_var = ['SM','ST','M ']
final_master_file.info()
 ##Count the records in each segment
segment_counts = master_file['Segment_y'].value_counts()

print(segment_counts)

<class 'pandas.core.frame.DataFrame'>
Int64Index: 507 entries, 1 to 4965
Data columns (total 8 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Company Name        507 non-null    object
 1   Total_Delivery      507 non-null    int32
 2   Price               507 non-null    float64
 3   PrevClose           507 non-null    float64
 4   Total_Traded_Value  507 non-null    float64
 5   NSE_Code            507 non-null    object
 6   BSE_Code            507 non-null    object
 7   Segment             507 non-null    object
dtypes: float64(3), int32(1), object(4)
memory usage: 33.7+ KB
      1147
B     1021
X      796
XT     742
A      712
T      303
M      133
Z       54
E       21
F       21
MT       9
P        9
IF       8
MS       3
TS       2
ZP       1
Name: Segment_y, dtype: int64

In [53]:
### creating top 50 by value and by volume for fno and non-fno

def top_n(df,n, column_name, trade_amt):
    
    df_filtered = df[df['Total_Traded_Value'] > trade_amt]
    top_n = df_filtered.nlargest(n,column_name).sort_values(column_name, ascending = False)
    return top_n

df_value_50 = top_n(non_fno_delivery,50,'Total_Traded_Value', 250)
df_volume_50 = top_n(non_fno_delivery,50,'Total_Delivery', 250)

fno_value_50 = top_n(fno_delivery,50,'Total_Traded_Value', 1000)
fno_volume_50 = top_n(fno_delivery,50,'Total_Delivery', 1000)

fno_columns = ['NSE_Code', 'Total_Delivery','Price','PrevClose','Total_Traded_Value']

fno_value_50 = fno_value_50[fno_columns]
fno_volume_50 = fno_volume_50[fno_columns]

sme_value_50 = top_n(sme_delivery,50,'Total_Traded_Value', 100)

###########################

###########################

## write to excel -- non_fno value and volume is merged by concat and saved for multiple scrips report (7-day history)
#### sme_csv is similarly saved for 7-day history report

df_non_fno = pd.concat([df_value_50, df_volume_50])
df_non_fno_wl = df_non_fno[['NSE_Code']]

df_fno = pd.concat([fno_value_50, fno_volume_50])


# Reset the index of the series
df_non_fno_wl.reset_index(drop=True, inplace=True)


### define csv files
output_non_fno = output_path + "0_non_fno.csv"
output_non_fno_date = output_path + "0_non_fno "+nse_dely_date+".csv"
output_non_fno_wl = output_path + "0_non_fno_wl "+nse_dely_date+".csv"


output_fno = output_path + "fno.csv"

output_sme_nodate = output_path + 'sme_csv.csv'
output_sme = output_path + 'sme ' + nse_dely_date +'.csv'

### write to csv
df_non_fno.to_csv(output_non_fno, index = False)
df_non_fno.to_csv(output_non_fno_date, index = False)
df_non_fno_wl.to_csv(output_non_fno_wl, index = False)

df_fno.to_csv(output_fno, index = False)

sme_delivery.to_csv(output_sme, index=False)
sme_value_50.to_csv(output_sme_nodate)

In [54]:





def print_formatted_rows(df, columns_to_select):
    # Iterate over the DataFrame and print each row
    for i, (_, row) in enumerate(df.iterrows(), 1):
        p_coname = row[columns_to_select[0]].ljust(40)
        p_dely = f"{row[columns_to_select[1]]:,.0f}".rjust(15)
        p_price = f"{row[columns_to_select[2]]:,.2f}".rjust(12)
        p_prevclose = f"{row[columns_to_select[3]]:,.2f}".rjust(12)
        p_trade_value = f"{row[columns_to_select[4]]:,.2f}".rjust(18)
        p_nse_code = row[columns_to_select[5]].ljust(10)
        
        print(f"{p_coname}{p_dely}{p_price}{p_prevclose}{p_trade_value}    {p_nse_code}")

        # Check if the current row index is a multiple of 5, and insert a blank line
        if i % 5 == 0:
            print()

def fno_formatted_rows(df, columns_to_select):
    
    # Iterate over the DataFrame and print each row
    for i, (_, row) in enumerate(df.iterrows(),1):
        p_nse_code = row[columns_to_select[0]].ljust(10)
        p_dely = f"{row[columns_to_select[1]]:,.0f}".rjust(15)
        p_price = f"{row[columns_to_select[2]]:,.2f}".rjust(12)
        p_prevclose = f"{row[columns_to_select[3]]:,.2f}".rjust(12)
        p_trade_value = f"{row[columns_to_select[4]]:,.2f}".rjust(12)
        
        print(f"{p_nse_code}{p_dely}{p_price}{p_prevclose}{p_trade_value}")
        
        # Check if the current row index is a multiple of 5, and insert a blank line
        if i % 5 == 0:
            print()

In [55]:
columns_to_select = ['Company Name', 'Total_Delivery', 'Price', 'PrevClose','Total_Traded_Value', 'NSE_Code']
col_length = [40,15,12,12,18,10]
formatted_columns = [col + ' ' * (length - len(col)) for col, length in zip(columns_to_select, col_length)]
print(formatted_columns)

['Company Name                            ', 'Total_Delivery ', 'Price       ', 'PrevClose   ', 'Total_Traded_Value', 'NSE_Code  ']

In [56]:
##columns selection for printing
columns_to_select = ['Company Name', 'Total_Delivery', 'Price','PrevClose', 'Total_Traded_Value', 'NSE_Code']
col_length = [40,15,12,18,10]
fno_columns_to_select = ['NSE_Code', 'Total_Delivery', 'Price','PrevClose', 'Total_Traded_Value']



print("Top 50 deliveries by value/volume non-FnO FnO and SME ", nse_dely_date)
print("")
print("")
#print(nse_dely_date)
#print()
print("                          Top 50 delivery by value NON FNO ", nse_dely_date)
print("")
print("Company Name                                ", '  Dely_Qty','      Price','   PrevClose','           Value','   NSECode')
print("")
print_formatted_rows(df_value_50,columns_to_select)
print("")
print("")
print("")


print("                        Top 50 delivery by volume NON FNO ", nse_dely_date)
print("")
print("Company Name                                ", '  Dely_Qty','      Price','   PrevClose','           Value','   NSECode')
print("")

print_formatted_rows(df_volume_50,columns_to_select)
print("")
print("")
print("")


#### printing for fno
print("          Top 50 FNO Delivery by value ", nse_dely_date)
print("")
print("NSECode       ",'  Dely_Qty','      Price','   PrevClose','    Value' )
print("")
fno_formatted_rows(fno_value_50,fno_columns_to_select)
print("")
print("")
print("")

print("             Top 50 FNO Delivery by volume ", nse_dely_date)
print("")
print("NSECode       ",'  Dely_Qty','      Price','   PrevClose','   Value' )
print("")

fno_formatted_rows(fno_volume_50,fno_columns_to_select)
print("")
print("")
print("")


print("                          Top 50 delivery by value SME ", nse_dely_date)
print("")
print("Company Name                                ", '  Dely_Qty','      Price','   PrevClose','           Value','   NSECode')
print("")
print_formatted_rows(sme_value_50,columns_to_select)
print("")
print("")
print("")

Top 50 deliveries by value/volume non-FnO FnO and SME  231026


                          Top 50 delivery by value NON FNO  231026

Company Name                                   Dely_Qty       Price    PrevClose            Value    NSECode

Zomato Ltd.                                  46,613,977      106.45      108.25         49,620.58    ZOMATO
Suzlon Energy Ltd.                          107,850,542       31.40       31.90         33,865.07    SUZLON
JIO Financial Services                       13,658,053      215.85      210.15         29,480.91    JIOFIN
BSE Ltd.                                      1,472,516    1,799.20    1,788.70         26,493.51    BSE
Varun Beverages Ltd.                          2,637,134      872.45      884.20         23,007.68    VBL

                                              2,276,618      999.99      999.99         22,765.95    LIQUIDBEES
                                              9,973,511      208.74      211.48         20,818.71    NIFTYBEES
Indian Railway Finance Corpora               27,126,983       70.20       70.30         19,043.14    IRFC
JSW Energy Ltd.                               3,585,266      390.90      366.20         14,014.80    JSWENERGY
One97 Communications Ltd.                     1,531,782      875.95      916.50         13,417.64    PAYTM

Sona BLW Precision Forgings Lt                2,253,830      546.15      512.75         12,309.29    SONACOMS
Fortis Healthcare Ltd.                        3,812,700      320.10      328.80         12,204.45    FORTIS
Adani Power Ltd.                              3,693,016      327.35      312.70         12,089.09    ADANIPOWER
Mazagon Dock Shipbuilders Ltd.                  585,481    1,898.55    1,855.10         11,115.65    MAZDOCK
Rail Vikas Nigam Ltd.                         7,275,503      151.50      151.15         11,022.39    RVNL

IRM Energy Limited                            2,136,334      473.15      505.00         10,108.06    IRMENERGY
APL Apollo Tubes Ltd.                           629,489    1,596.95    1,624.55         10,052.62    APLAPOLLO
Jindal Saw Ltd.                               2,584,258      387.60      356.95         10,016.58    JINDALSAW
Yes Bank Ltd.                                59,038,876       15.90       16.00          9,387.18    YESBANK
Kalyan Jewellers India Ltd.                   2,958,539      285.90      293.75          8,458.46    KALYANKJIL

Union Bank Of India                           8,674,731       94.75       95.10          8,219.31    UNIONBANK
Ircon International Ltd.                      5,855,172      140.05      136.20          8,200.17    IRCON
Angel One Ltd.                                  322,523    2,413.90    2,304.10          7,785.38    ANGELONE
Max Healthcare Institute Ltd.                 1,370,937      549.05      569.10          7,527.13    MAXHEALTH
Avalon Technologies Ltd.                      1,492,212      489.95      479.85          7,311.09    AVALON

PB Fintech Ltd.                               1,050,261      672.25      695.90          7,060.38    POLICYBZR
Avenue Supermarts Ltd.                          185,082    3,684.65    3,740.55          6,819.62    DMART
                                                677,776    1,000.00    1,000.00          6,777.76
Karur Vysya Bank Ltd.                         4,558,802      143.80      142.25          6,555.56    KARURVYSYA
Central Depository Services (I                  503,987    1,292.25    1,323.25          6,512.77    CDSL

                                              3,286,558      197.28      199.35          6,483.72    SETFNIF50
Cyient Ltd.                                     403,322    1,593.65    1,601.45          6,427.54    CYIENT
Chennai Petroleum Corporation                 1,202,100      521.80      534.45          6,272.56    CHENNPETRO
Sonata Software Ltd.                            548,926    1,135.25    1,048.95          6,231.68    SONATSOFTW
Gujarat Mineral Development Co                1,686,952      361.70      360.20          6,101.71    GMDCLTD

Swan Energy Ltd.                              1,809,750      329.05      310.25          5,954.98    SWANENERGY
Apar Industries Ltd.                            114,155    5,165.40    4,992.85          5,896.56    APARINDS
CreditAccess Grameen Ltd.                       382,019    1,542.50    1,493.40          5,892.64    CREDITACC
Rajesh Exports Ltd.                           1,325,507      444.50      418.80          5,891.88    RAJESHEXPO
Bank Of India                                 6,379,328       90.25       89.35          5,757.34    BANKINDIA

Bank Of Maharashtra                          13,849,882       41.30       41.50          5,720.00    MAHABANK
Tata Elxsi Ltd.                                  76,248    7,463.50    7,545.25          5,690.77    TATAELXSI
KPIT Technologies Ltd.                          505,888    1,120.35    1,147.85          5,667.72    KPITTECH
Macrotech Developers Ltd.                       774,552      726.25      758.65          5,625.18    LODHA
Cochin Shipyard Ltd.                            586,840      941.80      927.60          5,526.86    COCHINSHIP

Ajanta Pharma Ltd.                              320,454    1,707.70    1,718.50          5,472.39    AJANTPHARM
Patanjali Foods Ltd.                            405,910    1,250.30    1,236.15          5,075.09    PATANJALI
Rainbow Children's Medicare Lt                  439,378    1,132.95    1,130.45          4,977.93    RAINBOW
SJVN Ltd.                                     7,165,778       67.60       66.70          4,844.07    SJVN
Welspun India Ltd.                            3,646,453      131.80      142.20          4,806.03    WELSPUNIND




                        Top 50 delivery by volume NON FNO  231026

Company Name                                   Dely_Qty       Price    PrevClose            Value    NSECode

Suzlon Energy Ltd.                          107,850,542       31.40       31.90         33,865.07    SUZLON
Yes Bank Ltd.                                59,038,876       15.90       16.00          9,387.18    YESBANK
Zomato Ltd.                                  46,613,977      106.45      108.25         49,620.58    ZOMATO
RattanIndia Power Ltd.                       39,308,516        7.00        6.75          2,751.60    RTNPOWER
Jaiprakash Power Ventures Ltd.               33,850,002        8.90        8.75          3,012.65    JPPOWER

Indian Railway Finance Corpora               27,126,983       70.20       70.30         19,043.14    IRFC
Reliance Power Ltd.                          20,883,637       16.50       16.30          3,445.80    RPOWER
The South Indian Bank Ltd.                   15,266,941       23.75       24.20          3,625.90    SOUTHBANK
Bank Of Maharashtra                          13,849,882       41.30       41.50          5,720.00    MAHABANK
JIO Financial Services                       13,658,053      215.85      210.15         29,480.91    JIOFIN

Bajaj Hindusthan Sugar Ltd.                  13,499,328       25.35       23.55          3,422.08    BAJAJHIND
IRB Infrastructure Developers                12,792,383       32.25       32.55          4,125.54    IRB
Hindustan Construction Company               12,557,574       25.15       24.70          3,158.23    HCC
Jaiprakash Associates Ltd.                   11,944,802       11.65       11.90          1,391.57    JPASSOCIAT
SEPC Ltd.                                    10,709,141       17.55       16.80          1,879.45    SEPC

                                              9,973,511      208.74      211.48         20,818.71    NIFTYBEES
IFCI Ltd.                                     9,523,996       22.15       21.60          2,109.57    IFCI
Union Bank Of India                           8,674,731       94.75       95.10          8,219.31    UNIONBANK
Brightcom Group Ltd.                          8,365,123       16.00       15.25          1,338.42    BCG
Indian Overseas Bank                          8,034,310       38.40       38.90          3,085.18    IOB

Infibeam Avenues Ltd.                         7,872,997       18.65       18.60          1,468.31    INFIBEAM
NBCC (India) Ltd.                             7,398,927       63.80       63.55          4,720.52    NBCC
Rail Vikas Nigam Ltd.                         7,275,503      151.50      151.15         11,022.39    RVNL
SJVN Ltd.                                     7,165,778       67.60       66.70          4,844.07    SJVN
Ujjivan Small Finance Bank Ltd                7,025,987       53.30       53.15          3,744.85    UJJIVANSFB

                                              6,719,277       51.83       51.41          3,482.60    GOLDBEES

Bank Of India                                 6,379,328       90.25       89.35          5,757.34    BANKINDIA
Alok Industries Ltd.                          6,223,411       16.90       17.20          1,051.76    ALOKINDS
Ircon International Ltd.                      5,855,172      140.05      136.20          8,200.17    IRCON
Central Bank Of India                         5,638,135       43.85       43.30          2,472.32    CENTRALBK

NHPC Ltd.                                     5,566,764       49.65       50.00          2,763.90    NHPC
Easy Trip Planners Ltd.                       5,413,175       38.35       38.25          2,075.95    EASEMYTRIP
                                              5,412,907       32.04       32.28          1,734.30    ITBEES
Patel Engineering Ltd.                        5,148,311       44.65       44.25          2,298.72    PATELENG
UCO Bank                                      4,695,673       36.50       36.65          1,713.92    UCOBANK

Karur Vysya Bank Ltd.                         4,558,802      143.80      142.25          6,555.56    KARURVYSYA
Paradeep Phosphates Ltd.                      4,355,325       58.95       62.20          2,567.46    PARADEEP
Shree Renuka Sugars Ltd.                      4,338,628       48.40       48.95          2,099.90    RENUKA
TV18 Broadcast Ltd.                           4,122,626       40.50       40.65          1,669.66    TV18BRDCST
Motherson Sumi Wiring India Lt                4,118,685       59.50       60.00          2,450.62    MSUMI

Fortis Healthcare Ltd.                        3,812,700      320.10      328.80         12,204.45    FORTIS
Adani Power Ltd.                              3,693,016      327.35      312.70         12,089.09    ADANIPOWER
Welspun India Ltd.                            3,646,453      131.80      142.20          4,806.03    WELSPUNIND
Housing & Urban Development Co                3,602,650       74.30       73.60          2,676.77    HUDCO
JSW Energy Ltd.                               3,585,266      390.90      366.20         14,014.80    JSWENERGY

Shree Global Tradefin Ltd.                    3,511,903       41.14       39.21          1,444.80
Trident Ltd.                                  3,414,485       33.70       33.80          1,150.68    TRIDENT
Lemon Tree Hotels Ltd.                        3,395,715      106.90      107.50          3,630.02    LEMONTREE
                                              3,286,558      197.28      199.35          6,483.72    SETFNIF50
FSN E-Commerce Ventures Ltd.                  3,239,852      138.80      140.45          4,496.91    NYKAA




          Top 50 FNO Delivery by value  231026

NSECode          Dely_Qty       Price    PrevClose     Value

HDFCBANK       17,179,454    1,463.40    1,496.50  251,404.13
RELIANCE        5,458,531    2,226.50    2,257.95  121,534.19
ICICIBANK      12,475,520      908.65      916.10  113,358.81
AXISBANK        8,930,281      972.05      955.45   86,806.80
LT              2,458,510    2,864.60    2,916.10   70,426.48

KOTAKBANK       3,974,752    1,694.85    1,728.05   67,366.08
INFY            4,119,023    1,359.45    1,370.05   55,996.06
BAJFINANCE        753,468    7,421.80    7,694.45   55,920.89
HINDUNILVR      2,162,976    2,476.40    2,477.30   53,563.94
ITC            11,622,333      434.35      432.70   50,481.60

SBIN            9,072,293      547.00      556.20   49,625.44
TCS             1,319,406    3,336.75    3,390.10   44,025.28
ULTRACEMCO        528,384    8,205.30    8,256.35   43,355.49
BHARTIARTL      4,443,221      905.50      922.60   40,233.37
TECHM           3,497,147    1,115.45    1,142.15   39,008.93

HCLTECH         3,093,801    1,231.80    1,229.00   38,109.44
MARUTI            320,431   10,424.15   10,588.85   33,402.21
ASIANPAINT      1,054,401    2,960.30    3,060.80   31,213.43
M&M             2,061,769    1,506.10    1,569.10   31,052.30
APOLLOHOSP        588,885    4,760.30    4,859.90   28,032.69

RBLBANK        12,475,695      216.35      225.45   26,991.17
TATAMOTORS      4,135,591      626.55      637.85   25,911.55
NTPC           10,999,670      231.65      232.05   25,480.74
BAJAJ-AUTO        477,192    5,259.35    5,347.30   25,097.20
RECLTD          9,373,320      265.75      273.30   24,909.60

COFORGE           502,079    4,904.40    4,899.05   24,623.96
BANKBARODA     12,953,780      189.15      194.80   24,502.07
TATASTEEL      19,313,455      119.90      121.35   23,156.83
TITAN             711,334    3,100.80    3,187.85   22,057.04
JUBLFOOD        4,231,867      506.05      529.10   21,415.36

INDUSINDBK      1,460,174    1,414.65    1,412.70   20,656.35
POLYCAB           403,145    4,871.80    5,023.15   19,640.42
IDFCFIRSTB     21,551,331       84.95       87.15   18,307.86
PFC             7,467,849      230.35      237.20   17,202.19
INDHOTEL        4,200,971      374.80      389.55   15,745.24

BEL            12,217,872      128.85      131.20   15,742.73
HINDALCO        3,412,320      456.65      461.20   15,582.36
PNB            22,071,479       69.85       69.50   15,416.93
BRITANNIA         335,794    4,507.80    4,533.75   15,136.92
BAJAJFINSV        966,349    1,560.00    1,611.45   15,075.04

SUNPHARMA       1,339,731    1,103.70    1,120.30   14,786.61
NESTLEIND          60,968   23,545.60   24,262.70   14,355.28
HAL               758,761    1,819.45    1,809.85   13,805.28
ADANIPORTS      1,766,079      770.35      769.10   13,604.99
UPL             2,407,272      561.05      580.15   13,506.00

CIPLA           1,132,713    1,150.85    1,157.45   13,035.83
POWERGRID       6,532,102      198.95      199.50   12,995.62
FEDERALBNK      9,235,195      138.15      141.85   12,758.42
DLF             2,436,699      522.30      530.15   12,726.88
INDIGO            526,435    2,412.20    2,428.95   12,698.67




             Top 50 FNO Delivery by volume  231026

NSECode          Dely_Qty       Price    PrevClose    Value

IDEA           47,901,162       10.75       10.85    5,149.37
PNB            22,071,479       69.85       69.50   15,416.93
IDFCFIRSTB     21,551,331       84.95       87.15   18,307.86
TATASTEEL      19,313,455      119.90      121.35   23,156.83
HDFCBANK       17,179,454    1,463.40    1,496.50  251,404.13

BANKBARODA     12,953,780      189.15      194.80   24,502.07
RBLBANK        12,475,695      216.35      225.45   26,991.17
ICICIBANK      12,475,520      908.65      916.10  113,358.81
BEL            12,217,872      128.85      131.20   15,742.73
ITC            11,622,333      434.35      432.70   50,481.60

NTPC           10,999,670      231.65      232.05   25,480.74
RECLTD          9,373,320      265.75      273.30   24,909.60
FEDERALBNK      9,235,195      138.15      141.85   12,758.42
SBIN            9,072,293      547.00      556.20   49,625.44
AXISBANK        8,930,281      972.05      955.45   86,806.80

MOTHERSON       7,913,146       91.95       91.95    7,276.14
PFC             7,467,849      230.35      237.20   17,202.19
MANAPPURAM      6,786,945      130.60      131.75    8,863.75
L&TFH           6,667,319      131.40      132.40    8,760.86
GAIL            6,563,783      118.50      119.70    7,778.08

POWERGRID       6,532,102      198.95      199.50   12,995.62
IOC             5,682,177       86.20       87.60    4,898.04
RELIANCE        5,458,531    2,226.50    2,257.95  121,534.19
BANDHANBNK      5,390,815      212.45      218.25   11,452.79
IBULHSGFIN      4,796,259      154.95      156.10    7,431.80

VEDL            4,491,509      212.25      216.80    9,533.23
IDFC            4,486,788      118.15      120.10    5,301.14
BHARTIARTL      4,443,221      905.50      922.60   40,233.37
BHEL            4,429,139      117.85      116.30    5,219.74
NMDC            4,342,291      152.05      152.95    6,602.45

JUBLFOOD        4,231,867      506.05      529.10   21,415.36
INDHOTEL        4,200,971      374.80      389.55   15,745.24
TATAMOTORS      4,135,591      626.55      637.85   25,911.55
INFY            4,119,023    1,359.45    1,370.05   55,996.06
ONGC            4,095,612      180.90      184.35    7,408.96

KOTAKBANK       3,974,752    1,694.85    1,728.05   67,366.08
SAIL            3,698,731       83.25       84.15    3,079.19
TATAPOWER       3,634,650      234.40      236.70    8,519.62
COALINDIA       3,608,624      305.25      310.30   11,015.32
TECHM           3,497,147    1,115.45    1,142.15   39,008.93

HINDALCO        3,412,320      456.65      461.20   15,582.36
LAURUSLABS      3,397,509      359.10      356.65   12,200.45
HCLTECH         3,093,801    1,231.80    1,229.00   38,109.44
CANBK           3,075,825      359.35      353.75   11,052.98
INDUSTOWER      3,011,835      170.20      174.25    5,126.14

WIPRO           2,882,255      378.25      381.85   10,902.13
DELTACORP       2,697,290      127.45      134.80    3,437.70
LT              2,458,510    2,864.60    2,916.10   70,426.48
GMRINFRA        2,449,489       53.50       54.05    1,310.48
DLF             2,436,699      522.30      530.15   12,726.88




                          Top 50 delivery by value SME  231026

Company Name                                   Dely_Qty       Price    PrevClose            Value    NSECode

Varanium Cloud Ltd.                             527,000      140.75      146.20            741.75    CLOUD
VishnuSurya Infra                               428,000      131.60      119.65            563.25    VISHNUINFR
Phantom Digital Effects Ltd.                    111,000      476.65      435.25            529.08    PHANTOMFX
HiGreen Carbon                                  316,800      158.00      165.30            500.54    HIGREEN
Bondada Engineering Limited                     179,200      267.15      242.90            478.73

Supershakti Metaliks Ltd.                       100,500      465.00      465.00            467.32
Network People Services Techno                   19,200    1,862.35    1,785.10            357.57    NPST
Cellcor Gadgets                                 176,400      197.65      187.15            348.65    CELLECOR
Canarys Automation                              652,000       43.45       43.40            283.29    CANARYS
Meson Valves Limited                             90,000      300.15      275.60            270.13

Technowgreen                                    152,000      171.15      174.00            260.15
Droneacharya Aerial Innovation                  132,000      193.15      178.85            254.96
Vinyas Innovative Technologies                   60,000      421.65      419.00            252.99    VINYAS
Insolation Energy Ltd.                           44,000      528.95      540.00            232.74
Sahana System Ltd.                               57,000      332.75      302.50            189.67    SAHANA

Saakshi Medtech                                  67,200      260.40      257.65            174.99    SAAKSHI
Goyal Salt Limited                              102,000      169.60      180.00            172.99    GOYALSALT
Basilic Fly Studio                               60,000      280.00      278.85            168.00    BASILIC
Systango Technologies Ltd.                       72,000      224.00      222.60            161.28    SYSTANGO
Kotyark Industries Ltd.                          19,000      813.70      812.65            154.60    KOTYARK

RMC Switchgears Ltd.                             24,750      612.95      596.85            151.71
All E Technologies Ltd.                          70,400      192.30      188.95            135.38    ALLETEC
Innovana Thinklabs Ltd.                          27,600      484.40      502.25            133.69    INNOVANA
NewJaisa Tech                                   108,000      117.40      114.40            126.79    NEWJAISA
Oriana Power Limited                             38,400      322.00      317.40            123.65    ORIANA

Annapurna Swadisht Ltd.                          44,000      280.95      280.00            123.62    ANNAPURNA
Sharp Chucks and Machines Limi                  168,000       72.95       70.45            122.56    SCML
Veefin Solutions Ltd.                            62,400      186.85      196.65            116.59
Shera Energy Ltd.                                68,000      169.50      176.15            115.26    SHERA
Sealmatic India Ltd.                             22,800      480.00      472.95            109.44

V-Marc India Ltd.                                96,000      110.35      105.10            105.94    VMARCIND
E Factor Experiences                             72,000      146.15      148.20            105.23    EFACTOR

In [57]:
#sorted_df = bse_dely_data.sort_values(by='BSE_Delivery', ascending = False)
#sorted_df
sme_value_50

,Company Name,Total_Delivery,Price,PrevClose,Total_Traded_Value,NSE_Code,BSE_Code,Segment
267,Varanium Cloud Ltd.,527000,140.75,146.20,741.752500,CLOUD,,SM
313,VishnuSurya Infra,428000,131.60,119.65,563.248000,VISHNUINFR,,SM
223,Phantom Digital Effects Ltd.,111000,476.65,435.25,529.081500,PHANTOMFX,,SM
302,HiGreen Carbon,316800,158.00,165.30,500.544000,HIGREEN,,SM
126,Bondada Engineering Limited,179200,267.15,242.90,478.732800,,543971,M
97,Supershakti Metaliks Ltd.,100500,465.00,465.00,467.325000,,541701,M
214,Network People Services Techno,19200,1862.35,1785.10,357.571200,NPST,,SM
300,Cellcor Gadgets,176400,197.65,187.15,348.654600,CELLECOR,,SM
315,Canarys Automation,652000,43.45,43.40,283.294000,CANARYS,,SM
127,Meson Valves Limited,90000,300.15,275.60,270.135000,,543982,M
129,Technowgreen,152000,171.15,174.00,260.148000,,543991,M
30,Droneacharya Aerial Innovation,132000,193.15,178.85,254.958000,,543713,M
309,Vinyas Innovative Technologies,60000,421.65,419.00,252.990000,VINYAS,,SM
38,Insolation Energy Ltd.,44000,528.95,540.00,232.738000,,543620,M
238,Sahana System Ltd.,57000,332.75,302.50,189.667500,SAHANA,,SM
304,Saakshi Medtech,67200,260.40,257.65,174.988800,SAAKSHI,,SM
314,Goyal Salt Limited,102000,169.60,180.00,172.992000,GOYALSALT,,SM
290,Basilic Fly Studio,60000,280.00,278.85,168.000000,BASILIC,,SM
255,Systango Technologies Ltd.,72000,224.00,222.60,161.280000,SYSTANGO,,SM
198,Kotyark Industries Ltd.,19000,813.70,812.65,154.603000,KOTYARK,,SM
109,RMC Switchgears Ltd.,24750,612.95,596.85,151.705125,,540358,M
139,All E Technologies Ltd.,70400,192.30,188.95,135.379200,ALLETEC,,SM
185,Innovana Thinklabs Ltd.,27600,484.40,502.25,133.694400,INNOVANA,,SM
307,NewJaisa Tech,108000,117.40,114.40,126.792000,NEWJAISA,,SM
276,Oriana Power Limited,38400,322.00,317.40,123.648000,ORIANA,,SM
144,Annapurna Swadisht Ltd.,44000,280.95,280.00,123.618000,ANNAPURNA,,SM
317,Sharp Chucks and Machines Limi,168000,72.95,70.45,122.556000,SCML,,ST
4,Veefin Solutions Ltd.,62400,186.85,196.65,116.594400,,543931,M
240,Shera Energy Ltd.,68000,169.50,176.15,115.260000,SHERA,,SM
25,Sealmatic India Ltd.,22800,480.00,472.95,109.440000,,543782,M
274,V-Marc India Ltd.,96000,110.35,105.10,105.936000,VMARCIND,,SM
311,E Factor Experiences,72000,146.15,148.20,105.228000,EFACTOR,,SM

In [58]:
######### fromatting text
text = "Hello"
width = 10

left_justified_text = text.ljust(width)
print(left_justified_text)  # Output: "Hello     "

########### formatting numbers

# Example decimal value
value = 1234567.89

# Format the decimal value with 2 decimal points and commas
formatted_value = f'{value:,.2f}'

# Specify the desired width for right-justification
width = 15

# Right-justify the formatted value to the specified width
right_justified_value = formatted_value.rjust(width)

# Print the result
print(right_justified_value)

################# adding both

# Example string and number
text = "Total Traded Value:"
value = 1234567.89

# Format the number with 2 decimal points and commas
formatted_value = f'{value:,.2f}'

# Concatenate the string and the formatted number
result_string = f'{text} {formatted_value}'

# Print the result
print(result_string)


##### adding spaces
# Calculate the number of spaces needed to make the total length 50 characters
num_spaces = 30 - len(text)

# Concatenate the text with the required number of spaces and the formatted value
result_string = text + ' ' * num_spaces + formatted_value

# Print the result
print(result_string)

Hello
   1,234,567.89
Total Traded Value: 1,234,567.89
Total Traded Value:           1,234,567.89

In [59]:
# Value to match against
#target_name = 'Charlie'

# Locate the record(s) matching the value in the 'Name' column
#matching_records = df[df['Name'] == target_name]

#volume = 3551452
#find_nse_symbol = nse_merged_df_out[nse_merged_df_out['NSE_Delivery']== volume]
#find_nse_symbol

In [60]:
import pandas as pd

# Example DataFrame (replace with your actual DataFrame)
data = {
    'Name': ['John', 'Alice', 'Bob'],
    'Age': [30, 25, 22],
    'City': ['New York', 'London', 'Paris']
}

df = pd.DataFrame(data)

# Add the 'Salary' column with the given values
df['Salary'] = [30000, 49304.35, 2938]

# Format the 'Salary' column with 2 decimal points and commas
df['Formatted Salary'] = df['Salary'].apply(lambda x: f'{x:,.2f}')

# Remove headers and iterate through rows using iterrows()
for _, row in df.iterrows():
    name = row['Name'].ljust(20)
    age = str(row['Age']).rjust(9)
    city = row['City'].ljust(30)
    salary = f"{row['Salary']:,.2f}".rjust(15)
    print(f"{name}{age}  {city}{salary}")

John                       30  New York                            30,000.00
Alice                      25  London                              49,304.35
Bob                        22  Paris                                2,938.00