In [32]:
##### NEW CODE for laptop to remain 

import pandas as pd
import os
import csv



def nse_data(nse_file_names):
    nse_df = []
    temp_df = []
    dely_segment = ['EQ', 'BE', 'SM', 'ST']

    for file_name in nse_file_names:
        file_path = os.path.join(directory, file_name)
        date = file_name[13:19]

        with open(file_path, 'r') as file:
            reader = csv.reader(file)
            for _, line in enumerate(reader, start=1):
                if len(line) >= 6 and line[3] in dely_segment:
                    nse_code = line[2]
                    dely = line[5]
                    segment = line[3]
                    new_row = {'NSE_Code': nse_code, 'Date': date, 'NSE_Delivery': dely, 'Segment': segment}
                    temp_df.append(new_row)

    nse_df = pd.concat([pd.DataFrame(temp_df)], ignore_index=True)
    return nse_df,temp_df


def bse_data(bse_file_name):
    
    
    
    # Create an empty DataFrame to store the results
    bse_df = []
    dely_segment = ['EQ','BE','SM','ST']

    

    for file_name in bse_file_name:
        file_path = os.path.join(directory, file_name)
        date = file_name[22:28] 
    
        with open(file_path, 'r') as file:
            reader = csv.reader(file)
            for i, line in enumerate(reader, start=1):
                if i >= 2:  # Start reading from line 5
                    line_str = ','.join(line)
                    data = line_str.split('|')
                    dely = data[2]
                    bse_code = data[1]
                    new_row = {'BSE_Code':bse_code, 'Date':date,'BSE_Delivery':dely}
                    bse_df.append(new_row)
    bse_df = pd.concat([pd.DataFrame(bse_df)], ignore_index=True)
                        
    return bse_df


def nse_price(nse_price_file):
    nse_df = pd.DataFrame(columns=['NSE_Code', 'Date', 'Price', 'PrevClose', 'Segment', 'Traded'])
    dely_segment = ['EQ', 'BE', 'SM', 'ST']

    for file_name in nse_price_file:
        file_path = os.path.join(directory, file_name)
        date = file_name[7:13]

        with open(file_path, 'r') as file:
            reader = csv.reader(file)
            
            for row in reader:
                if row[1] in dely_segment:
                    nse_code = row[0]
                    price = row[5]
                    prev_close = row[7]
                    segment = row[1]
                    traded = row[8]
                    nse_df = nse_df.append({'NSE_Code': nse_code, 'Date': date, 'Price': price, 'PrevClose': prev_close,
                                            'Segment': segment, 'Traded': traded}, ignore_index=True)

    return nse_df

def bse_price(bse_price_file):
    bse_df = pd.DataFrame(columns=['BSE_Code', 'Date', 'Price', 'PrevClose', 'Segment'])
    dely_segment = ['EQ', 'BE', 'SM', 'ST']

    for file_name in bse_price_file:
        file_path = os.path.join(directory, file_name)
        date = file_name[8:14]

        with open(file_path, 'r') as file:
            reader = csv.reader(file)
            next(reader)  # Skip the header row
            
            for row in reader:
                bse_code = row[0]
                price = row[7]
                prev_close = row[9]
                bse_group = row[2]
                bse_df = bse_df.append({'BSE_Code': bse_code, 'Date': date, 'Price': price, 'PrevClose': prev_close,
                                        'Segment': bse_group}, ignore_index=True)

    return bse_df

In [33]:
from platform import python_version
python_version()

'3.9.12'

In [34]:
### this program gives top 50 deliveries by value and volume for fno and non-fno. 
#### it also creates fno_csv and non_fno_csv which is used by multiple scrips program

### caution - if data file is already read, then it skips reading it. So if data is updated, close the program and restart it
#### to enable data file to be read again

In [35]:
### lenovo desktop file path
master_file_path = "C:\\Users\\User\\Dropbox\\SQL Stock Market Data\\Python Code from ChatGPT\\Master File\\CompanyMaster.csv"
directory = "C:\\Users\\User\\Dropbox\\SQL Stock Market Data\\Data Files\\"  # Replace with the path to your directory
output_path = "C:\\Users\\User\\Dropbox\\SQL Stock Market Data\\Python Code from ChatGPT\\Output File\\"

column_order = ['NSE_Code','BSE_Code','Date','NSE_Delivery','BSE_Delivery']

In [36]:
#### Lenovo laptop file path

master_file_path = "C:\\Users\\sarda\\Dropbox\\SQL Stock Market Data\\Python Code from ChatGPT\\Master File\\CompanyMaster.csv"
directory = "C:\\Users\\sarda\\Dropbox\\SQL Stock Market Data\\Data Files\\"  # Replace with the path to your directory
output_path = "C:\\Users\\sarda\\Dropbox\\SQL Stock Market Data\\Python Code from ChatGPT\\Output File\\"

column_order = ['NSE_Code','BSE_Code','Date','NSE_Delivery','BSE_Delivery']

In [37]:
import os
import csv
import pandas as pd


nse_dely_file = sorted([file for file in os.listdir(directory) if file.endswith('.csv') and file.startswith('NSE Delivery')], reverse=True)[:1]
bse_dely_file = sorted([file for file in os.listdir(directory) if file.endswith('.txt') and file.startswith('BSE Gross Deliverable ')], reverse=True)[:1]

nse_price_file = sorted([file for file in os.listdir(directory) if file.lower().endswith(('CSV','.csv')) and file.startswith('NSE EQ')], reverse=True)[:1]
bse_price_file = sorted([file for file in os.listdir(directory) if file.lower().endswith(('CSV','csv')) and file.startswith('EQ ISIN')], reverse=True)[:1]

nse_fno_file = sorted([file for file in os.listdir(directory) if file.startswith('NSE FNO')],reverse=True)[:1]

def extract_date(file_name,start):
    
    for i in file_name:
        end = start + 6
        dely_date = i[start:end]
        
    return dely_date

###result_str = str(int(number_str) + 6)

nse_dely_date = extract_date(nse_dely_file,13)
bse_dely_date = extract_date(bse_dely_file,22)

nse_price_date = extract_date(nse_price_file,7)
bse_price_date = extract_date(bse_price_file,8)


if nse_dely_date != bse_dely_date != nse_price_date != bse_price_date:
    print("dates dont match")
    print(nse_dely_date, ' ' , bse_dely_date , ' ' , nse_price_date , ' ' , bse_price_date)
else:
    print("processing for :", nse_dely_date)

processing for : 231102

In [38]:
def nse_data(nse_file_name):
    
    
    
    nse_df = pd.DataFrame(columns=['NSE_Code','Date','NSE_Delivery','Segment'])
    dely_segment = ['EQ','BE','SM','ST']
    
    for file_name in nse_file_name:
        file_path = os.path.join(directory, file_name)
        date = file_name[13:19]
        
        with open(file_path,'r') as file:
            reader = csv.reader(file)
            for i, line in enumerate(reader, start=1):
                if i >= 5:
                    line_str = ','.join(line)
                    data = line_str.split(',')
                    if data[3] in dely_segment:
                        nse_code = data[2]
                        dely = data[5]
                        segment = data[3]
                        nse_df = nse_df.append({'NSE_Code': nse_code, 'Date': date, 'NSE_Delivery':dely, 'Segment':segment}, ignore_index=True)
    
    return nse_df
                
 
def bse_data(bse_file_name):
    
    
    
    # Create an empty DataFrame to store the results
    bse_df = pd.DataFrame(columns=['BSE_Code', 'Date','BSE_Delivery'])
    dely_segment = ['EQ','BE','SM','ST']

    

    for file_name in bse_file_name:
        file_path = os.path.join(directory, file_name)
        date = file_name[22:28] 
    
        with open(file_path, 'r') as file:
            reader = csv.reader(file)
            for i, line in enumerate(reader, start=1):
                if i >= 2:  # Start reading from line 5
                    line_str = ','.join(line)
                    data = line_str.split('|')
                    dely = data[2]
                    bse_code = data[1]
                    bse_df = bse_df.append({'BSE_Code': bse_code, 'Date': date, 'BSE_Delivery':dely}, ignore_index=True)
                        
    return bse_df

In [39]:
def nse_price(nse_price_file):
# Create an empty DataFrame to store the results
    
    
    nse_df = pd.DataFrame(columns=['NSE_Code', 'Date','Price','PrevClose','Segment','Traded'])
    dely_segment = ['EQ','BE','SM','ST']

    

    for file_name in nse_price_file:
        file_path = os.path.join(directory, file_name)
        date = file_name[7:13]
            
        with open(file_path, 'r') as file:
            reader = csv.reader(file)
            
            for row in reader:
                data_list = []
                data_list.append(row)
                
                if data_list[0][1] in dely_segment:
                    nse_code = data_list[0][0]
                    price = data_list[0][5]
                    prev_close = data_list[0][7]
                    segment = data_list[0][1]
                    traded = data_list[0][8]
                    nse_df = nse_df.append({'NSE_Code': nse_code, 'Date': date, 'Price':price,'PrevClose':prev_close,
                                            'Segment':segment,'Traded':traded}, ignore_index=True)
                

    return nse_df

def bse_price(bse_price_file):
# Create an empty DataFrame to store the results
    
    
    bse_df = pd.DataFrame(columns=['BSE_Code', 'Date','Price','PrevClose','Segment'])
    dely_segment = ['EQ','BE','SM','ST']

    

    for file_name in bse_price_file:
        file_path = os.path.join(directory, file_name)
        date = file_name[8:14]
            
        with open(file_path, 'r') as file:
            reader = csv.reader(file)
            for row in reader:
                data_list = []
                data_list.append(row)
                    
                bse_code = data_list[0][0]
                price = data_list[0][7]
                prev_close = data_list[0][9]
                bse_group = data_list[0][2]
                bse_df = bse_df.append({'BSE_Code': bse_code, 'Date': date, 'Price':price,"PrevClose":prev_close,
                                        "Segment":bse_group}, ignore_index=True)
                
    bse_df = bse_df.drop(0).reset_index(drop=True)

    return bse_df

In [40]:
### getting unique symbols from fno

for file_name in nse_fno_file:
    file_path = os.path.join(directory, file_name)
    fno_df = pd.read_csv(file_path)
    fno_df = fno_df.drop_duplicates(subset ='SYMBOL')
    fno_symbols = fno_df['SYMBOL']
    fno_symbols = fno_symbols.reset_index(drop=True)

In [41]:
#### nse delivery structure
##### Record Type,Sr No,Name of Security,Segment, Quantity Traded,Deliverable Quantity(gross across client level),% of Deliverable Quantity to Traded Quantity
##### nse delivery does not include BE or ST records
#####
##### BSE gross deliverable structure 
##### DATE|SCRIP CODE|DELIVERY QTY|DELIVERY VAL|DAY'S VOLUME|DAY'S TURNOVER|DELV. PER.
####
##### NSE EQ ISIN has price 
##### SYMBOL	SERIES	OPEN	HIGH	LOW	CLOSE	LAST	PREVCLOSE	TOTTRDQTY	TOTTRDVAL	TIMESTAMP	TOTALTRADES	ISIN
#####
#####  EQ ISIN has bse price data
##### SC_CODE	SC_NAME	SC_GROUP	SC_TYPE	OPEN	HIGH	LOW	CLOSE	LAST	PREVCLOSE	NO_TRADES	
##### NO_OF_SHRS	NET_TURNOV	TDCLOINDI	ISIN_CODE	TRADING_DATE


if 'nse_dely_data' not in locals(): 
    print('nse_dely does not exist, processing')
    nse_dely_data = nse_data(nse_dely_file)
elif nse_dely_data.empty:
    print('nse_dely empty, processing')
    nse_dely_data = nse_data(nse_dely_file)
else:
    print('nse_dely exists')
 

 
if 'bse_dely_data' not in locals():
    print('bse_dely does not exist, processing')
    bse_dely_data = bse_data(bse_dely_file)
elif bse_dely_data.empty:
    print('bse_dely empty, processing')
    bse_dely_data = bse_data(bse_dely_file)
else:
    print('bse_dely exists')


if 'nse_price_data' not in locals(): 
    print('nse_price does not exist, processing')
    nse_price_data = nse_price(nse_price_file)
elif nse_dely_data.empty:
    print('nse_price empty, processing')
    nse_price_data = nse_price(nse_price_file)
else:
    print('nse_price exists')
 

 
if 'bse_price_data' not in locals():
    print('bse_price does not exist, processing')
    bse_price_data = bse_price(bse_price_file)
elif bse_price_data.empty:
    print('bse_price empty, processing')
    bse_price_data = bse_price(bse_price_file)
else:
    print('bse_price exists')
    
    
print('all done, proceed')

nse_dely exists
bse_dely exists
nse_price exists
bse_price exists
all done, proceed

In [42]:
bse_price_data

     BSE_Code    Date      Price  PrevClose Segment
0      500002  231102    4077.50    4053.10      A
1      500003  231102     288.80     283.90      A
2      500008  231102     618.15     618.00      A
3      500009  231102      37.98      38.75      XT
4      500012  231102      80.53      80.51      X
...       ...     ...        ...        ...     ...
4085   974979  231102  102102.00  102300.51      F
4086   974998  231102  100016.67  100250.00      F
4087   975035  231102  100000.00  100200.00      F
4088   975137  231102  100980.00  100775.00      F
4089   975154  231102  100000.00  100000.00      F

[4090 rows x 5 columns]

In [12]:
nse_dely_data['NSE_Delivery'] = nse_dely_data['NSE_Delivery'].astype(int)
nse_price_data['Price'] = nse_price_data['Price'].astype(float)
nse_price_data['PrevClose'] = nse_price_data['PrevClose'].astype(float)
nse_price_data['Traded'] = nse_price_data['Traded'].astype(int)

bse_dely_data['BSE_Delivery'] = bse_dely_data['BSE_Delivery'].astype(int)
bse_price_data['Price'] = bse_price_data['Price'].astype(float)
bse_price_data['PrevClose'] = bse_price_data['PrevClose'].astype(float)

In [13]:
### nse_dely_data has NSE_Code, Date, NSE_Delivery, Segment
### bse_dely_data has BSE_Code, Date, BSE_Delivery

### nse_price_data has NSE_Code	Date	Price	PrevClose	Segment	Traded
### bse_price_data has BSE_Code	Date	Price	PrevClose	Segment

In [14]:
## this section processes nse delivery and price file. Makes sure that stocks which are in BE segment and 
## therefore dont appear in nse delivery are taken from price file and new nse merged df is generated

### merging nse price and delivery files
nse_merged_df_out = pd.merge(nse_dely_data,nse_price_data, on = 'NSE_Code', how = 'outer')

### processing merged file
# Replace 'NSE_Delivery' with 'Traded' where 'NSE_Delivery' is NaN
nse_merged_df_out['NSE_Delivery'] = nse_merged_df_out['NSE_Delivery'].fillna(nse_merged_df_out['Traded'])

# Replace 'Date_x' with 'Date_y' where 'Date_x' is NaN
nse_merged_df_out['Date_x'] = nse_merged_df_out['Date_x'].fillna(nse_merged_df_out['Date_y'])

# Replace 'Segment_x' with 'Segment_y' where 'Segment_x' is NaN
nse_merged_df_out['Segment_x'] = nse_merged_df_out['Segment_x'].fillna(nse_merged_df_out['Segment_y'])

# Rename 'Segment_x' to 'Segment'
nse_merged_df_out.rename(columns={'Segment_x': 'Segment'}, inplace=True)

# Rename 'Date_x' to 'Date'
nse_merged_df_out.rename(columns={'Date_x': 'Date'}, inplace=True)

# Drop the 'Date_y' column
nse_merged_df_out.drop(columns=['Date_y'], inplace=True)

# Drop the 'Segment_y' column
nse_merged_df_out.drop(columns=['Segment_y'], inplace=True)

# Delete the 'Traded' column after replacement
nse_merged_df_out.drop(columns=['Traded'], inplace=True)

# Reset the index
nse_merged_df_out.reset_index(drop=True, inplace=True)

# add traded_value column

nse_merged_df_out['Traded_Value_lacs'] = (nse_merged_df_out['NSE_Delivery'] * nse_merged_df_out['Price'] / 100000).round(2)

#print(nse_merged_df_out)


#### nse_merged_df_out is NSE_Code	Date	NSE_Delivery	Segment	Price	PrevClose	Traded_Value_lacs

In [15]:
###merging bse price and delivery files

bse_merged_df_out = pd.merge(bse_dely_data,bse_price_data, on = 'BSE_Code', how = 'outer')



### processing bse merged file

bse_merged_df_out['Traded_Value_lacs'] = (bse_merged_df_out['BSE_Delivery'] * bse_merged_df_out['Price'] / 100000).round(2)

# Rename 'Date_x' to 'Date'
bse_merged_df_out.rename(columns={'Date_x': 'Date'}, inplace=True)

# Drop the 'Date_y' column
bse_merged_df_out.drop(columns=['Date_y'], inplace=True)
bse_merged_df_out = bse_merged_df_out[bse_merged_df_out['BSE_Code'] <= '599999']

bse_merged_df_out.reset_index(drop=True, inplace = True)

#print(bse_merged_df_out)


#### bse_merged_df_out is BSE_Code	Date	BSE_Delivery	Price	PrevClose	Segment	Traded_Value_lacs

In [16]:
## reading master file
### master file (csv) is Company Name	CD_NSE Symbol	CD_BSE Code	CD_Is Subsidiary	CD_Sector	CD_Industry1

#### TO FIX - MASTER FILE DOES NOT HAVE SM SEGMENT CODES

master_file = pd.read_csv(master_file_path, dtype={'CD_BSE Code': str})


###df.rename(columns={'old_column_name': 'new_column_name'}, inplace=True)
##df.rename(columns={'old_column_name': 'new_column_name'}, inplace=True)
### Inplace method (modifies the original DataFrame)
###df.drop(columns=['column1', 'column2'], inplace=True)

master_file.drop(columns=['CD_Is Subsidiary','CD_Sector','CD_Industry1'], inplace = True )
master_file.rename(columns={'CD_NSE Symbol': 'NSE_Code', 'CD_BSE Code': 'BSE_Code'}, inplace= True )


#### master_file df is Company Name	NSE_Code	BSE_Code

#print(master_file)

In [17]:
## Merge NSE df with master file 

master_file = pd.merge(master_file,nse_merged_df_out, on= "NSE_Code", how = 'outer')
#master_file.dropna(subset=['Company Name'], inplace=True)


## merge bse df  with master file 
master_file = pd.merge(master_file,bse_merged_df_out, on ="BSE_Code", how = "outer")
#master_file.dropna(subset=['Company Name'], inplace=True)

# Drop records where both 'NSE_Code' and 'BSE_Code' are NaN or blank
master_file.dropna(subset=['NSE_Code', 'BSE_Code'], how='all', inplace=True)

# Reset the index after dropping rows
master_file.reset_index(drop=True, inplace=True)

# Drop records where both 'NSE_Delivery' and 'BSE_Delivery' are 0 or blank or NaN
master_file = master_file[~((master_file['NSE_Delivery'] == 0) & (master_file['BSE_Delivery'] == 0))]

# Reset the index after dropping rows
master_file.reset_index(drop=True, inplace=True)


# Trim "Company Name" column to a maximum length of 20 characters
master_file['Company Name'] = master_file['Company Name'].str.slice(0, 30)


# Reset the index after dropping rows
master_file.reset_index(drop=True, inplace=True)

#print(master_file)

In [18]:

# Identify the data types of each column
column_data_types = master_file.dtypes

# Replace NaN values in object columns with empty strings ("")
object_columns = master_file.select_dtypes(include='object').columns
master_file[object_columns] = master_file[object_columns].fillna("")

# Replace NaN values in float/integer columns with 0
numeric_columns = master_file.select_dtypes(include=['float64', 'int64']).columns
master_file[numeric_columns] = master_file[numeric_columns].fillna(0)

# Print the resulting DataFrame
#print(master_file)

#master_file.info()

In [19]:
# Define a custom function to replace Price_x with Price_y if Price_x is 0
def replace_price_x(row):
    if row['Price_x'] == 0:
        return row['Price_y']
    else:
        return row['Price_x']

    
def replace_prevclose_x(row):
    if row['PrevClose_x'] == 0:
        return row['PrevClose_y']
    else:
        return row['PrevClose_x']
    
    
def replace_segment(row):
    if row['Segment_x'] == "":
        return row['Segment_y']
    else:
        return row['Segment_x']

# Apply the custom function to the DataFrame
master_file['Price_x'] = master_file.apply(replace_price_x, axis=1)
master_file['PrevClose_x'] = master_file.apply(replace_prevclose_x, axis=1)

# Rename 'Price_x' column to 'Price'
master_file.rename(columns={'Price_x': 'Price'}, inplace=True)
master_file.rename(columns={'PrevClose_x':'PrevClose'}, inplace=True)

### segment

master_file['Segment_x'] = master_file.apply(replace_segment, axis = 1)
master_file.rename(columns={'Segment_x' :'Segment'}, inplace = True)

### add total delivery column
master_file['Total_Delivery'] = master_file['NSE_Delivery'] + master_file['BSE_Delivery']
master_file['Total_Delivery'] = master_file['Total_Delivery'].astype(int)

## add total traded value colum

master_file['Total_Traded_Value'] = ( master_file['Total_Delivery'] * master_file['Price'] ) / 100000



### reorder columns

columns_to_copy = ['Company Name','Total_Delivery', 'Price','PrevClose','Total_Traded_Value' ,'NSE_Code','BSE_Code','Segment']

# Create a new DataFrame 'final_master_file' with the desired columns
final_master_file = master_file[columns_to_copy].copy()

#### create sme file
sme_segment = ['SM','ST','M ']
sme_delivery = final_master_file[final_master_file['Segment'].isin(sme_segment)]
sme_delivery.reset_index(drop=True, inplace=True)

# Drop records where Total_Traded_Value is below 1000
final_master_file = final_master_file[final_master_file['Total_Traded_Value'] >= 1000]

In [20]:
###creating separate file for fno delivery and non fno delivery

# Filter final_master_file to get fno_delivery by checking if NSE_Code is in fno_symbols
fno_delivery = final_master_file[final_master_file['NSE_Code'].isin(fno_symbols)]
fno_delivery_final = fno_delivery[['NSE_Code', 'Total_Delivery', 'Price','PrevClose', 'Total_Traded_Value']].copy()


# Create non_fno_delivery by dropping rows where NSE_Code is in fno_symbols
non_fno_delivery = final_master_file[~final_master_file['NSE_Code'].isin(fno_symbols)]

# Reset index inplace for fno_delivery and non_fno_delivery
fno_delivery_final.reset_index(drop=True, inplace=True)
non_fno_delivery.reset_index(drop=True, inplace=True)

In [31]:
sme_delivery

,Company Name,Total_Delivery,Price,PrevClose,Total_Traded_Value,NSE_Code,BSE_Code,Segment
0,Ahasolar Technologies Ltd.,10400,269.00,275.00,27.9760,,543941,M
1,Kaka Industries Ltd.,58000,171.45,168.65,99.4410,,543939,M
2,Acceleratebs India Ltd.,3200,242.00,240.90,7.7440,,543938,M
3,Alphalogic Industries Ltd.,9600,290.50,305.75,27.8880,,543937,M
4,Veefin Solutions Ltd.,11200,212.75,208.35,23.8280,,543931,M
...,...,...,...,...,...,...,...,...
322,Committed Cargo Care,52800,73.40,70.85,38.7552,COMMITTED,,SM
323,Arvind and Company Shipping Ag,180000,65.10,68.50,117.1800,ACSAL,,ST
324,Rajgor Castor Derivatives Ltd,513000,59.15,62.05,303.4395,RCDL,,ST
325,On Door Concepts Limited,113400,193.35,203.40,219.2589,ONDOOR,,ST
326,,28800,149.20,142.10,42.9696,WOMANCART,,ST

In [21]:
segment_var = ['SM','ST','M ']
final_master_file.info()
 ##Count the records in each segment
segment_counts = master_file['Segment_y'].value_counts()

print(segment_counts)

<class 'pandas.core.frame.DataFrame'>
Int64Index: 400 entries, 19 to 4798
Data columns (total 8 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Company Name        400 non-null    object
 1   Total_Delivery      400 non-null    int32
 2   Price               400 non-null    float64
 3   PrevClose           400 non-null    float64
 4   Total_Traded_Value  400 non-null    float64
 5   NSE_Code            400 non-null    object
 6   BSE_Code            400 non-null    object
 7   Segment             400 non-null    object
dtypes: float64(3), int32(1), object(4)
memory usage: 26.6+ KB
      1163
B     1034
X      805
XT     718
A      710
T      284
M      133
Z       66
E       21
F       18
P       11
MT       9
IF       7
MS       5
TS       1
ZP       1
Name: Segment_y, dtype: int64

In [22]:
### creating top 50 by value and by volume for fno and non-fno

def top_n(df,n, column_name, trade_amt):
    
    df_filtered = df[df['Total_Traded_Value'] > trade_amt]
    top_n = df_filtered.nlargest(n,column_name).sort_values(column_name, ascending = False)
    return top_n

df_value_50 = top_n(non_fno_delivery,50,'Total_Traded_Value', 250)
df_volume_50 = top_n(non_fno_delivery,50,'Total_Delivery', 250)

fno_value_50 = top_n(fno_delivery,50,'Total_Traded_Value', 1000)
fno_volume_50 = top_n(fno_delivery,50,'Total_Delivery', 1000)

fno_columns = ['NSE_Code', 'Total_Delivery','Price','PrevClose','Total_Traded_Value']

fno_value_50 = fno_value_50[fno_columns]
fno_volume_50 = fno_volume_50[fno_columns]

sme_value_50 = top_n(sme_delivery,50,'Total_Traded_Value', 100)

###########################

###########################

## write to excel -- non_fno value and volume is merged by concat and saved for multiple scrips report (7-day history)
#### sme_csv is similarly saved for 7-day history report

df_non_fno = pd.concat([df_value_50, df_volume_50])
df_non_fno_wl = df_non_fno[['NSE_Code']]

df_fno = pd.concat([fno_value_50, fno_volume_50])


# Reset the index of the series
df_non_fno_wl.reset_index(drop=True, inplace=True)


### define csv files
output_non_fno = output_path + "0_non_fno.csv"
output_non_fno_date = output_path + "0_non_fno "+nse_dely_date+".csv"
output_non_fno_wl = output_path + "0_non_fno_wl "+nse_dely_date+".csv"


output_fno = output_path + "fno.csv"

output_sme_nodate = output_path + 'sme_csv.csv'
output_sme = output_path + 'sme ' + nse_dely_date +'.csv'

### write to csv
df_non_fno.to_csv(output_non_fno, index = False)
df_non_fno.to_csv(output_non_fno_date, index = False)
df_non_fno_wl.to_csv(output_non_fno_wl, index = False)

df_fno.to_csv(output_fno, index = False)

sme_delivery.to_csv(output_sme, index=False)
sme_value_50.to_csv(output_sme_nodate)

In [23]:





def print_formatted_rows(df, columns_to_select):
    # Iterate over the DataFrame and print each row
    for i, (_, row) in enumerate(df.iterrows(), 1):
        p_coname = row[columns_to_select[0]].ljust(40)
        p_dely = f"{row[columns_to_select[1]]:,.0f}".rjust(15)
        p_price = f"{row[columns_to_select[2]]:,.2f}".rjust(12)
        p_prevclose = f"{row[columns_to_select[3]]:,.2f}".rjust(12)
        p_trade_value = f"{row[columns_to_select[4]]:,.2f}".rjust(18)
        p_nse_code = row[columns_to_select[5]].ljust(10)
        
        print(f"{p_coname}{p_dely}{p_price}{p_prevclose}{p_trade_value}    {p_nse_code}")

        # Check if the current row index is a multiple of 5, and insert a blank line
        if i % 5 == 0:
            print()

def fno_formatted_rows(df, columns_to_select):
    
    # Iterate over the DataFrame and print each row
    for i, (_, row) in enumerate(df.iterrows(),1):
        p_nse_code = row[columns_to_select[0]].ljust(10)
        p_dely = f"{row[columns_to_select[1]]:,.0f}".rjust(15)
        p_price = f"{row[columns_to_select[2]]:,.2f}".rjust(12)
        p_prevclose = f"{row[columns_to_select[3]]:,.2f}".rjust(12)
        p_trade_value = f"{row[columns_to_select[4]]:,.2f}".rjust(12)
        
        print(f"{p_nse_code}{p_dely}{p_price}{p_prevclose}{p_trade_value}")
        
        # Check if the current row index is a multiple of 5, and insert a blank line
        if i % 5 == 0:
            print()

In [24]:
columns_to_select = ['Company Name', 'Total_Delivery', 'Price', 'PrevClose','Total_Traded_Value', 'NSE_Code']
col_length = [40,15,12,12,18,10]
formatted_columns = [col + ' ' * (length - len(col)) for col, length in zip(columns_to_select, col_length)]
print(formatted_columns)

['Company Name                            ', 'Total_Delivery ', 'Price       ', 'PrevClose   ', 'Total_Traded_Value', 'NSE_Code  ']

In [25]:
##columns selection for printing
columns_to_select = ['Company Name', 'Total_Delivery', 'Price','PrevClose', 'Total_Traded_Value', 'NSE_Code']
col_length = [40,15,12,18,10]
fno_columns_to_select = ['NSE_Code', 'Total_Delivery', 'Price','PrevClose', 'Total_Traded_Value']



print("Top 50 deliveries by value/volume non-FnO FnO and SME ", nse_dely_date)
print("")
print("")
#print(nse_dely_date)
#print()
print("                          Top 50 delivery by value NON FNO ", nse_dely_date)
print("")
print("Company Name                                ", '  Dely_Qty','      Price','   PrevClose','           Value','   NSECode')
print("")
print_formatted_rows(df_value_50,columns_to_select)
print("")
print("")
print("")


print("                        Top 50 delivery by volume NON FNO ", nse_dely_date)
print("")
print("Company Name                                ", '  Dely_Qty','      Price','   PrevClose','           Value','   NSECode')
print("")

print_formatted_rows(df_volume_50,columns_to_select)
print("")
print("")
print("")


#### printing for fno
print("          Top 50 FNO Delivery by value ", nse_dely_date)
print("")
print("NSECode       ",'  Dely_Qty','      Price','   PrevClose','    Value' )
print("")
fno_formatted_rows(fno_value_50,fno_columns_to_select)
print("")
print("")
print("")

print("             Top 50 FNO Delivery by volume ", nse_dely_date)
print("")
print("NSECode       ",'  Dely_Qty','      Price','   PrevClose','   Value' )
print("")

fno_formatted_rows(fno_volume_50,fno_columns_to_select)
print("")
print("")
print("")


print("                          Top 50 delivery by value SME ", nse_dely_date)
print("")
print("Company Name                                ", '  Dely_Qty','      Price','   PrevClose','           Value','   NSECode')
print("")
print_formatted_rows(sme_value_50,columns_to_select)
print("")
print("")
print("")

Top 50 deliveries by value/volume non-FnO FnO and SME  231102


                          Top 50 delivery by value NON FNO  231102

Company Name                                   Dely_Qty       Price    PrevClose            Value    NSECode

Suzlon Energy Ltd.                           71,065,878       32.65       31.30         23,203.01    SUZLON
Zomato Ltd.                                  18,854,503      107.55      103.70         20,278.02    ZOMATO
JIO Financial Services                        8,868,148      217.35      217.65         19,274.92    JIOFIN
Central Depository Services (I                1,239,712    1,521.20    1,501.75         18,858.50    CDSL
                                              1,864,731      999.99    1,000.00         18,647.12    LIQUIDBEES

Adani Power Ltd.                              4,793,633      372.95      365.20         17,877.85    ADANIPOWER
APL Apollo Tubes Ltd.                           970,942    1,559.90    1,526.60         15,145.72    APLAPOLLO
SJVN Ltd.                                    18,066,703       74.90       71.05         13,531.96    SJVN
Macrotech Developers Ltd.                     1,582,271      850.25      803.95         13,453.26    LODHA
Union Bank Of India                          12,534,873      105.85      103.25         13,268.16    UNIONBANK

Minda Corporation Ltd.                        3,805,375      337.40      339.20         12,839.34    MINDACORP
Jaiprakash Associates Ltd.                   66,152,322       18.30       16.05         12,105.87    JPASSOCIAT
Jaiprakash Power Ventures Ltd.              111,518,404       10.40        9.70         11,597.91    JPPOWER
Gujarat Mineral Development Co                3,188,934      324.15      351.90         10,336.93    GMDCLTD
Vedant Fashions Ltd.                            763,943    1,304.60    1,295.15          9,966.40    MANYAVAR

Aptus Value Housing Finance In                3,119,792      289.80      286.15          9,041.16    APTUS
KPIT Technologies Ltd.                          689,397    1,221.10    1,213.85          8,418.23    KPITTECH
BSE Ltd.                                        466,960    1,771.05    1,794.60          8,270.10    BSE
JK Tyre & Industries Ltd.                     2,441,828      337.25      308.15          8,235.06    JKTYRE
Syrma SGS Technology Ltd.                     1,524,821      524.50      597.65          7,997.69    SYRMA

                                                793,961      999.99      999.99          7,939.53    LIQUIDETF
KEI Industries Ltd.                             298,585    2,585.70    2,470.10          7,720.51    KEI
One97 Communications Ltd.                       814,904      921.25      913.35          7,507.30    PAYTM
Endurance Technologies Ltd.                     439,359    1,600.15    1,583.50          7,030.40    ENDURANCE
Blue Jet Healthcare Limited                   1,635,330      406.95      413.40          6,654.98    BLUEJET

Indian Railway Finance Corpora                9,102,972       73.05       72.95          6,649.72    IRFC
Natco Pharma Ltd.                               827,576      733.60      741.55          6,071.10    NATCOPHARM
LT Foods Ltd.                                 3,144,502      189.85      169.05          5,969.84    DAAWAT
Finolex Cables Ltd.                             636,208      908.45      922.65          5,779.63    FINCABLES
Radico Khaitan Ltd.                             436,604    1,279.25    1,223.40          5,585.26    RADICO

The Karnataka Bank Ltd.                       2,556,667      217.35      234.70          5,556.92    KTKBANK
Signature Global                                912,736      603.35      579.00          5,506.99    SIGNATURE
Tata Motors Ltd. - DVR Ordinar                1,248,107      432.10      423.55          5,393.07    TATAMTRDVR
                                              2,494,626      211.64      209.99          5,279.63    NIFTYBEES
Electrosteel Castings Ltd.                    5,831,132       89.20       83.15          5,201.37    ELECTCAST

Bajaj Hindusthan Sugar Ltd.                  17,939,060       28.85       28.20          5,175.42    BAJAJHIND
The Phoenix Mills Ltd.                          250,844    1,977.60    1,894.80          4,960.69    PHOENIXLTD
Avenue Supermarts Ltd.                          135,971    3,647.45    3,639.45          4,959.47    DMART
Bank Of India                                 4,944,759      100.10       98.05          4,949.70    BANKINDIA
Varun Beverages Ltd.                            532,230      926.15      918.25          4,929.25    VBL

Thomas Cook (India) Ltd.                      3,346,355      142.45      135.70          4,766.88    THOMASCOOK
Jubilant Ingrevia Ltd.                        1,128,987      419.45      411.65          4,735.54    JUBLINGREA
Piramal Pharma Ltd.                           4,190,819      106.55      106.60          4,465.32    PPLPHARMA
Cigniti Technologies Ltd.                       390,469    1,121.20    1,031.20          4,377.94    CIGNITITEC
Railtel Corporation Of India L                1,863,148      232.90      221.30          4,339.27    RAILTEL

Reliance Power Ltd.                          23,691,605       18.25       17.40          4,323.72    RPOWER
Yes Bank Ltd.                                26,612,834       16.05       16.00          4,271.36    YESBANK
Praveg Ltd.                                     697,223      608.35      560.45          4,241.56
JSW Energy Ltd.                               1,060,494      394.10      376.95          4,179.41    JSWENERGY
Easy Trip Planners Ltd.                       9,840,307       42.10       40.80          4,142.77    EASEMYTRIP




                        Top 50 delivery by volume NON FNO  231102

Company Name                                   Dely_Qty       Price    PrevClose            Value    NSECode

Jaiprakash Power Ventures Ltd.              111,518,404       10.40        9.70         11,597.91    JPPOWER
Suzlon Energy Ltd.                           71,065,878       32.65       31.30         23,203.01    SUZLON
Jaiprakash Associates Ltd.                   66,152,322       18.30       16.05         12,105.87    JPASSOCIAT
RattanIndia Power Ltd.                       31,967,031        6.95        7.10          2,221.71    RTNPOWER
Yes Bank Ltd.                                26,612,834       16.05       16.00          4,271.36    YESBANK

Reliance Power Ltd.                          23,691,605       18.25       17.40          4,323.72    RPOWER
Orient Green Power Company Ltd               21,102,208       14.45       13.80          3,049.27    GREENPOWER
Zomato Ltd.                                  18,854,503      107.55      103.70         20,278.02    ZOMATO
SJVN Ltd.                                    18,066,703       74.90       71.05         13,531.96    SJVN
Bajaj Hindusthan Sugar Ltd.                  17,939,060       28.85       28.20          5,175.42    BAJAJHIND

SEPC Ltd.                                    13,381,191       22.00       20.00          2,943.86    SEPC
Infibeam Avenues Ltd.                        13,342,376       19.65       18.95          2,621.78    INFIBEAM
PTC India Financial Services L               12,560,384       31.95       27.65          4,013.04    PFS
Union Bank Of India                          12,534,873      105.85      103.25         13,268.16    UNIONBANK
Hindustan Construction Company               10,573,291       26.70       25.95          2,823.07    HCC

Easy Trip Planners Ltd.                       9,840,307       42.10       40.80          4,142.77    EASEMYTRIP
Indian Railway Finance Corpora                9,102,972       73.05       72.95          6,649.72    IRFC
JIO Financial Services                        8,868,148      217.35      217.65         19,274.92    JIOFIN
Dish TV India Ltd.                            7,646,840       16.75       16.80          1,280.85    DISHTV
Bank Of Maharashtra                           7,271,182       42.70       41.35          3,104.79    MAHABANK

The South Indian Bank Ltd.                    7,240,793       24.50       24.15          1,773.99    SOUTHBANK
NHPC Ltd.                                     6,426,471       50.50       49.50          3,245.37    NHPC
IRB Infrastructure Developers                 6,072,072       33.95       33.50          2,061.47    IRB
NBCC (India) Ltd.                             5,929,283       67.35       65.95          3,993.37    NBCC
Electrosteel Castings Ltd.                    5,831,132       89.20       83.15          5,201.37    ELECTCAST

IFCI Ltd.                                     5,773,692       22.55       21.65          1,301.97    IFCI
Indian Overseas Bank                          5,156,350       39.80       39.10          2,052.23    IOB
Bank Of India                                 4,944,759      100.10       98.05          4,949.70    BANKINDIA
Adani Power Ltd.                              4,793,633      372.95      365.20         17,877.85    ADANIPOWER
GMR Power and Urban Infra Ltd.                4,638,909       32.10       30.60          1,489.09    GMRP&UI

Piramal Pharma Ltd.                           4,190,819      106.55      106.60          4,465.32    PPLPHARMA
Equitas Small Finance Bank Ltd                4,100,333       97.80       94.60          4,010.13    EQUITASBNK
Bliss GVS Pharma Ltd.                         3,931,658       96.60       84.00          3,797.98    BLISSGVS
Minda Corporation Ltd.                        3,805,375      337.40      339.20         12,839.34    MINDACORP
Ujjivan Small Finance Bank Ltd                3,742,077       53.05       52.20          1,985.17    UJJIVANSFB

IDBI Bank Ltd.                                3,511,041       62.50       60.15          2,194.40    IDBI
Apollo Micro Systems Ltd.                     3,372,149       96.55       98.30          3,255.81    APOLLO
Thomas Cook (India) Ltd.                      3,346,355      142.45      135.70          4,766.88    THOMASCOOK
UCO Bank                                      3,324,222       37.85       37.45          1,258.22    UCOBANK
Gujarat Mineral Development Co                3,188,934      324.15      351.90         10,336.93    GMDCLTD

LT Foods Ltd.                                 3,144,502      189.85      169.05          5,969.84    DAAWAT
Aptus Value Housing Finance In                3,119,792      289.80      286.15          9,041.16    APTUS
Motherson Sumi Wiring India Lt                3,081,807       58.65       59.10          1,807.48    MSUMI
                                              3,010,495       51.85       51.76          1,560.94    GOLDBEES
NMDC Steel Ltd.                               2,921,515       40.00       39.40          1,168.61    NSLNISP

Central Bank Of India                         2,710,331       44.00       43.15          1,192.55    CENTRALBK
Wardwizard Innovations & Mobil                2,563,166       47.61       46.30          1,220.32
The Karnataka Bank Ltd.                       2,556,667      217.35      234.70          5,556.92    KTKBANK
                                              2,494,626      211.64      209.99          5,279.63    NIFTYBEES
Housing & Urban Development Co                2,446,969       75.50       74.20          1,847.46    HUDCO




          Top 50 FNO Delivery by value  231102

NSECode          Dely_Qty       Price    PrevClose     Value

HDFCBANK       15,768,835    1,476.75    1,474.50  232,866.27
RELIANCE        2,653,042    2,320.20    2,297.40   61,555.88
RECLTD         16,071,476      302.40      282.85   48,600.14
BHARTIARTL      4,308,577      923.85      913.45   39,804.79
ICICIBANK       4,014,828      919.95      914.05   36,934.41

INDUSINDBK      2,288,792    1,461.20    1,432.60   33,443.83
MARUTI            321,352   10,303.60   10,227.75   33,110.82
TATASTEEL      26,212,607      118.10      116.60   30,957.09
BAJFINANCE        394,354    7,449.10    7,471.90   29,375.82
IOC            29,979,151       95.05       92.45   28,495.18

PFC            10,903,072      257.65      242.20   28,091.77
TATAMOTORS      4,149,544      636.45      627.70   26,409.77
IDEA          179,280,155       13.75       12.80   24,651.02
HINDUNILVR        967,826    2,486.80    2,472.25   24,067.90
INFY            1,720,160    1,370.15    1,354.15   23,568.77

SBIN            3,693,540      572.10      566.40   21,130.74
SUNPHARMA       1,847,967    1,132.85    1,116.20   20,934.69
KOTAKBANK       1,085,098    1,737.70    1,724.40   18,855.75
TCS               559,666    3,360.10    3,330.65   18,805.34
LT                628,680    2,918.10    2,895.30   18,345.51

POWERGRID       8,878,661      203.10      200.95   18,032.56
TECHM           1,531,483    1,115.50    1,125.10   17,083.69
ITC             3,863,438      431.15      428.10   16,657.21
DRREDDY           308,391    5,338.50    5,346.45   16,463.45
ASIANPAINT        526,416    2,955.40    2,934.55   15,557.70

GODREJCP        1,567,532      991.15      974.65   15,536.59
AXISBANK        1,543,588      982.95      971.80   15,172.70
ONGC            7,977,148      186.20      186.70   14,853.45
M&M               960,118    1,469.70    1,454.60   14,110.85
POLYCAB           277,999    5,051.60    4,900.65   14,043.40

LUPIN           1,195,124    1,169.20    1,132.75   13,973.39
HEROMOTOCO        456,117    3,052.10    3,092.45   13,921.15
NESTLEIND          57,390   24,111.80   23,872.70   13,837.76
BANKBARODA      6,767,643      199.90      195.50   13,528.52
TATAPOWER       4,734,720      244.80      236.90   11,590.59

GAIL            8,881,587      122.05      117.60   10,839.98
BRITANNIA         232,457    4,527.25    4,397.30   10,523.91
DIXON             187,815    5,330.00    5,181.30   10,010.54
BPCL            2,709,635      360.55      356.90    9,769.59
INDUSTOWER      5,010,380      190.15      180.60    9,527.24

ADANIENT          419,583    2,215.30    2,217.30    9,295.02
RBLBANK         4,185,577      221.95      218.20    9,289.89
SHRIRAMFIN        464,796    1,954.85    1,902.25    9,086.06
VEDL            3,899,729      229.15      223.75    8,936.23
AUBANK          1,339,414      666.75      668.65    8,930.54

CIPLA             738,177    1,208.50    1,201.25    8,920.87
GODREJPROP        514,268    1,716.00    1,664.25    8,824.84
LICHSGFIN       1,871,262      448.70      457.35    8,396.35
TITAN             258,495    3,201.50    3,173.40    8,275.72
TATACOMM          480,053    1,714.85    1,671.65    8,232.19




             Top 50 FNO Delivery by volume  231102

NSECode          Dely_Qty       Price    PrevClose    Value

IDEA          179,280,155       13.75       12.80   24,651.02
IOC            29,979,151       95.05       92.45   28,495.18
TATASTEEL      26,212,607      118.10      116.60   30,957.09
RECLTD         16,071,476      302.40      282.85   48,600.14
HDFCBANK       15,768,835    1,476.75    1,474.50  232,866.27

PFC            10,903,072      257.65      242.20   28,091.77
PNB             9,356,258       74.25       72.90    6,947.02
GAIL            8,881,587      122.05      117.60   10,839.98
POWERGRID       8,878,661      203.10      200.95   18,032.56
IDFCFIRSTB      8,798,650       82.30       81.10    7,241.29

ONGC            7,977,148      186.20      186.70   14,853.45
BANKBARODA      6,767,643      199.90      195.50   13,528.52
BHEL            6,159,428      128.05      121.55    7,887.15
IDFC            5,161,814      113.20      112.90    5,843.17
INDUSTOWER      5,010,380      190.15      180.60    9,527.24

SAIL            4,754,450       85.05       82.90    4,043.66
TATAPOWER       4,734,720      244.80      236.90   11,590.59
NMDC            4,406,922      159.90      153.65    7,046.67
BHARTIARTL      4,308,577      923.85      913.45   39,804.79
RBLBANK         4,185,577      221.95      218.20    9,289.89

TATAMOTORS      4,149,544      636.45      627.70   26,409.77
ASHOKLEY        4,134,111      168.50      165.10    6,965.98
ICICIBANK       4,014,828      919.95      914.05   36,934.41
MOTHERSON       3,927,036       92.00       91.90    3,612.87
VEDL            3,899,729      229.15      223.75    8,936.23

ITC             3,863,438      431.15      428.10   16,657.21
SBIN            3,693,540      572.10      566.40   21,130.74
PETRONET        3,157,577      195.00      193.75    6,157.28
DELTACORP       3,024,992      134.70      125.15    4,074.66
NTPC            2,867,323      235.25      232.60    6,745.38

FEDERALBNK      2,752,433      141.45      140.50    3,893.32
BPCL            2,709,635      360.55      356.90    9,769.59
L&TFH           2,660,036      134.30      131.85    3,572.43
RELIANCE        2,653,042    2,320.20    2,297.40   61,555.88
BEL             2,466,721      134.75      132.40    3,323.91

ZEEL            2,441,115      269.35      267.70    6,575.14
COALINDIA       2,424,065      308.85      306.65    7,486.72
INDUSINDBK      2,288,792    1,461.20    1,432.60   33,443.83
BANDHANBNK      1,956,121      214.95      213.50    4,204.68
GMRINFRA        1,935,804       56.00       54.25    1,084.05

LICHSGFIN       1,871,262      448.70      457.35    8,396.35
SUNPHARMA       1,847,967    1,132.85    1,116.20   20,934.69
IBULHSGFIN      1,818,829      165.80      161.15    3,015.62
M&MFIN          1,779,197      250.95      246.90    4,464.89
CANBK           1,769,877      388.15      383.30    6,869.78

INFY            1,720,160    1,370.15    1,354.15   23,568.77
CUB             1,682,574      137.45      137.35    2,312.70
HINDPETRO       1,573,441      255.20      251.95    4,015.42
GODREJCP        1,567,532      991.15      974.65   15,536.59
CROMPTON        1,559,100      283.10      276.70    4,413.81




                          Top 50 delivery by value SME  231102

Company Name                                   Dely_Qty       Price    PrevClose            Value    NSECode

Varanium Cloud Ltd.                             621,000      141.40      134.70            878.09    CLOUD
Insolation Energy Ltd.                           97,000      585.05      531.90            567.50
Drone Destination Ltd.                          380,000      139.25      126.85            529.15    DRONE
Khazanchi Jewellers Ltd                         172,000      290.50      246.55            499.66
Cellcor Gadgets                                 204,000      219.60      239.90            447.98    CELLECOR

Essen Speciality Films Ltd.                     235,200      182.45      171.35            429.12    ESFL
HiGreen Carbon                                  236,800      151.40      148.55            358.52    HIGREEN
VishnuSurya Infra                               202,000      155.85      160.00            314.82    VISHNUINFR
Kotyark Industries Ltd.                          38,400      805.15      760.15            309.18    KOTYARK
Rajgor Castor Derivatives Ltd                   513,000       59.15       62.05            303.44    RCDL

Meson Valves Limited                             74,400      351.15      336.15            261.26
Sunita Tools                                    147,000      172.55      159.30            253.65
Systango Technologies Ltd.                       81,600      272.95      248.15            222.73    SYSTANGO
On Door Concepts Limited                        113,400      193.35      203.40            219.26    ONDOOR
Macfos Ltd.                                      64,800      300.30      300.25            194.59

Tara Chand Infralogistic Solut                  112,000      173.65      163.40            194.49    TARACHAND
Jeena Sikho Lifecare Ltd.                        23,760      801.55    1,403.25            190.45    JSLL
Basilic Fly Studio                               63,600      289.60      289.50            184.19    BASILIC
Proventus Agrocom Ltd.                           15,200    1,182.25    1,176.65            179.70    PROV

In [26]:
sorted_df = bse_dely_data.sort_values(by='BSE_Delivery', ascending = False)
sorted_df

     BSE_Code    Date  BSE_Delivery
2303   532822  231102      37549867
2181   532627  231102      19394676
2205   532667  231102      18636254
2479   533263  231102      12608896
2432   533122  231102       6348203
...       ...     ...           ...
3349   543181  231102             1
4089   975154  231102             1
3826   800253  231102             0
3576   543577  231102             0
3957   937587  231102             0

[4090 rows x 3 columns]

In [27]:
######### fromatting text
text = "Hello"
width = 10

left_justified_text = text.ljust(width)
print(left_justified_text)  # Output: "Hello     "

########### formatting numbers

# Example decimal value
value = 1234567.89

# Format the decimal value with 2 decimal points and commas
formatted_value = f'{value:,.2f}'

# Specify the desired width for right-justification
width = 15

# Right-justify the formatted value to the specified width
right_justified_value = formatted_value.rjust(width)

# Print the result
print(right_justified_value)

################# adding both

# Example string and number
text = "Total Traded Value:"
value = 1234567.89

# Format the number with 2 decimal points and commas
formatted_value = f'{value:,.2f}'

# Concatenate the string and the formatted number
result_string = f'{text} {formatted_value}'

# Print the result
print(result_string)


##### adding spaces
# Calculate the number of spaces needed to make the total length 50 characters
num_spaces = 30 - len(text)

# Concatenate the text with the required number of spaces and the formatted value
result_string = text + ' ' * num_spaces + formatted_value

# Print the result
print(result_string)

Hello
   1,234,567.89
Total Traded Value: 1,234,567.89
Total Traded Value:           1,234,567.89

In [28]:
# Value to match against
#target_name = 'Charlie'

# Locate the record(s) matching the value in the 'Name' column
#matching_records = df[df['Name'] == target_name]

#volume = 3551452
#find_nse_symbol = nse_merged_df_out[nse_merged_df_out['NSE_Delivery']== volume]
#find_nse_symbol

In [29]:
import pandas as pd

# Example DataFrame (replace with your actual DataFrame)
data = {
    'Name': ['John', 'Alice', 'Bob'],
    'Age': [30, 25, 22],
    'City': ['New York', 'London', 'Paris']
}

df = pd.DataFrame(data)

# Add the 'Salary' column with the given values
df['Salary'] = [30000, 49304.35, 2938]

# Format the 'Salary' column with 2 decimal points and commas
df['Formatted Salary'] = df['Salary'].apply(lambda x: f'{x:,.2f}')

# Remove headers and iterate through rows using iterrows()
for _, row in df.iterrows():
    name = row['Name'].ljust(20)
    age = str(row['Age']).rjust(9)
    city = row['City'].ljust(30)
    salary = f"{row['Salary']:,.2f}".rjust(15)
    print(f"{name}{age}  {city}{salary}")

John                       30  New York                            30,000.00
Alice                      25  London                              49,304.35
Bob                        22  Paris                                2,938.00